﻿
  /*480px*/
  @media (max-width: @screen-sm) {
   
  }

  /*768px*/
  @media (max-width: @screen-md) {

  }
  
  /*1000px*/
  @media (max-width: @screen-lg) {

  }
  
  /*1000px - 1800px*/
  @media (max-width: @screen-xl) {

  }
  
  /*2400px*/
  @media (min-width: @screen-xxl) {

  }