/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Primary style */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  flex-direction: column;
  display: flex;
  font-size: @font-normal;
  font-family: @font-primary, sans-serif;
  color: @text-color;
  background-color: @color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: @header-height;
}

.content{
  padding: 0 60px;
}

h1, .h1{
  font-size: @h1;
  line-height: @h1*2;
  font-weight: @font-bold;
  color: @color-black-primary;
}
h2, .h2{
  font-size: @h2;
  line-height: @h2*2;
  font-weight: @font-bold;
  color: @color-black-primary;
}
h3, .h3{
  font-size: @h3;
  line-height: @h3*2;
  font-weight: @font-bold;
  color: @color-black-primary;
}
h4, .h4{
  font-size: @h4;
  line-height: @h4*2;
  font-weight: @font-bold;
  color: @color-black-primary;
}
h5, .h5{
  font-size: @h5;
  line-height: @h5*2;
  font-weight: @font-bold;
  color: @color-black-primary;
}
h6, .h6{
  font-size: @h6;
  line-height: @h6*2;
  font-weight: @font-black;
  color: @color-black-primary;
}

a {
  color: @color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    //text-decoration: underline;
  }
}

p{
  font-size: @font-normal;
  line-height: @line-height;
  padding: @font-normal/2 0;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/*Colors*/
.text-primary{
  color: @color-primary;
}
.text-success{
  color: @color-success;
}
.text-warning{
  color: @color-warning;
}
.text-danger{
  color: @color-danger;
}
.text-muted{
  color: @color-black-disabled;
}
.text-disabled{
  color: @color-black-disabled;
}


/*Adaptivity*/

  /*480px*/
  @media (min-width: @screen-sm) {
      .content{
          padding: 0 @grid-gutter-width/3;
      }
  }

  /*768px*/
  @media (min-width: @screen-md) {
      .content{
          padding: 0 @grid-gutter-width/2;
      }
  }
  
  /*1000px*/
  @media (min-width: @screen-lg) {
      .content{
          padding: 0 @grid-gutter-width;
      }
  }
  
  /*1800px*/
  @media (min-width: @screen-xl) {
      .content{
          padding: 0 @grid-gutter-width*2;
      }
  }
  
  /*2400px*/
  @media (min-width: @screen-xxl) {

  }

/* Angular hacks */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}