﻿.geo-list {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 15px @color-black-divider;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background: #fafafa;
    padding: 10px 15px;
    z-index: 1;

    &_content {
        padding-top: 15px;
        &--list{
            .row(0);
            height: 330px;
            width: 270px;
            overflow-y: auto;
            overflow-x: hidden;
            text-align: left;

            &>li{
                padding: 0 15px;
                cursor: pointer;
                height: 33px;
                &:hover{
                    color: @color-primary;
                }
                &>p{
                    .ellipsis();
                }
            }
        }
    }

    &>h4{
        display: block;
        position: relative;
        float: none;
        text-align: center;
        font-size: @font-medium;
        line-height: 30px;
        margin: -10px -15px 0;
        background: rgba(0,0,0,0.06);

        &:before{
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #f0f0f0;
        }
    }

    .form-group{
        /*margin: 5px 0px 10px 0px;*/
        margin: 0;
        clear: both;

        label {
            display: block;
            line-height: @font-normal;
            color: @color-primary;
        }
        .form-control{
            width: 100%;
            padding: 10px 5px;
            background: transparent;
            border: none;
            border-bottom: 1px solid @color-primary;
            outline: none !important;
        }
        &.last{
            margin-bottom: 0;

            a:hover{
                color: @color-primary;
            }
        }
    }

    .icon-cancel{
        cursor: pointer;
        position: absolute;
        top: 7px;
        right: 5px;
        z-index:100;

        &:hover {
            color: @color-primary;
        }
    }
}
