﻿<div class="order-thanks">
    <h1 class="order-thanks_title">Спасибо за заказ!</h1>
    <p> В течении 30 минут с Вами свяжется продавец интернет магазина для уточнения даты доставки и сборки.</p>
    <div class="buttons">
        <a href="/Catalog" class="btn btn-primary rtl">К каталогу</a>
        <a href="/personal/profile" class="btn btn-primary">В личный кабинет</a>
    </div>
</div>





<button ng-show="$ctrl.isOnlinePay" ng-click="$ctrl.makePayment()">Купить</button>
<form name="robokassaForm" action={{$ctrl.rk.robokassaUrl}} method="post" style="display:none;">
    <input type="hidden" name="MrchLogin" ng-bind="$ctrl.rk.mrchLogin" />
    <input type="hidden" name="OutSum" ng-bind="$ctrl.rk.sum" />
    <input type="hidden" name="InvId" ng-bind="$ctrl.rk.number" />
    <input type="hidden" name="Desc" ng-bind="$ctrl.rk.desc" />
    <input type="hidden" name="SignatureValue" ng-bind="$ctrl.rk.signatureValue" />
    <!--<input type="hidden" name="IncCurrLabel" ng-bind="$ctrl.rk.incCurrLabel" />-->
    <input type="hidden" name="IsTest" ng-bind="$ctrl.rk.isTest" />
</form>