﻿.popup-cities{
    float: left;
    width: 200px;
    text-align: center;
    background-color: #efefef;
    margin-top: 50px;
    position: absolute;
    padding: 10px;
    margin-left: 80px;
    border: 0px;
    border-radius: 4px;        
    z-index: 1;
    box-shadow: 0px 10px 15px @color-black-divider;
    ::after {
        content: "";
        position: absolute;
        left: 90px;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid #efefef;
    }

    div{
        margin: 5px 0px;
    }
}

.popup-login-form {
    

        &_nav{
        display: flex;
        margin-top: -15px;

        &>li {
            .transitions();
            .col(xs,6);
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-bottom: 1px solid rgba(0,0,0,0.06);
            background: rgba(0,0,0,0.03);
            & a{
                color: @color-black-secondary;
                outline: none !important;
            }

            &:hover{
                border-bottom: 1px solid @color-black-divider;
                a{
                    color: @color-black-primary;
                }
            }

            &.active{
                border-bottom: none;
                background: transparent;
                a{
                    color: @color-primary;
                }
                &:hover>a{
                    color: @color-primary;
                }
            }
        }
    }
}
