﻿<h1 class="page-header">Список заказов</h1>
<!-- header -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th>
                        Количество продуктов
                    </th>
                    <th>
                        Количество коллекций
                    </th>
                    <th>
                        Количество комплектов
                    </th>
                    <th>
                        Дата оформления заказа
                    </th>
                    <th>
                        Общая сумма заказа
                    </th>
                    <th>
                        Необходима доставка
                    </th>
                    <th>
                        Номер заказа в 1С
                    </th>
                    <th>
                        Дата оформления заказа в 1С
                    </th>
                    <th>
                        Одобрено продавцом
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--body-->
                <tr class="row" ng-repeat="order in $ctrl.orders">
                    <td>
                        <span ng-bind="order.products.length"></span>
                    </td>
                    <td>
                        <span ng-bind="order.collections.length"></span>
                    </td>
                    <td>
                        <span ng-bind="order.complects.length"></span>
                    </td>
                    <td>
                        <span ng-bind="order.creationTime | date"></span>
                    </td>
                    <td>
                        <span ng-bind="order.sum | number"></span>
                    </td>
                    <td>
                        <input type="checkbox" disabled ng-model="order.isDeliveryRequired" />
                    </td>
                    <!--Группа кнопок для обновления данных 1С заказа-->
                    <td>
                        <input type="text" class="form-control" ng-model="order.orderNumber1C">
                    </td>
                    <td>
                        <input type="date" class="form-control" ng-model="order.creationTime1C">
                        <button type="button" ng-click="$ctrl.updateOrder1CFields(order)">Сохранить</button>
                    </td>
                    <!--Группа кнопок для аппрува/дизаппрува заказа-->
                    <td>
                        <input type="checkbox" style="left:0!important; position:static!important" ng-model="order.isApprovedBySeller" ng-click="$ctrl.updateApprove(order, order.isApprovedBySeller)" />
                        <button type="button" ng-click="$ctrl.updateApprove(order, true)">Одобрить заказ</button>
                        <button type="button" ng-click="$ctrl.updateApprove(order, false)">Отклонить заказ</button>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
