﻿<span class="single-chosen">    
    <select data-placeholder-text-single="$ctrl.settings.placeholder"
            chosen 
            name="$ctrl.kdModel"
            ng-change="$ctrl.itemSelect()"
            disable-search="true"
            ng-model="$ctrl.kdModel"
            allow-single-deselect="true"
            ng-options="item.id as item.name for item in $ctrl.items">
        <option value=""></option>
    </select>
</span>

<!--<div>
    <select class="form-control" ng-model="$ctrl.kdModel" ng-change="$ctrl.itemSelect()">
        <option ng-repeat="option in $ctrl.items" ng-value="option.id" ng-bind="option.name"></option>
    </select>
</div>-->

<!--<div class="selector" click-outside="$ctrl.isShow=false">
    <label ng-if="$ctrl.settings.label" class="selector-label" ng-bind="$ctrl.settings.label"></label>
    <div class="cs-select" ng-class="{'cs-active' : $ctrl.isShow}" tabindex="0">
        <span ng-show="!$ctrl.currentItem" class="cs-placeholder" ng-bind="$ctrl.settings.placeholder" ng-click="$ctrl.isShow =! $ctrl.isShow"></span>        
        <span class="cs-placeholder"
              ng-show="$ctrl.currentItem"
              ng-click="$ctrl.isShow =! $ctrl.isShow"
              ng-bind="$ctrl.currentItem.name"></span>
        <div class="cs-options">
            <ul ng-repeat="item in $ctrl.items track by $index">
                <li ng-click="$ctrl.itemSelect(item)" ng-class="{'cs-selected': item.id === $ctrl.currentItem.id}">
                    <span ng-bind="item.name"></span>
                </li>
            </ul>
        </div>
    </div>
</div>-->