﻿<h1 class="page-header">Запрос на верификацию <a type="button" class="btn btn-default pull-right" href="/administrativetools/sellers">Управление ролями</a></h1>


   <!--<div class="panel-heading">
        <button class="btn btn-default" disabled >Запрос на верификацию</button>
        <a type="button" class="btn btn-default" href="/administrativetools/sellers">Управление ролями</a>
    </div>-->
    
    <div ng-show="$ctrl.users.length===0"  class="panel panel-default">На верификацию не обратилось ни одного пользователя</div>
    <div ng-show="$ctrl.users.length>0"  class="panel panel-default">

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input style="left:0!important" id="check-all" type="checkbox" ng-checked="$ctrl.selectAll" ng-click="$ctrl.selectingAll()">
                                <!--<label for="check-all">Выбрать всех</label>-->
                            </th>
                            <th>Имя</th>
                            <th>E-mail</th>
                            <th>Роль</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in $ctrl.users">
                            <td>
                                <div>
                                    <input id="{{user.userId}}" style="left:0!important" type="checkbox" ng-checked="user.checked" ng-click="$ctrl.checkedUser(user.userId)">
                                    <label for="{{user.userId}}"></label>
                                </div>
                            </td>
                            <td><label ng-bind="user.name"></label></td>
                            <td><label ng-bind="user.email"></label></td>
                            <td>
                                <select ng-model="user.role" class="form-control">
                                    <option ng-repeat="r in $ctrl.roles" value="{{r.id}}">{{r.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <div class="panel-footer text-center">
                    <button ng-click="$ctrl.deleteUser()" class="btn btn-default">Удалить</button>
                    <button ng-click="$ctrl.assept()" class="btn btn-primary">Подтвердить</button>
                </div>
        </div>
