﻿<h1 class="page-header">Управление ролями <a type="button" class="btn btn-default pull-right" href="/AdministrativeTools/VerifySellers">Запрос на верификацию</a></h1>
    <!--<div class="panel-heading">
        <a type="button" class="btn btn-default" href="/AdministrativeTools/VerifySellers">Запрос на верификацию</a>
        <button type="button" class="btn btn-default" disabled >Управление ролями</button>
    </div>-->
    <kd-seller-role ng-if="$ctrl.typecontrol === 'sellers'"></kd-seller-role>
    <kd-administrative-roles ng-if="$ctrl.typecontrol === 'administrativeRoles'"></kd-administrative-roles>
    <kd-allocate-role ng-if="$ctrl.typecontrol === 'allocateRole'"></kd-allocate-role>
