﻿<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 style="border-bottom: 1px solid #c5c5c5;">
                Аутентификация сотрудника
            </h4>
            <form novalidate name="form">
                <div class="form-group">
                    <input class="form-control" placeholder="E-mail" name="email" type="email" required="" autofocus="" ng-model="$ctrl.userEmail" maxlength="50" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || $ctrl.isInprogress" ng-click="$ctrl.verifySeller()">
                        Продолжить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>