﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4 id="registrationModal">Подтверждение регистрации</h4>
                <form novalidate name="regform">
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" ng-model="$ctrl.email" readonly disabled />
                    </div>
                    <div class="form-group">
                        <label>Телефон</label>
                        <input type="text" ng-model="$ctrl.phoneNumber" readonly disabled="disabled" ui-mask="+9 (999) 999-99-99" />
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input placeholder="Пароль" name="password" type="password" required="" ng-model="$ctrl.user.Password" />
                    </div>
                    <div class="form-group">
                        <label>Подтверждение пароля</label>
                        <input placeholder="Подтверждение пароля" name="confirm" type="password" required="" ng-model="$ctrl.user.ConfirmPassword" />
                    </div>
                    <div class="form-group">
                        <label>Адрес</label>
                        <input placeholder="Адрес" name="adress" type="text" autofocus="" ng-model="$ctrl.user.Address" />
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="newsletter" ng-model="$ctrl.user.IsAgreed"/>  
                        <label for="newsletter">Хотите ли Вы получать наши рассылки?</label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="regform.$invalid" ng-click="$ctrl.submit()">
                            Войти
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>