﻿<br />
<br />
<br />
<br />
<br />
<div style="width: 50%; margin: 0 auto; ">
    <h2>
        СБЕРБАНК ОНЛАЙН БЕЗ КОМИССИИ
    </h2>
    <br />
    <span>
        Торговый дом «Лазурит» вместе с официальным партнёром — Сбербанком РФ делают всё возможное для удобства своих клиентов.
    </span>
    <br />
    <span>
        Теперь пользователи Сбербанк Онлайн могут оплачивать свои заказы привычным для них способом.
    </span>
    <br />
    <span>
        Если вы не знаете как провести оплату самостоятельно, пожалйства обратитесь по телефону 8 800 100-50-22 или просто дождитесь когда наш продавец самостоятельно свяжется с вами.
    </span>
    <span>
        Если вы знаете все необходимые для оплаты реквизиты то, зайдите в «Сбербанк Онлайн», наберите в разделе «Переводы и платежи» в «Оплате покупок и услуг» ИНН «Торгового дома «Лазурит» - 3917032714
    </span>
    <br />
    <br />
    <img src="~/Content/sberImages/sber_instructions.png" alt="instructions" style="vertical-align: middle">
    <br />
    <br />
    <span>
        Выберите «Торговый дом Лазурит», заполните свои реквизиты: ФИО, адрес доставки, номер договора, дату договора и оплачивайте.
    </span>
    <br />
    <span>
        Теперь оплата заказов через сервис «Сбербанк Онлайн» для клиентов Торгового Дома «Лазурит» проходит БЕЗ КОМИССИИ.
    </span>
    <br />
    <span>
        Вы просто наслаждаетесь новым интерьером, а комиссию погашает «Лазурит»!
    </span>
    <br />
    <br />
    <a href="https://online.sberbank.ru/CSAFront/index.do">
        <img src="~/Content/sberImages/sber_button.png" style="vertical-align: middle">
    </a>
</div>
