﻿@model Guid

@{
    ViewBag.Title = "Areas";
}



<div ng-controller="imageManagerAreasControler" id="areaForm" collectionVariantId="@Model" style="font-size: x-large;">
    
    <span>Основная картинка</span><br/>
    <div>        
        <img id="main_image" src="/api/images/collectionvariant/@Model/InInterior"/>
    </div>

    <div id="products">
        <div id="{{product.productId}}" ng-repeat="product in ctrl.productsContext">
            <br /><br /><br /><br /><br /><br />
            
            <div ng-bind="product.productName"></div>
            
            <div>
                <input type="file" id="file_{{product.productId}}" />
                <a href="javascript:void(0)" ng-click="ctrl.loadProductImage(product.productId, 'InInterior')" class="btn btn-primary btn-sm">Загрузить</a>
            </div>
                   
            
            <div ng-show="product.isEditing===false">
                <a href="javascript:void(0)" ng-click="ctrl.edit(product.productId)">Отметить область</a><br/>
                <img id="image_{{product.productId}}" ng-src="/api/images/productinvariant/{{product.objectId}}/InInterior">
                    
            </div>

            <div ng-if="product.isEditing===true">
                <a href="javascript:void(0)" ng-click="ctrl.bindArea(product.objectId, product.productId)">ОК</a><br/>
                <a href="javascript:void(0)" ng-click="ctrl.cancel(product.productId)">Отмена</a><br />
                <div id="mr_image_{{product.productId}}" mr-image mr-src="product.src" mr-selector="selector" mr-drawer="drawer"></div>
                <img ng-src="{{cropResult}}" />                    
            </div>

            
        </div>
    </div>
</div>


