﻿@model KonigDev.Lazurit.Store.ViewModels.FilesContentManagment.FilesContentTable

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
@{ 
    <script>
        function loadFile(objectId, type) {
            console.log(objectId, type);

            var inputElement = input = document.getElementById(objectId + '-' + type);
            if (!inputElement.files) {
                alert("Не выбран файл!");
                return;
            }
            var file = inputElement.files[0];

            var formData = new FormData();
            formData.append("file", file);

            console.log(file);

            $.ajax({
                url: '/ImageManager/upload?ObjectId=' + objectId + "&type=" + type,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: (response) => {
                    if (response.Success) {
                        alert("Файл загружен");
                    }
                    else {
                        alert(response.Message);
                    }
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }
    </script>
}

<h2>Загрузка изображений демо страница для тестирования загрузки и загрузки демо данных в БД и azureBlob</h2>
<h2>Коллекции</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @foreach (var type in Model.Types)
                {
                    <th>@type.Text @type.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.Collections)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    @foreach (var type in Model.Types)
                    {
                        <th>
                            <input type="file" id="@item.Id-@type.Value" />
                            <button onclick="loadFile('@item.Id', '@type.Value')" class="btn btn-primary btn-sm">Загрузить</button>
                        </th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<h2>Варианты коллекций</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @foreach (var type in Model.Types)
                {
                    <th>@type.Text @type.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.CollectionVariants)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    @foreach (var type in Model.Types)
                    {
                        <th>
                            <input type="file" id="@item.Id-@type.Value" />
                            <button onclick="loadFile('@item.Id', '@type.Value')" class="btn btn-primary btn-sm">Загрузить</button>
                        </th>
                    }
                    <th><a href="/ImageManager/Areas/@item.Id">Выделить области</a></th>
                </tr>
            }

        </tbody>
    </table>
</div>


<h2>Цвет фасада/цвет отделки</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @foreach (var type in Model.Types)
                {
                    <th>@type.Text @type.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.FacingColors)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    @foreach (var type in Model.Types)
                {
                        <th>
                            <input type="file" id="@item.Id-@type.Value" />
                            <button onclick="loadFile('@item.Id', '@type.Value')" class="btn btn-primary btn-sm">Загрузить</button>
                        </th>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>
<h2>Отделка</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @foreach (var type in Model.Types)
                {
                    <th>@type.Text @type.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.Facings)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    @foreach (var type in Model.Types)
                {
                        <th>
                            <input type="file" id="@item.Id-@type.Value" />
                            <button onclick="loadFile('@item.Id', '@type.Value')" class="btn btn-primary btn-sm">Загрузить</button>
                        </th>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>
<h2>Цвет корпуса</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @foreach (var type in Model.Types)
                {
                    <th>@type.Text @type.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.FrameColors)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    @foreach (var type in Model.Types)
                {
                        <th>
                            <input type="file" id="@item.Id-@type.Value" />
                            <button onclick="loadFile('@item.Id', '@type.Value')" class="btn btn-primary btn-sm">Загрузить</button>
                        </th>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>

<h2>Продукты</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>На страницу</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContentObjects.Products)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.SyncCode1C</th>
                    <th> <a href="/imagemanager/product?id=@item.Id&SyncCode1C=@item.SyncCode1C">Загрузить картинки</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>