﻿
@model KonigDev.Lazurit.Store.Controllers.ImageManagerController.ProductContent
@{
    ViewBag.Title = "Product";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
@{
    <script>

        console.log("load poduct content");

        function loadFile(objectId, type) {
            var inputElement = input = document.getElementById(objectId + '-' + type);
            if (!inputElement.files) {
                alert("Не выбран файл!");
                return;
            }
            var file = inputElement.files[0];

            var formData = new FormData();
            formData.append("file", file);

            console.log(file);

            $.ajax({
                url: '/ImageManager/upload?ObjectId=' + objectId + "&type=" + type,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: (response) => {
                    if (response.Success) {
                        alert("Файл загружен");
                    }
                    else {
                        alert(response.Message);
                    }
                },
                error: (error) => {
                    console.log(error);
                }
            });
        };

        function loadInInterior(objectId, type) {
            var inputElement = input = document.getElementById(objectId + '-' + type);
            if (!inputElement.files) {
                alert("Не выбран ни один файл!");
                return;
            }
            console.log(inputElement.files)

            for (i = 0; i < inputElement.files.length; i++)
            {
                var file = inputElement.files[i];
                var formData = new FormData();
                formData.append("file", file);

                console.log(file);

                $.ajax({
                    url: '/ImageManager/CreateContent?ObjectId=' + objectId + "&type=" + type,
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: (response) => {
                        if (response.Success) {
                            alert("Файл загружен");
                        }
                        else {
                            alert(response.Message);
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }            
        };
    </script>
}

<h2>Загрузка изображений демо страница для тестирования загрузки и загрузки демо данных в БД и azureBlob</h2>

<h2>Продукт @Model.Id @Model.SyncCode1C</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>На белом фоне</th>
                <th>В интерьере (несколько изображений)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Model.Id</th>
                <th>@Model.SyncCode1C</th>
                <th>
                    <input type="file" id="@Model.Id-@KonigDev.Lazurit.Core.Enums.EnumFileContentType.WithoutInterior.ToString()" />
                    <button onclick="loadFile('@Model.Id', '@KonigDev.Lazurit.Core.Enums.EnumFileContentType.WithoutInterior.ToString()')" class="btn btn-primary btn-sm">Загрузить</button>
                </th>
                <th>
                    <input type="file" multiple id="@Model.Id-@KonigDev.Lazurit.Core.Enums.EnumFileContentType.InInterior.ToString()" />
                    <button onclick="loadInInterior('@Model.Id', '@KonigDev.Lazurit.Core.Enums.EnumFileContentType.InInterior.ToString()')" class="btn btn-primary btn-sm">Загрузить</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>