.field-text {
  display: block;
  margin-bottom: (@line-height / 2);

  &_name {
    display: block;
    margin-bottom: round(@line-height / 4, 2);
    line-height: @line-height;
    font-weight: 700;
  }

  &_input-wrap {}

  &_input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    //height: 2.125em;
    padding: @field-padding-top @field-padding-horizontal @field-padding-bottom;
    line-height: @line-height;
    font-size: inherit;
    font-family: inherit;
    background-color: #fff;
    border: @border-width solid @border-color;
    border-radius: @border-radius;
    -webkit-appearance: textfield;

    &:focus {
      .focus();
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: @color-black-divider;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      height: auto;
    }

    &[type='color'] {
      max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: @color-black-disabled;
      opacity: 1;
    }

    textarea& {
      height: auto;
      min-height: (@line-height * 2) + @field-padding-top + @field-padding-bottom + .2; // .2 — поправка на бордюр
      resize: vertical;
    }
  }

  &_help-text {
    .help-text();
  }
}
