<label class="field-text">
  <div class="field-text__name">Любое поле, выглядящее как текстовое</div>
  <div class="field-text__input-wrap">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
    <div class="field-text__help-text">Обёртка — <code>label</code>. Можно сделать обёртку <code>div</code>, но тогда, возможно, захочется элемент <code>.field-text__name</code> делать <code>label</code> и связывать его с полем по <code>id</code> поля.</div>
  </div>
</label>

<label class="field-text">
  <div class="field-text__name">Многострочное текстовое поле</div>
  <div class="field-text__input-wrap">
    <textarea class="field-text__input" placeholder="textarea"></textarea>
    <div class="field-text__help-text">Обёртка — <code>label</code>.</div>
  </div>
</label>