.container() {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);

  @media (min-width: @screen-sm) {
    width: @container-sm;
  }

  @media (min-width: @screen-md) {
    width: @container-md;
  }

  @media (min-width: @screen-lg) {
    width: @container-lg;
  }

  @media (min-width: @screen-xl) {
    width: @container-xl;
  }

  @media (min-width: @screen-xxl) {
    width: @container-xxl;
  }
}


.row(@xs-grid-gutter: @grid-gutter-width; @sm-grid-gutter: @grid-gutter-width; @md-grid-gutter: @grid-gutter-width; @lg-grid-gutter: @grid-gutter-width; @xl-grid-gutter: @grid-gutter-width; @xxl-grid-gutter: @grid-gutter-width;) {
  display: flex;
  flex-wrap: wrap;

  & > * {
    display: block;
    width: 100%;
  }

  & when not (@xs-grid-gutter = 0) {
    margin-left:  (@xs-grid-gutter / -2);
    margin-right: (@xs-grid-gutter / -2);
  }

  & when not (@xs-grid-gutter = 0) {
    & > * {
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }

  & when not (@sm-grid-gutter = @xs-grid-gutter) {
    @media (min-width: @screen-sm) {
      margin-left:  (@sm-grid-gutter / -2);
      margin-right: (@sm-grid-gutter / -2);
    }
  }

  & when not (@md-grid-gutter = @sm-grid-gutter) {
    @media (min-width: @screen-md) {
      margin-left:  (@md-grid-gutter / -2);
      margin-right: (@md-grid-gutter / -2);
    }
  }

  & when not (@lg-grid-gutter = @md-grid-gutter) {
    @media (min-width: @screen-lg) {
      margin-left:  (@lg-grid-gutter / -2);
      margin-right: (@lg-grid-gutter / -2);
    }
  }

  & when not (@xl-grid-gutter = @lg-grid-gutter) {
    @media (min-width: @screen-xl) {
      margin-left:  (@xl-grid-gutter / -2);
      margin-right: (@xl-grid-gutter / -2);
    }
  }

  & when not (@xxl-grid-gutter = @xl-grid-gutter) {
    @media (min-width: @screen-xxl) {
      margin-left:  (@xxl-grid-gutter / -2);
      margin-right: (@xxl-grid-gutter / -2);
    }
  }
}


.get-width(@column: 1, @columns: @grid-columns) {
  @width: (100% / @columns) * @column;
}

.make-col(@column: 1, @columns: @grid-columns, @gutter: @grid-gutter-width) {
  .get-width(@column, @columns);

  display: block;
  flex: 0 0 @width;
  max-width: @width;

  & when not (@gutter = false) {
    padding-left: (@gutter / 2);
    padding-right: (@gutter / 2);
  }
}


.col(@screen: xs, @column: 1, @columns: @grid-columns, @gutter: @grid-gutter-width) {
  & when (@screen = xs) {
    .make-col(@column, @columns, @gutter);
  }
  & when (@screen = sm) {
    @media (min-width: @screen-sm) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = md) {
    @media (min-width: @screen-md) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = lg) {
    @media (min-width: @screen-lg) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = xl) {
    @media (min-width: @screen-xl) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = xxl) {
    @media (min-width: @screen-xxl) {
      .make-col(@column, @columns, @gutter);
    }
  }
}

.col-offset(@screen: xs, @column: 1, @columns: @grid-columns) {
  & when (@screen = xs) {
    margin-left: (@column * 100% / @columns);
  }
  & when (@screen = sm) {
    @media (min-width: @screen-sm) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = md) {
    @media (min-width: @screen-md) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = lg) {
    @media (min-width: @screen-lg) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = xl) {
    @media (min-width: @screen-xl) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = xxl) {
    @media (min-width: @screen-xxl) {
      margin-left: (@column * 100% / @columns);
    }
  }
}

.make-column-list-general-rules(@screen: xs) {
  .column-list(@index) {
    @item: ~".col-@{screen}-@{index}";
    .column-list((@index + 1), @item);
  }
  .column-list(@index, @list) when (@index =< @grid-columns) {
    @item: ~".col-@{screen}-@{index}";
    .column-list((@index + 1), ~"@{list}, @{item}");
  }
  .column-list(@index, @list) when (@index > @grid-columns) {
    @{list} {
      display: block;
      flex: 0 0 100%;
      width: 100%;
      padding-left: (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .column-list(1);
}

.make-columns(@n: @grid-columns, @screen: xs, @i: 1) when (@i =< @n) {
  .col-@{screen}-@{i} {
    .make-col(@i, @n, false)
  }
  .make-columns(@n, @screen, (@i + 1));
}

.make-offsets(@n: @grid-columns, @screen: xs, @i: 1) when (@i =< @n) {
  .col-@{screen}-offset-@{i} {
    margin-left: (@i * 100% / @n);
  }
  .make-offsets(@n, @screen, (@i + 1));
}

.row{
  .row(0);
}

.col-xs{
  &-1{.col(xs,1);}
  &-2{.col(xs,2);}
  &-3{.col(xs,3);}
  &-4{.col(xs,4);}
  &-5{.col(xs,5);}
  &-6{.col(xs,6);}
  &-7{.col(xs,7);}
  &-8{.col(xs,8);}
  &-9{.col(xs,9);}
  &-10{.col(xs,10);}
  &-11{.col(xs,11);}
  &-12{.col(xs,12);}
}
.col-sm{
  &-1{.col(sm,1);}
  &-2{.col(sm,2);}
  &-3{.col(sm,3);}
  &-4{.col(sm,4);}
  &-5{.col(sm,5);}
  &-6{.col(sm,6);}
  &-7{.col(sm,7);}
  &-8{.col(sm,8);}
  &-9{.col(sm,9);}
  &-10{.col(sm,10);}
  &-11{.col(sm,11);}
  &-12{.col(sm,12);}
}
.col-md{
  &-1{.col(md,1);}
  &-2{.col(md,2);}
  &-3{.col(md,3);}
  &-4{.col(md,4);}
  &-5{.col(md,5);}
  &-6{.col(md,6);}
  &-7{.col(md,7);}
  &-8{.col(md,8);}
  &-9{.col(md,9);}
  &-10{.col(md,10);}
  &-11{.col(md,11);}
  &-12{.col(md,12);}
}
.col-lg{
  &-1{.col(lg,1);}
  &-2{.col(lg,2);}
  &-3{.col(lg,3);}
  &-4{.col(lg,4);}
  &-5{.col(lg,5);}
  &-6{.col(lg,6);}
  &-7{.col(lg,7);}
  &-8{.col(lg,8);}
  &-9{.col(lg,9);}
  &-10{.col(lg,10);}
  &-11{.col(lg,11);}
  &-12{.col(lg,12);}
}
.col-xl{
  &-1{.col(xl,1);}
  &-2{.col(xl,2);}
  &-3{.col(xl,3);}
  &-4{.col(xl,4);}
  &-5{.col(xl,5);}
  &-6{.col(xl,6);}
  &-7{.col(xl,7);}
  &-8{.col(xl,8);}
  &-9{.col(xl,9);}
  &-10{.col(xl,10);}
  &-11{.col(xl,11);}
  &-12{.col(xl,12);}
}
.col-xxl{
  &-1{.col(xxl,1);}
  &-2{.col(xxl,2);}
  &-3{.col(xxl,3);}
  &-4{.col(xxl,4);}
  &-5{.col(xxl,5);}
  &-6{.col(xxl,6);}
  &-7{.col(xxl,7);}
  &-8{.col(xxl,8);}
  &-9{.col(xxl,9);}
  &-10{.col(xxl,10);}
  &-11{.col(xxl,11);}
  &-12{.col(xxl,12);}
}