// Скругление:        
   //.border-radius(); /* округлит углы на 2px */
   //.border-radius(10px); /* округлит углы на 10px */
   //.border-radius(5px 5px 0px 0px); /* округлит на 5px только верхние углы */

.border-radius(@radius:@border-radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
}

// Прозпачность:
// .block {.opacity(0.5, 0.5s); /* добавит прозрачность блоку в 50% */}

.opacity(@val:0, @time:0.5s) {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@val);
    -moz-opacity: @val;
    -khtml-opacity: @val;
    opacity: @val;
   -webkit-transition: opacity @time ease-in-out;
   -moz-transition: opacity @time ease-in-out;
   -ms-transition: opacity @time ease-in-out;
   -o-transition: opacity @time ease-in-out;
   transition: opacity @time ease-in-out;

}


// Тени: 
   // .block {.box-shadow(inset 0px 0px 5px 0px #000);}

.box-shadow(@val) {
	-webkit-box-shadow: @val;
	-moz-box-shadow:    @val;
	box-shadow:         @val;
}

// Анимация:   
   //.block {height: 50px;  .transitions(all 2s ease);   &:hover {height: 20px;}}

.transitions(@transition: all 0.25s  ease-out) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}


//----- Текст

// обрезка

.ellipsis(@width: 100%) {
   text-overflow: ellipsis;
   display: inline-block;
   vertical-align: top;
   white-space: nowrap;
   overflow: hidden;
   width: @width;
}

.gradient-bg(@first_color: @color-primary, @second_color: @color-dark) {
  background: @first_color;
  background: -moz-linear-gradient(-45deg,  fade(@first_color, 95%) 0%, fade(@second_color, 95%) 100%); 
  background: -webkit-linear-gradient(-45deg,  fade(@first_color, 95%) 0%, fade(@second_color, 95%) 100%);
  background: linear-gradient(135deg,  fade(@first_color, 95%) 0%, fade(@second_color, 95%) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='fade(@first_color, 95%)', endColorstr='fade(@second_color, 95%)',GradientType=1 );
}

.help-text() {
    font-size: @font-small;
    color: @color-black-disabled;
}

.focus() {
    outline: none;
}