// -------------------------- Grid

@grid-columns:                12;
@grid-gutter-width:           30px;
@header-height: 			  50px;

/*
@screen-xs:                   0;
@screen-sm:                   480px;
@screen-md:                   768px;
@screen-lg:                   1000px;
@screen-xl:                   1800px;
@screen-xxl:                  2400px;
*/

@screen-xs:                   0;
@screen-sm:                   480px;
@screen-md:                   768px;
@screen-lg:                   992px;
@screen-xl:                   1200px;
@screen-xxl:                  1800px;


@container-sm:                100%;
@container-md:                100%;
@container-lg:                @screen-lg - 30;
@container-xl:                @screen-xl - 30;
@container-xxl:               @screen-xxl - 30;


// -------------------------- Colors

@color-red:                   #F44336;
@color-green:			      #4CAF50;
@color-yellow:			      #FFC107;
@color-primary:               #2196F3;
@color-dark:                  #1158a5;


/*

@color-red:                   #f26c4f;
@color-green:			      #4bd558;
@color-yellow:			      #f0c221;
@color-primary:               #268bdd;
@color-dark:                  #1b325f;
@color-blue:			      #9cc4e4;
@color-blue-lt:			      #e9f2f9;
*/

@color-success:               @color-green;
@color-warning:               @color-yellow;
@color-danger:                @color-red;

@text-color:                  @color-black-secondary;
@border-color:                @color-black-divider;

@color-black:			      #000;
@color-black-primary:	      fade(@color-black, 87%);
@color-black-secondary:	      fade(@color-black, 54%);
@color-black-disabled:	      fade(@color-black, 38%);
@color-black-divider:	      fade(@color-black, 12%);

@color-white:			      #fff;
@color-white-primary:	      fade(@color-white, 100%);
@color-white-secondary:	      fade(@color-white, 70%);
@color-white-disabled:	      fade(@color-white, 50%);
@color-white-divider:	      fade(@color-white, 12%);

// --- from Brandbook
@brand-marsala:               rgb(88,40,49);
@brand-bordo:  				  rgb(164,50,34);
@brand-yellow:  			  rgb(251,177,78);
@brand-green:  				  rgb(140,171,67);
@brand-brown-lt:  			  rgb(169,86,37);
@brand-brown:  				  rgb(115,85,49);
@brand-blue:  				  rgb(40,91,147);
@brand-blue-lt:  			  rgb(73,167,191);

// -------------------------- Content

@catalog-slider-item--height: 20%;
@border-radius:               1px;
@border-width:                1px;

// ------------------------- Typography
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');
@font-primary: 				  'Roboto';

@h1:                          30px;
@h2:                          26px;
@h3:                          22px;
@h4:                          18px;
@h5:                          16px;
@h6:                          14px;


@font-smallest:				  10px;
@font-small:				  12px;
@font-normal: 				  14px;
@font-medium: 				  16px;
@font-big: 					  18px;
@font-huge: 				  26px;

@font-black:				  700;
@font-bold:				      500;
@font-regular: 				  400;
@font-light: 				  300;
@font-lighter: 			      100;

@line-height:                 1.375em;


// Формы, кнопки

@field-padding-top:           0.75em;
@field-padding-bottom:        0.75em;
@field-padding-horizontal:    1em;