﻿.text-economi {
    color: @color-danger !important;

    .cart__total{
        color: @color-danger !important;
    }
}

.cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    display: block;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &__button {
        position: relative;
        z-index: 10;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    &--active &__button {
        cursor: default;
    }
    &__button:focus {
        outline: none;
    }
    &__text {
        display: block;
        font-weight: 400;
    }
    &__order {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        max-width: 100vw;
        width: 330px;
        height: 100vh;
        text-align: center;
        pointer-events: none;
    }
    &--active {
        overflow: visible;
    }
    /*
    &--active &__order {
        pointer-events: auto;
        box-shadow: 0 0 20px @color-black-divider;
    }
    &__order::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-transform: translate3d(-100%, -100%, 0) translate3d(-50px, -50px, 0);
        transform: translate3d(-100%, -100%, 0) translate3d(-50px, -50px, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
		z-index: 1;
    }
   &__order::after {
        content: '';
		display: block;
        position: fixed;
        top: 0;
        right: 330px;
        width: 0%;
        height: 0%;
		opacity:0;
        background: @color-black-secondary;
        box-shadow: 0 0 50px @color-black-secondary;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
		z-index: 0;
    }

    &--active &__order::after {
        width:100%;
        height: 100%;
		opacity:1;
        -webkit-transition: opacity 2.6s ease;
        transition: opacity 2.6s ease;
    }
    &--active &__order::before {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
   */
     &__order-inner {
        position: relative;
        padding: 30px 10px 0 5px;
        opacity: 0;
		z-index: 10;
    }
    &--active &__order-inner {
        opacity: 1;
        -webkit-transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        cursor: default;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        overflow: hidden;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        color: @color-black-disabled;
        padding: 0;
        opacity: 0;
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0);
        cursor: pointer;
        backface-visibility: hidden;
    }
    &__close:hover {
        color: @color-black-primary;
    }
    &__close:focus {
        outline: none;
    }
    &--active &__close {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1), color 0.3s ease;
        transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1), color 0.3s ease;
        -webkit-transition-delay: 0.015s;
        transition-delay: 0.015s;
    }
    &__summary {
        margin: 15px 0;
        width: 100%;
        color: @color-black-secondary;
        text-align: left;
        font-size: @font-normal;
        line-height: 1.5;
    }
    &__summary thead th{
        color: @color-black-disabled;
        line-height: 2.5;
        font-weight: 500;
		font-size: @font-small;
        &:first-child {
            padding: 0 10px;
        }
	}
    &__summary tfoot {
        border-top: 1px solid @color-black-primary;

        tr:first-child th{
            padding-top: 15px;
        }
    }
    &__summary tfoot th {
        color: @color-black-secondary;
        line-height: 1.8;
        font-weight: 500;
    }
    &__total {
        color: @color-black-primary;
    }
    &__summary tbody tr:last-child td{
        padding-bottom: 30px;
    }
    &__summary tbody td {
        padding: 5px;
        font-size: @font-small;
        vertical-align: middle;
        &:first-child {
            padding: 0;
        }
        &:nth-child(3) {
            text-align: center;
            padding: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        h2 {
			font-weight: 400;
            font-size: @font-small;
            line-height: @font-small;
			color: @color-black-primary;
        }
        span {
            color: @color-black-disabled;
			font-weight: 300;
        }
        .cart_thumb {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;
            &>img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    }
    &__summary tbody td:last-child,
    &__summary &__total {
		color: @color-black-primary;
    }
    &__summary th:last-child,
    &__summary td:last-child {
        text-align: right;
    }
	
    .checkout__option {
        opacity: 0;
		line-height: @font-small;
		color: @color-primary !important;
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);

		&:hover{
			color: #fff !important;
		}
    }
	.cart__cancel {
		display: inline-block;
		cursor: pointer;
        opacity: 0;
		font-size: @font-big;
        -webkit-transform: translate3d(-500%, 0, 0);
        transform: translate3d(-500%, 0, 0);
		color: @color-black-disabled;

		&:hover{
			color:@color-black-primary;
		}
    }
	&--active .cart__cancel,
    &--active .checkout__option {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 1.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1), color 0.3s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 1.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1), color 0.3s cubic-bezier(0.2, 1, 0.3, 1);
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    /*Анимация*/
    &__summary tr {
        -webkit-transform: translate3d(550px, 0, 0);
        transform: translate3d(550px, 0, 0);
		background: #fff;
    }
    &--active &__summary tr {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
        transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    }
    &--active &__summary tbody tr {
        &:nth-child(1) {
            -webkit-transition-delay: 0.12s;
            transition-delay: 0.12s;
        }
        &:nth-child(2) {
            -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
        }
        &:nth-child(3) {
            -webkit-transition-delay: 0.16s;
            transition-delay: 0.16s;
        }
        &:nth-child(4) {
            -webkit-transition-delay: 0.18s;
            transition-delay: 0.18s;
        }
        &:nth-child(5) {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
        &:nth-child(6) {
            -webkit-transition-delay: 0.22s;
            transition-delay: 0.22s;
        }
        &:nth-child(7) {
            -webkit-transition-delay: 0.24s;
            transition-delay: 0.24s;
        }
        &:nth-child(8) {
            -webkit-transition-delay: 0.26s;
            transition-delay: 0.26s;
        }
        &:nth-child(9) {
            -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
        }
        &:nth-child(10) {
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }
        &:nth-child(11) {
            -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
        }
    }
    &--active &__summary tfoot tr {
        -webkit-transition-delay: 0.24s;
        transition-delay: 0.24s;
    }
}