﻿.selector {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    position: relative;
    margin-top: @grid-gutter-width/2;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-bottom: 1px solid @color-black-divider;
    &-label {
        display: inline-block;
        vertical-align: middle;
        color: @color-black-primary;
        padding: 10px 0;
        width: 150px;
    }
    &>div {
        padding: 0 0;
    }
    &-double {
        &>div {
            .col(xs, 4);
            padding: 0 0 !important;
        }
        .sublabels {
            .row(0);
            margin-right: 0 !important;
            margin-left: 0 !important;
            position: absolute;
            top: -5px;
            span {
                .col(xs, 4);
                font-size: @font-small;
                color: @color-black-disabled;
            }
        }
    }
    &-triple {
        &>div {
            .col(xs, 4);
            flex: 0 0 22.22% !important;
            max-width: 22.22% !important;
            padding: 0 0 !important;
        }
        .cs-select>span {
            padding-right: 30px;
        }
        .sublabels {
            .row(0);
            margin-right: 0 !important;
            margin-left: 0 !important;
            position: absolute;
            top: -5px;
            span:first-child {
                flex: 0 0 33.33333333% !important;
                max-width: 33.33333333% !important;
            }
            span {
                .col(xs, 4);
                flex: 0 0 22.22% !important;
                max-width: 22.22% !important;
                font-size: @font-small;
                color: @color-black-disabled;
            }
        }
    }
}


/* Default custom select styles */

div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.cs-select:focus {
    outline: none;
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Placeholder and selected option */

.cs-select>span {
    padding-right: 3em;
}

.cs-select>span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-select>span::after {
    content: '\25BE';
    right: 1em;
}
.cs-select.disabled>span::after {
    display: none;
    cursor: default;
}

.cs-select.cs-active>span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    background: url(http://lazurit-demo/src/img/icons/icon-caret-down-white.svg) no-repeat center center;
    background-size: 75%;
}

div.cs-active {
    z-index: 200;
}


/* Options */

.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border: 1px solid @color-black-divider;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}


/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup>span {
    cursor: default;
}


/*Styling*/

div.cs-select {
    background: transparent;
    font-size: @font-normal;
    font-weight: 400;
}

.cs-select>span {
    .ellipsis();
    position: relative;
    border-color: inherit;
    padding-left: @grid-gutter-width/2;
    -webkit-transition: background 0.2s, border-color 0.2s;
    transition: background 0.2s, border-color 0.2s;
}

.cs-select>span::after {
    content: '\e90c';
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    right: 0; 
    font-family: 'icomoon';
    font-size: @font-huge;
    color: @color-black-secondary;
}

.cs-select ul span::after {
    content: '';
    opacity: 0;
}

.cs-select .cs-selected span::after {
    font-family: 'icomoon';
    content: '\e90b';
    color: @color-primary;
    right: 0;
    font-size: @font-big;
    width: 40px; height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-select.cs-active>span {
    background-color: @color-primary;
    border-color: #fff;
    color: #fff;
}

.cs-select .cs-options {
    color: @color-black-primary;
    font-size: 0.75em;
    opacity: 0;
    -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
    transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-select.cs-active .cs-options {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-select ul span {
    padding: 0em 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-select .cs-options li span:hover,
.cs-select li.cs-focus span {
    background: #f5f3ec;
}

.cs-select:hover>span::after
{
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    color: @color-white;
}

.cs-select:hover{
    z-index: 200;
}

.cs-select:hover .cs-options {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cs-select:hover>span {
    background-color: @color-primary;
    border-color: #fff;
    color: #fff;
}


    .select-fx-selected-thumb {
        display: inline-block;
        height: 2em;
        width: 2em;
        position: absolute;
        left: 7px;
        top: 5px;
        z-index: 10;
    }

    .select-fx-option-thumb {
        display: inline-block;
        height: 2em;
        width: 2em;
        padding: 0;
        margin-right: 10px;
        vertical-align: middle;
    }