<h1 class="page-header">
    Маркетинговые акции
    <button class="btn btn-default pull-right"
            ng-click="$ctrl.create()">
        <i class="fa fa-plus"></i>
    </button>
</h1>

<div class="panel panel-default panel-actions">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>НАЗВАНИЕ</th>
                        <th>КОД</th>
                        <th>ОПИСАНИЕ</th>
                        <th>СКИДКА</th>
                        <th>СЛАЙД</th>
                        <th style="text-align: center">АКТИВНА</th>
                        <th style="text-align: center">ДЕЙСТВИЯ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in $ctrl.actions.collection">
                        <td ng-bind="action.name"></td>
                        <td ng-bind="action.code"></td>
                        <td ng-bind="action.description"></td>
                        <td ng-bind="action.discount"></td>
                        <td>
                            <img alt="not found"
                                 ng-src="/api/images/product/{{action.id}}/SliderMiddle" />
                        </td>
                        <td  class="text-center">
                            <input disabled="disabled"
                                   ng-model="action.isVisible"
                                   type="checkbox" />
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default"
                                    ng-click="$ctrl.update(action)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-default"
                                    ng-click="$ctrl.delete(action)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button class="btn btn-primary"
                ng-click="$ctrl.create()">
            <i class="fa fa-plus"></i> Добавить
        </button>
    </div>
</div>
