﻿<label class="selector-label" ng-bind="$ctrl.settings.title"></label>
<div class="chosen-container chosen-container-multi"
     ng-class="{'chosen-with-drop chosen-container-active' : $ctrl.isShow }"
     click-outside="$ctrl.isShow=false">
    <ul class="chosen-choices" ng-click="$ctrl.isShow =! $ctrl.isShow">
        <li ng-if="$ctrl.isSelected(item)"
            class="search-choice"
            ng-repeat="item in $ctrl.items track by $index"
            ng-click="$ctrl.itemRemove(item)">
            <img ng-src="/api/images/variant/{{item.id}}" />
            <!--<span ng-bind="item.name"></span>-->
            <a class="search-choice-close"></a>
        </li>
    </ul>
    <div class="chosen-drop">
        <ul class="chosen-results">
            <li ng-repeat="item in $ctrl.items track by $index"
                ng-class="{'result-selected': $ctrl.isSelected(item), 'active-result': !$ctrl.isSelected(item)}"
                ng-click="$ctrl.isSelected(item) ? $ctrl.itemRemove(item) : $ctrl.itemSelect(item)">
                <span ng-bind="item.name"></span>
                <img ng-src="/api/images/variant/{{item.id}}" />
            </li>
        </ul>
    </div>
</div>
