.nicescroll-rails {
    width: @grid-gutter-width/3 !important;
    background: @color-black-divider !important;
    right: 0  !important;

    .nicescroll-cursors{
    width: @grid-gutter-width/3 !important;
    border-radius: 0 !important;
    background: @color-black-secondary !important;
    border: none !important;
    }
}