﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lazurit</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/admin.css" rel="stylesheet" />
    <link href="~/Content/forProduct/chosen/admin-chosen.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/angular-toastr/angular-toastr.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/src/mr-image/mr-image.min.css" />
    <!--alexasha styles-->
    <link type="text/css" rel="stylesheet" href="~/Content/temporary_styles/alexasha_styles.css" />
    <script src="https://use.fontawesome.com/3842cc86a3.js"></script>
</head>
<body ng-app="KonigDevApp" ng-strict-di="true">
    <header class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/Content/src/img/logo.svg" alt="Интернет магазнин мебели Лазурит"></a>
            </div>
            <a href="/" class="btn btn-default pull-right" target="_blank">На сайт</a>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Верхняя навигация</a></li>
                        <li><a href="#">Верхняя навигация</a></li>
                        <li><a href="#">Верхняя навигация</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Поиск...">
                    </form>
                </div>*@

        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                <ul class="nav nav-sidebar">
                    @if (Html.ViewContext.HttpContext.User != null && Html.ViewContext.HttpContext.User.Identity != null)
                    {
                        var user = Html.ViewContext.HttpContext.User;
                        if (user.IsInRole(KonigDev.Lazurit.Auth.Model.DTO.Constants.AdminRoleName))
                        {
                            <li><a href="/administrativetools/sellers/">Управление ролями</a></li>
                            }
                            if (user.IsInRole(KonigDev.Lazurit.Auth.Model.DTO.Constants.AdminRoleName)
                                || user.IsInRole(KonigDev.Lazurit.Auth.Model.DTO.Constants.MarketerRoleName)
                                || user.IsInRole(KonigDev.Lazurit.Auth.Model.DTO.Constants.ContentManagerRoleName))
                        {
                            <li><a href="/import/collections">Обработка выгрузки</a></li>
                            <li><a href="/import/productspublished">Активные товары</a></li>
                            <li><a href="/import/productinstallment">Скидки</a></li>
                            <li><a href="/administrativetools/orderstool">Список заказов</a></li>
                            <li><a href="/administrativetools/customerrequests">Заявки</a></li>
                            <li><a href="/administrativetools/marketingactions">Акции</a></li>

                            @*<li><a href="@Url.Action("MarketingActions", "AdministrativeTools")">Список акций</a></li>*@
                        }
                    }
                </ul>

            </div>
            <div class="col-sm-9 col-md-10 main">
                <!-- Body -->
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="/wwwroot/lib/jquery/jquery.min.js"></script>
    <script src="/wwwroot/lib/chosenjq/chosen.jquery.js"></script>
    <script src="/wwwroot/vendor.js"></script>
    <script src="/wwwroot/lib/chosenjq/chosen.jquery.js"></script>

    <script src="/wwwroot/lib/angular/angular.js"></script>

    <script src="/wwwroot/lib/chosen/angular-chosen.min.js"></script>
    <script src="/wwwroot/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="/wwwroot/lib/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/wwwroot/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/wwwroot/lib/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="/wwwroot/lib/ui-router-extras/ct-ui-router-extras.js"></script>
    <script src="/wwwroot/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
    <script src="/wwwroot/lib/chosen/angular-chosen.min.js"></script>
    <script src="/wwwroot/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
    <script src="/wwwroot/lib/angular-ui-mask/mask.min.js"></script>
    <script src="/Content/Scripts/clickoutside.directive.js"></script>
    <script src="~/Content/src/mr-image/mr-image.min.js"></script>
    <script src="/wwwroot/app.js"></script>


    @* Скрипт для фиксациитабличных хедеров*@

    <script src="~/Content/Scripts/fixed-table-header.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
