﻿<!DOCTYPE html>
<html lang="en" class="@ViewBag.PageClass">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lazurit</title>    
    <link rel="stylesheet" type="text/css" href="/wwwroot/style.css" />
    @Html.MvcSiteMap().CanonicalTag()
    @Html.MvcSiteMap().MetaRobotsTag()
    <link type="text/css" rel="stylesheet" href="~/Content/src/mr-image/mr-image.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="~/wwwroot/lib/chosenjq/chosen.css" />-->
    <link href="/wwwroot/lib/jquerykladr/jquery.kladr.min.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/angular-toastr/angular-toastr.css" rel="stylesheet"/>
    <style>
        .item.tooltip:hover {
            opacity: 1;
        }
        .tooltip>.item-add:hover {
               opacity: 1;
        }
    </style>
    @RenderSection("styles", required: false)
    <link rel="shortcut icon" href="~/Content/favicon/favicon.ico" type="image/x-icon">
</head>
<body ng-app="KonigDevApp" ng-strict-di="true">
    <!-- Header -->
    <header class="header auto-hide-header">
        <div class="header-inner">
            <!--Logo-->
            <div class="header-logo">
                <a href="/"><img src="~/Content/src/img/logo.svg" alt="Интернет магазнин мебели Лазурит" /></a>
            </div>
            <!--Navigation-->
            <nav class="header-navigation">
                <ul class="header-navigation_container">
                    <li class="header-navigation_container--item nav-link_home">
                        <a href="@Url.Action("", "Home")">Главная</a>
                    </li>
                    <li class="header-navigation_container--item nav-link_catalog">
                        <a href="@Url.Action("", "Catalog")">Каталог</a> <!-- todo установить тут урл из сайтмапа!!! -->
                        <ul>
                            <li><a ng-href="/catalog">Комнаты</a></li>
                            <li><a ng-href="/catalog-single">Предметы мебели</a></li>

                        </ul>
                    </li>
                    <li class="header-navigation_container--item nav-link_stock">
                        <a href="javascript:void(0)">Акции</a>
                    </li>
                    <li class="header-navigation_container--item nav-link_contacts">
                        <a href="javascript:void(0)">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header-tools">
                @{
                    string isAuth = "false";
                    if (Html.ViewContext.HttpContext.User != null && Html.ViewContext.HttpContext.User.Identity != null)
                    {
                        isAuth = Html.ViewContext.HttpContext.User.Identity.IsAuthenticated.ToString().ToLower();
                    }
                }
                <kd-header-tools phone-number="'8 800 100-50-22'" is-authenticated="@isAuth" return-url="@ViewBag.ReurnUrl"></kd-header-tools>
            </div>
        </div>
    </header>
    <!-- Body -->
    @RenderBody()
    <cart-mini-component></cart-mini-component>
    <!-- Footer -->
    @*<footer class="container-fluid footer text-center">
            <p>This project is made by Keniglabs team @DateTime.Now.Year</p>
        </footer>*@
    <script src="/wwwroot/lib/jquery/jquery.min.js"></script>
    <script src="/wwwroot/vendor.js"></script>
    <script src="/wwwroot/lib/chosenjq/chosen.jquery.js"></script>
    <script src="/wwwroot/lib/jquerykladr/jquery.kladr.min.js"></script>
    <script src="/wwwroot/lib/angular/angular.js"></script>
    <script src="/wwwroot/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="/wwwroot/lib/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/wwwroot/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/wwwroot/lib/angular-toastr/angular-toastr.tpls.js"></script>
    <script src="/wwwroot/lib/ui-router-extras/ct-ui-router-extras.js"></script>
    <script src="/wwwroot/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
    <script src="/wwwroot/lib/chosen/angular-chosen.min.js"></script>
    <script src="/wwwroot/lib/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
    <script src="/wwwroot/lib/angular-ui-mask/mask.min.js"></script>
    <script src="/Content/Scripts/clickoutside.directive.js"></script>

    <script src="/wwwroot/lib/jquerykladr/jquery.kladr.min.js"></script>
    <script src="/wwwroot/app.js"></script>
    <script src="~/content/Scripts/lazurit-slider-jq.js"></script>
    <script src="~/Content/src/mr-image/mr-image.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/signalr_service.js"></script>
    <!--Скрипты артура-->
    <!--слайдер прокрутки-->
    <script type="text/javascript" src="~/Content/src/components/catalog-slider/bond.js"></script>
    <!-- Фоновое слайдшоу -->
    <script type="text/javascript" src="~/Content/src/components/background-slider/background-slider.js"></script>
    <!-- Поиск для списка городов -->
    <!-- <script type="text/javascript" src="~/Content/src/blocks/geo-list/list.min.js"></script>
    <script>
        var options = {
            valueNames: ['city-title']
        };
        var userList = new List('cities', options);
    </script>-->
    <!--
    <script src="~/Content/forProduct/chosen/ImageSelect.jquery.js"></script>
    <script type="text/javascript" src="~/Content/src/components/fancybox/jquery.fancybox.pack.js"></script>-->

    @RenderSection("scripts", required: false)
</body>
</html>
