﻿@using KonigDev.Lazurit.Hub.Model.DTO.Cities.Queries;
@using System.Linq;
@model List<DtoCity>

@{ 
    var cityName = "";
    foreach(var city in Model)
    {
        if (city.IsNearest == true)
        {
            cityName = city.Title;
        }
    }
}
<div ng-cloak>
    <div style="background-color: powderblue; margin-left: 75%;>
        <div ng-show="geoCtrl.isShowCityPopup">
            <div>Ваш город: @cityName?</div>
            <button ng-click="geoCtrl.asseptCity('@cityName')">Да</button>
            <button ng-click="geoCtrl.rejectCity()">Нет</button>
        </div>

        <div ng-show="geoCtrl.isShowCitiesPopup" class="ng-cloak">
            <div>Выберите город</div>
            @foreach (var city in Model)
            {
                <br />
                <a href="javascript:void(0)" ng-click="geoCtrl.selectCity('@city.Id', '@city.Title', '@city.PriceZoneId', '@city.DeliveryPrice')">@city.Title</a>
            }
        </div>
    </div>
</div>