﻿.product-image-slider {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255,255,255,0.85);
    z-index: 1000;

    &_content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &--item{
            display: block;
            position: relative;
            width:100%;
            height: 100%;
            text-align: center;

            &-img{
                width: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }


    &_btn{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }
    
    &_close {
            .transitions();
            display: block;
            width: 40px;
            height: 40px;
            right: 30px;
            top: 30px;
            position: absolute;
            z-index: 100000;
            border: 1px solid @color-black-primary;
            cursor: pointer;
		    background: @color-black-primary;

            &:before {
                .transitions();
                content: '\e908';
                font-family: 'icomoon';
                position: absolute;
                color: @color-black-primary;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
            }
            &:after {
                content: '';
                position: absolute;
                background: #fff;
                z-index: -1;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
			    transform: translate(-50%, -50%);
            }
            &:hover {
                &:after {
                    height: 0;
				    width: 0;
                    opacity: 1;
                }
                &:before {
                color: #fff;
                }
            }
            &:active {
                border: none;
			    color: #fff;
            }
        }

    &_nav {
        position: absolute;
        top: 0;
        width: 40%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        z-index: 8040;
        &:hover span {
            &:before {
                color: @color-white;
            }
            &:after {
                width: 100%;
            }
        }
    }

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }

    &_nav span {
        font-family: 'icomoon' !important;
        position: absolute;
        color: @color-black-primary;
        font-size: @font-big;
        top: 50%;
        width: 36px;
        height: 34px;
        margin-top: -18px;
        cursor: pointer;
        z-index: 8040;
        visibility: hidden;
    }

    &_left span {
        left: 0;
        &:before {
            content: '\e913';
        }
        &:after {
            right: 0;
        }
    }

    &_right span {
        right: 0;
        &:before {
            content: '\e914';
        }
        &:after {
            left: 0;
        }
    }

    &_nav:hover span {
        visibility: visible;
    }

    &_nav span {
        font-size: @font-normal;
        background: none;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: @color-black-primary;
        z-index: 100;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        /*&:hover {
            background: @color-black-primary;
            border-color: color-black-primary;
        }*/
        &:before {
            .transitions();
            font-family: 'icomoon';
            position: absolute;
            color: @color-black-primary;
            top: 50%;
            left: 50%;
            z-index: 100;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: '';
            display: block;
            background: @color-black-primary;
            position: absolute;
            z-index: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            width: 0;
            height: 100%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &:active {
            border-color: transparent;
        }
    }

}

  @media (min-width: @screen-xs) {
    /*
      .wow-open {
        .transitions();
        display: block;
        position: absolute;
        top: 15px;
        left: auto;
        right: 15px;
        width: 60px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: @color-black-secondary;
        font-size: @font-normal;
        z-index: 500;
        cursor: pointer;

        &:before,
        &:after {
            .transitions();
            display: block;
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
        }
    
        &:before{
            top: 5px;
            left: 10px;
            border-left: 1px solid @color-black-secondary;
            border-top: 1px solid @color-black-secondary;
        }
        &:after{
            bottom: 5px;
            right: 10px;
            border-right: 1px solid @color-black-secondary;
            border-bottom: 1px solid @color-black-secondary;
        }

        &>span{
            positions: absolute;
            width: 100%;
            height: 100%;
            &:before,
            &:after {
                .transitions();
                display: block;
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
            }
    
            &:before{
                top: 5px;
                right: 10px;
                border-right: 1px solid @color-black-secondary;
                border-top: 1px solid @color-black-secondary;
            }
            &:after{
                bottom: 5px;
                left: 10px;
                border-left: 1px solid @color-black-secondary;
                border-bottom: 1px solid @color-black-secondary;
            }
        }
        &:hover{
            color: @color-black-primary;
            font-size: @font-big;
        
            &:before,
            &:after {
                width: 10px;
                height: 10px;
            }

            &:before{
                top:0;
                left:0;
            }
            &:after{
                bottom: 0;
                right: 0;
            }
            &>span{
                &:before,
                &:after {
                    width: 10px;
                    height: 10px;
                }

                &:before{
                    top:0;
                    right:0;
                }
                &:after{
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    */
  }
  @media (min-width: @screen-sm) {

  }

  @media (min-width: @screen-md) {

  }
  
  @media (min-width: @screen-lg) {
    .wow-open {
        top: 0;
        left: 0;
        right: auto;
        width: 100%;
        height: 100%;
        cursor: pointer;
        
        i{
            display: none;
        }
        &:before,
        &:after, 
        &>span:before,
        &>span:after{
            display: none;
        }
    }
  }
  
  @media (min-width: @screen-xl) {

  }
  
  @media (min-width: @screen-xxl) {

  }