.filter.fixto-fixed {
	z-index: 100;
	top: 49px !important;

	.chosen-container-multi .chosen-choices {

	    &:after {
	    	bottom: -1px;
	    }
	}

	.filter_title {
		font-size: @font-small;
	}

	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		font-size: @font-small;
	}

	.search-choice {
		margin-right: 2px!important;
	}

	.search-choice > span {
	    margin-top: 4px;
	    width: 15px;
	    height: 15px;
	}

}

.filter {
	display: block;
	height: 50px;
	width: 100%;

	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		.transitions();
	}

	&-color {
		display: inline-block;
		margin-right: 10px;

		.chosen-container{
		    margin-left: -72px;
		}
		.chosen-container-multi .chosen-choices {
		    padding-left: 70px;
		}

	}
	&-decoration {
		display: inline-block;

		.chosen-container{
		    margin-left: -100px;
		}
		.chosen-container-multi .chosen-choices {
		    padding-left: 98px;
		}
	}


	&_title {
		.transitions();
		.font-bold();
		position: relative;
		z-index: 20;
		display: inline-block;
		font-size: @font-normal;
		text-transform: uppercase;
		padding-right: 10px;
		color: @color-black-primary;
		line-height: 30px;
	}



		.chosen-container-active .chosen-drop {
			border:	1px solid @color-black-divider;
			border-top: none;
		}
		.chosen-container-active .chosen-choices {
			border:	1px solid @color-black-divider;
			border-bottom: none;

		    
		    &:before {
		    transform: rotate(-180deg);
		    }
		}

		.chosen-container-multi .chosen-choices {
		    position: relative;
		    overflow: hidden;
		    height: 30px;
		    background-color: #fff;
		    z-index: 10;

		    &:before {
		    	.transitions();
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	top: 0;
		    	right: @grid-gutter-width/2;
		    	width: 25px;
		    	height: 30px;
		    	background: url(src/img/icons/icon-caret-down.svg) no-repeat 50% 50%;
	   			background-size: contain;
		    }


		    &:after {
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	bottom: 1px;
		    	left: @grid-gutter-width/2;
		    	width: calc(~'100% - 30px');
		    	height: 2px;
		    	background: #e0e0e0;
		    }

		}
		.chosen-container-multi .chosen-choices li.search-choice {
		    position: relative;
		    display: inline-block;
		    margin: 3px 5px 3px 0;
		    padding: 0;
		    width: 20px; height: 20px;
		    cursor: default;

		    &:hover span{
		    	opacity: 0;
		    }

		    .search-choice-close {
			    position: absolute;
			    top: 0px;
			    right: 0px;
			    display: block;
			    width: 20px;
			    height: 20px;
			    font-size: 1px;
			    background: transparent;

			    &:hover {
			       background: @color-white-divider url(src/img/icons/icon-close.svg)no-repeat 50% 50%;
	   			   background-size: 40%;
			    }
			}
		}
		    .chosen-container.chosen-with-drop .chosen-drop {
			    left: 0;
			    padding: 10px;
			}

	.chosen-results {
		
		li {
			.transitions();
			display: block;
			position: relative;
			height: 50px;
			line-height: 48px;
			padding: 0 80px;
			color: @color-black-primary;

			&>img {
				position: absolute;
				left: 5px;
				top:5px;
			}
		}

		li.result-selected {

			&:before {
				content: '';
				position: absolute;
				display: block;
				left:15px; top:15px;
				width:20px; height:20px;
				border-radius: 50%;
				border: 1px solid @color-primary;
			    background: url(src/img/icons/icon-selected.svg)no-repeat 50% 50%;
				background-size: 65%;
			}
			&>img {
				right:5px;
				left: auto;
				top:5px;
			}
		}

	}

	.chosen-container{
		min-width: 300px;
	}

	.search-choice>span {
		.opacity(1, 1s);
		display: inline-block;
		width: 20px;
		height: 20px;
		overflow: hidden;
	}
	.search-choice>span>img {
		display: block;		
	}

	.chose-image {
		width:30px;
		height:30px;
		vertical-align:middle;
	}

	.chosen-drop {


		.chose-image-list {
			width:40px;
			max-height:40px;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}

	}

	/* Grey-out image for Multi mode */
	.chosen-container-multi .result-selected{
		
	}
}

