﻿<div infinite-scroll="ctrl.loadMoreLayaways()" infinite-scroll-distance="2">
    <!-- header -->

    <div class="products-list">
        <div class="product-list product-list-head">
            <div class="product-list_thumb"></div>
            <div class="product-list_title"></div>
            <div class="product-list_price">Цена</div>
            <div class="product-list_qty">Количество</div>
            <!--<div class="product-list_cell">Дата возможной доставки</div>-->
            <div class="product-list_options"></div>
        </div>
    </div>
    <div ng-repeat="layaway in $ctrl.layaways">
        <!--Products-->
        <div class="product-list" ng-repeat="product in layaway.products">
            <div class="product-list_thumb">
                <a ng-href="/catalog/product/furnitureAlias/{{product.product.collectionAlias}}-{{product.product.article}}">
                    <img class="img-full-cart-product" ng-src="/api/images/product/{{product.productId}}/WithoutInterior" />
                </a>
            </div>
            <div class="product-list_title">
                <a ng-bind="product.product.furnitureType + ' ' +product.product.seriesName" ng-href="/catalog/product/furnitureAlias/{{product.product.collectionAlias}}-{{product.product.article}}">
                    <span class="product-list_title--articul" ng-bind="product.product.article"></span>
                </a>
            </div>
            <div class="product-list_price">
                <span class="product-list_price--new"><span ng-bind="product.product.salePrice.formattedAmountWithoutPoint"></span></span>
                <!-- Цена без скидки -->
                <span class="product-list_price--old" ng-hide="product.product.discount === 0"><span ng-bind="product.product.price.formattedAmountWithoutPoint"></span></span>
            </div>
            <div class="product-list_qty">
                <span ng-bind="product.quantity"></span>
            </div>
            <!--<div class="product-list_cell">
                ??.??.??
            </div>-->
            <div class="product-list_options">
                <button type="button" class="btn btn-black btn-sm rtl" ng-click="$ctrl.deleteProductFromLayaway(product.productId, layaway.id)"><i class="icon-trash"></i></button>
                <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.backProductFromLayaway(product.productId, layaway.id)"><i class="icon-cart"></i></button>
            </div>
        </div>


        <!-- products in collection -->
        <div class="products-list products-list-collection" ng-repeat="collection in layaway.collections">
            <h2 ng-bind="'Коллекция ' + collection.roomTypeName"></h2>
            <div class="product-list" ng-repeat="item in collection.productsInCollection">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.article}}">
                        <img class="img-full-cart-product" ng-src="/api/images/product/{{item.productId}}/WithoutInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="item.product.furnitureType + ' ' +item.product.collectionName" ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.article}}">
                        <span ng-bind="item.product.article"></span>
                    </a>
                </div>
                <div class="product-list_price">
                    <span class="product-list_price--new"><span ng-bind="item.product.salePrice.formattedAmountWithoutPoint"></span></span>
                    <!-- Цена без скидки -->
                    <span class="product-list_price--old" ng-hide="item.product.discount === 0"><span ng-bind="item.product.price.formattedAmountWithoutPoint"></span></span>
                </div>
                <div class="product-list_qty">
                    <span ng-bind="item.quantity"></span>
                </div>
                <!--<div class="product-list_cell">??.??.??</div>-->
                <div class="product-list_options">
                    <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.backProductInCollectionFromLayaway(item.productId, collection.id, layaway.id)"> <i class="icon-cart"></i> </button>
                    <button type="button" class="btn btn-black btn-sm" ng-click="$ctrl.deleteProductInCollectionFromLayaway(item.productId, collection.id, layaway.id)"><i class="icon-trash"></i></button>
                </div>
            </div>
        </div>

        <!-- products in complect -->
        <div class="products-list products-list-complect" ng-repeat="komplekt in layaway.complects">
            <h2 ng-bind="'Комплект ' + komplekt.collectionVariant.roomTypeName"></h2>

            <div class="product-list" ng-repeat="item in komplekt.collectionVariant.products">
                <div class="product-list_thumb">
                    <img class="img-full-cart-product" ng-src="/api/images/product/{{item.id}}/WithoutInterior" />
                </div>
                <div class="product-list_title">
                    <a ng-bind="item.furnitureType + ' ' +komplekt.collectionVariant.collectionName" ng-href="/catalog/product/furnitureAlias/{{komplekt.collectionVariant.collectionAlias}}-{{item.article}}">
                        <span class="product-list_title--articul" ng-bind="item.article"></span>
                    </a>
                </div>
                <div class="product-list_price">
                    <span class="product-list_price--new" ng-bind="komplekt.priceInTotal.formattedAmountWithoutPoint"></span>
                    <span ng-hide="komplekt.discount === 0" class="product-list_price--old" ng-bind="komplekt.price.formattedAmountWithoutPoint"></span>
                </div>
                <div class="product-list_sborka">
                    <div class="checkbox">
                        <input id="{{komplekt.id}}" type="checkbox" ng-model="komplekt.isAssemblyRequired" ng-change="$ctrl.onChangeComplectAssembly(komplekt)" />
                        <label for="{{komplekt.id}}"><span ng-bind="komplekt.priceForAssembly.formattedAmountWithoutPoint"></span></label>
                    </div>
                </div>
                <div class="product-list_qty">
                    <span ng-bind="komplekt.quantity"></span>
                </div>
                <div class="product-list_cell"><span ng-bind="item.quantity"></span></div>
                <div class="product-list_options">
                    <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.backComplectFromLayaway(komplekt.id, layaway.id)"> <i class="icon-cart"></i> </button>
                    <button type="button" class="btn btn-black btn-sm" ng-click="$ctrl.deleteComplectFromLayaway(komplekt.id, layaway.id)"><i class="icon-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="products-list" ng-if="layaway.isWholeCart">
            <div class="product-list product-list-footer">
                <div>
                    <span ng-bind="'Корзина от ' + layaway.creationTime|date:'dd/MM/yyyy'"></span>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm rtl" ng-click="$ctrl.backWholeCartFromLayaway(layaway.id)">Добавить к заказу всю корзину</button>
                </div>
            </div>
        </div>
    </div>
</div>
