﻿@model KonigDev.Lazurit.Store.Dto.Collection.DTOCollectionFoomResult

@section scripts{
    <script>
        $(window).load(function () {
            $('.bond-hover').bond();
        });
    </script>
}

<div class="page-collection">
    <div class="content" id="content" ng-controller="collectionController as ctrl">

        <!-- Хлебные крошки -->
        @Html.MvcSiteMap().SiteMapPath()

        <div id="collectionCardForm" collection-alias="@Model.CollectionAlias" room-alias="@Model.RommAlias"></div>
        <div class="collection-choser">
            <div class="collection-choser_photo">
                <div class="collection-choser_photo--container">

                    <!-- Кнопка: добавить все в избранное -->
                    @*todo: Нет в дизайне
                        <kd-favorite-button class="btn btn-primary rtl" is-in-favorite="item.isFavorite" product-id="item.id" item-type="'product'"></kd-favorite-button>
                               или так*@
                    <div class="buttons add-all">
                        <a class="btn btn-black btn-icon">
                            <kd-favorite-link ng-if="!ctrl.currentVariant.isComplect" is-in-favorite="ctrl.currentVariant.isFavorite" collection-id="ctrl.currentVariant.id"
                                              item-type="'collection'"></kd-favorite-link>

                            <kd-favorite-link ng-if="ctrl.currentVariant.isComplect" is-in-favorite="ctrl.currentVariant.isFavorite" collection-id="ctrl.currentVariant.id"
                                              item-type="'complect'"></kd-favorite-link>
                        </a>

                        <!-- Кнопка: добавить все элементы в корзину -->
                        <button ng-if="!ctrl.currentVariant.isComplect" href="javascript:void(0)" ng-click="ctrl.addCollectionToCart(ctrl.currentVariant)"
                           class="btn btn-black" ng-disabled="ctrl.currentVariant.isAddingToCart"><i class="icon-cart"></i>Все в корзину</button>
                        <button ng-if="ctrl.currentVariant.isComplect" href="javascript:void(0)" ng-click="ctrl.addComplectToCart(ctrl.currentVariant)"
                           class="btn btn-black" ng-disabled="ctrl.currentVariant.isAddingToCart"><i class="icon-cart"></i>В корзину</button>
                    </div>
                    <!-- Компонент: список магазинов где эта коллекция находится физически -->
                    <!--<div class="shops-list">
                        <span class="btn btn-white">
                            <i class="icon-map-marker"></i> Где посмотреть?
                        </span>
                    </div>-->
                    <!--Products Content-->
                    <div ng-repeat="product in ctrl.currentVariant.products">
                        <div class="item tooltip" id="{{product.productId}}" ng-mouseover="ctrl.hover(product.productId, true)" ng-mouseleave="ctrl.hover(product.productId, false)"
                             style="left:{{product.contentLeft}}%;top:{{product.contentTop}}%;width:{{product.contentWidth}}%;height:{{product.contentHeight}}%;">
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <span href="javascript:void(0)" class="item-add">
                                <span class="item-add_tooltip">
                                    <span class="item-add_tooltip--photo">
                                        <img src="/api/images/product/{{product.productId}}/WithoutInterior" />
                                    </span>
                                    <span class="item-add_tooltip--description">
                                        <a ng-href="/catalog/product/product.furnitureTypeAlias/{{ctrl.seriesAlias}}-{{product.articleSyncCode1c}}/#/{{product.syncCode1C}}" class="description-title">
                                            <span ng-bind="product.furnitureTypeName + ' '"></span><span ng-bind="ctrl.collection.seriesName"></span>
                                        </a>
                                        <p ng-show="!ctrl.isComplect" class="price">
                                            <span class="price-current" ng-bind="product.salePrice.formattedAmountWithoutPoint"></span>
                                            <span class="price-past" ng-bind="product.price.formattedAmountWithoutPoint" ng-hide="product.discount===0" style="text-decoration:line-through;"></span>
                                            <span class="price-discount" ng-bind="'-' + product.discount + '%'" ng-hide="product.discount===0"></span>
                                        </p>
                                        <span ng-show="!ctrl.isComplect" class="buttons">
                                            <kd-favorite-link class="btn btn-primary btn-sm btn-icon" is-in-favorite="product.isFavorite" product-id="product.productId" item-type="'product'"></kd-favorite-link>
                                            <button class="btn btn-primary btn-sm" href="javascript:;" ng-click="ctrl.addProductToCart(product)" ng-disabled="product.isAddingToCart"><i class="icon-cart"></i> В корзину</button>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <img id="photo_{{product.productId}}" ng-src="/api/images/productinvariant/{{product.objectId}}/InInterior" class="item-photo" />
                    </div>
                    <img ng-src="/api/images/collectionvariant/{{ctrl.currentVariant.id}}/InInterior" />
                </div>
            </div>
            <div class="collection-choser_photo--thumbs">
                <div class="catalog-item">
                    <div class="bond-hover" kd-bond-collection>
                        <div class="bond-wrapper" style="left: 0px;">
                            <div class="bond-box" id="bond-box-0">
                                <div id="variants-slider-items" class="bond-slide" ng-class="{'active' : variant.isActive, 'selected' : variant.isSelected}" ng-repeat="variant in ctrl.collection.variants | orderBy: ['-isActive', '-isSelected']">
                                    <div class="bond-slide_img">
                                        <a href="" ng-click="ctrl.changeVariant(variant.id)"><img ng-src="/api/images/collectionvariant/{{variant.id}}/SliderMin" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shop-wrapper">
            <kd-furniture-types class="shop-wrapper_nav" list-items="ctrl.furnitureTypesList" kd-on-click="ctrl.changeFurnitur"></kd-furniture-types>

            <section class="shop-content">
                <!-- Filters -->
                <div class="filter" id="filter">
                    <kd-filter-multi-select class="selector" settings="{title: 'Цвет корпуса', placeholder: 'Выберите цвет'}" list-items="ctrl.frameColorsList" kd-model="ctrl.selectedFrameColors"
                                            kd-change="ctrl.changeFrameColor"></kd-filter-multi-select>
                    <kd-filter-multi-select class="selector" settings="{title: 'Тип отделки'}" list-items="ctrl.facingsList" kd-model="ctrl.selectedFacings"
                                            kd-change="ctrl.changeFacing"></kd-filter-multi-select>
                    <kd-filter-multi-select class="selector" settings="{title: 'Цвет отделки'}" list-items="ctrl.facingColorsList"
                                            kd-model="ctrl.selectedFacingColors" kd-change="ctrl.changeFacingColor"></kd-filter-multi-select>
                </div>

                <h2 class="shop-content_title"><span>Коллекция </span><span ng-bind="ctrl.collection.seriesName"></span></h2>
                <!-- Products -->
                <section class="shop-list" infinite-scroll="ctrl.loadMoreProducts()" infinite-scroll-distance="2">
                    <kd-products ng-repeat="item in ctrl.productsListLoaded" class="shop-list_item" marketer-product="item"
                                 settings="{collectionId:ctrl.collectionId, seriesName: ctrl.collection.seriesName, url: '/catalog/product/{{item.furnitureTypeAlias}}/{{ctrl.collection.seriesAlias}}-{{item.articleSyncCode1c}}/#/{{itemt.syncCode1C}}'}"></kd-products>
                </section>
            </section>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-about">
            <h2>Мебельная фабрика лазурит</h2>
            <p>
                Уютная атмосфера в доме зависит от правильного выбора мебели. Не только красивая, но и предельно функциональная мебель
                в Калининграде представлена в интернет-магазине и в фирменных салонах «Лазурит». Оригинальный дизайн и новейшие
                технологии производства делают наши серии такими популярными.
            </p>
        </div>
        <div class="footer-menu">
            <table>
                <tr>
                    <!-- <td>
                     <h2>Сервис</h2>
                 </td>-->
                    <td>
                        <h2>Оплата</h2>
                    </td>
                    <td>
                        <h2>Покупателю</h2>
                    </td>
                    <td>
                        <h2>О компании</h2>
                    </td>
                </tr>
                <tr>
                    <!--<td>Дизайн-проект</td>-->
                    <td>Онлайн-оплата</td>
                    <td>Акции</td>
                    <td>О компании</td>
                </tr>
                <tr>
                    <!--<td>Доставка и подъем</td>-->
                    <td>Сбербанк онлайн</td>
                    <td>Сервис</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <!--<td>Сборка</td>-->
                    <td>Рассроча</td>
                    <td>Условия продажи</td>
                    <td>Партнерам</td>
                </tr>
                <tr>
                    <!--<td>Обмен и возврат</td>-->
                    <td>Другие способы оплаты</td>
                    <td>Технический каталог</td>
                    <td>Отзывы</td>
                </tr>
                <tr>
                    <!--<td>Сертификаты доверия</td>-->
                    <td></td>
                    <td></td>
                    <td>Банк идей</td>
                </tr>
                <tr>
                    <!--<td>График работы</td>-->
                    <td></td>
                    <td></td>
                    <td>Контакты</td>
                </tr>
            </table>
        </div>
        <div class="footer-contact">

            <table class="footer-contact_phone">
                <tr>
                    <td>
                        <img src="~/Content/src/img/icons/icon-phone.svg" />
                        <h3>8 800 100-50-22</h3>
                    </td>
                    <td>
                        <button class="btn btn-primary">Заказать звонок</button>
                    </td>
                </tr>
            </table>

            <h2>Подписка на новости и акции</h2>
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="Имя" />
                    </td>
                    <td>
                        <input type="text" placeholder="E-mail" />
                    </td>
                    <td>
                        <button class="btn btn-primary">Подписаться</button>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
    <div class="copyright">&copy; Торговый дом «Лазурит», 2016</div>
</div>
