﻿@using System.Collections.Generic;
@using KonigDev.Lazurit.Hub.Model.DTO.FurnitureTypes.Dto;
@model List<DtoFurnitureTypeWithDefaultProductResult>

@*<style>
        body {
            padding: 50px 60px 0;
        }
    </style>*@

<main class="content page-catalog-single">
    <div class="catalog-wrapper">
        <div class="catalog-options">
            <ul id="catalog-options" class="nav">
                <!-- HACK opens by script for scroll init on callback -->
                <li class="open">
                    <strong>Предметы мебели</strong>
                    <!--<a id="rooms-types-menu" href="#">
                        <span></span>Вся мебель
                        <i class="bage">
                    </a>-->
                    <ul class="catalog-nav lists" style="display: block;" data-index="0">
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <a id="bedrooms" class="link" ng-href="/catalog-single/@item.Alias">@item.Name</a>
                                        </li>
                                    }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <section class="catalog-content">
        <section class="shop-list" id="div-goods-parent">
            @foreach (var item in Model)
            {
                <a ng-href="/catalog-single/@item.Alias" class="shop-list_item">
                    <div class="shop-list_item--wrapper">
                        <div class="shop-list_item--photo" style="background-image: url('/api/images/productinvariant/@item.DefaultProductId/InInterior')">
                            <img ng-src="/api/images/productinvariant/@item.DefaultProductId/WithoutInterior">
                        </div>
                        <div class="shop-list_item--summary">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="title">@item.Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </a>
            }
        </section>
    </section>
</main>
