﻿@using System.Collections.Generic;
@model  List<KonigDev.Lazurit.Store.Dto.Prices.DtoProductPrice>

@foreach (var product in Model)
{
    <div class="bond-slide">
        <div class="bond-slide_img">
            <a class="" title="" href="">
                <img src="/api/images/product/@product.Id/WithoutInterior">                
            </a>
        </div>
        <footer class="item--summary">
            <table>
                <thead>
                    <tr>
                        <th class="title">@product.FurnitureTypeName @product.SeriesName</th>
                        <th class="articul">арт. @product.ArticleName</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="price" colspan="2">
                            <span class="price-current">@product.SalePrice.FormattedAmountWithoutPoint</span>
                            @if (product.Discount != 0) { 
                                <span class="price-past" style="text-decoration:line-through;">@product.Price.FormattedAmountWithoutPoint</span>
                                <span class="price-discount">-@product.Discount%</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="size" colspan="2">
                            <span>437 x 609 x 491</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<div class="footer-buttons">
                <button type="button" class="btn btn-primary"><i class="icon-heart"></i></button>
                <button type="button" class="btn btn-primary"><i class="icon-cart"></i>&nbsp;В корзину</button>
            </div>*@
        </footer>

    </div>
}
