﻿@using KonigDev.Lazurit.Hub.Model.DTO.Collections
@using KonigDev.Lazurit.Hub.Model.DTO.RoomTypes
@using KonigDev.Lazurit.Store.Dto.Catalog
@model DtoRoomsExtendedResult

<!--@Html.MvcSiteMap().SiteMapTitle()-->
@section scripts{
    <script type="text/javascript" src="~/Content/src/components/scroll-block/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="~/Content/src/components/accordion/jquery.navgoco.js"></script>
    <script type="text/javascript" src="~/Content/src/components/scroll/custom-scroll.js"></script>
    <script type="text/javascript" src="~/Content/src/components/catalog-index/filters-and-scrolls.js"></script>
}
<style>
    html, body {
        height: 100%;
    }

    body {
        padding: 50px 30px 0;
    }
</style>

<main class="content page-catalog">
    <!-- Catalog Sidebar Menu -->
    <div class="catalog-wrapper">
        <!-- todo: Нет компоненты "Списка меню", поэтому поставил статический шаблон -->
        <div class="catalog-options">
            <ul id="catalog-options" class="nav">
                <!-- HACK opens by script for scroll init on callback -->
                <li class="open">
                    <a id="rooms-types-menu" href="#">
                        Типы комнат
                        <i class="bage count-12 room-types-counter"><b>0</b>/0</i>
                    </a>
                    <ul class="catalog-nav lists nano has-scrollbar" style="display: block;" data-index="0">
                        <!--<span class="nano-content" tabindex="0" style="right: -17px;">-->
                        @foreach (var room in Model.Rooms)
                        {
                            <li>
                                <a id="@room.Alias" class="link room-type-item" href="@Url.Action("room", "catalog", new { alias = room.Alias })">@room.Name</a>
                            </li>
                        }
                        <!--</span>
                        <div class="nano-pane">
                            <div class="nano-slider" style="height: 288px; transform: translate(0px, 0px);"></div>
                        </div>-->
                    </ul>
                </li>
                @*целевые аудитории*@
                <li>
                    <a id="individual-menu" href="#">
                        Индивидуальный подбор
                    </a>
                    <ul class="individual lists" data-index="1" style="display: none;">
                        @{
                            <li>
                                <strong class="ta-submenu" id="for-all" is-checked="false">Интерьеры для всех</strong>
                            </li>

                            var id1 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для мужчин")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id1" ta-submenu-id="for-all" class="room-ta-item menu-checkbox-t" />
                                <label for="@id1">Для мужчин</label>
                            </li>

                            var id2 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для женщин")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id2" ta-submenu-id="for-all" class="room-ta-item menu-checkbox-t" />
                                <label for="@id2">Для женщин</label>
                            </li>



                            <li>
                                <strong class="ta-menu" id="for-child" is-checked="false">Интерьеры для детей</strong>
                            </li>



                            <li class="small">
                                &nbsp;
                                <strong class="ta-submenu" id="for-girls" ta-menu-id="for-child" is-checked="false">Детская для девочек</strong>
                            </li>
                  
                            var id3 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для девочек до 12 лет")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id3" ta-submenu-id="for-girls" ta-menu-id-pseudo="for-child" class="room-ta-item menu-checkbox-t" />
                                <label for="@id3">Для девочек до 12 лет</label>
                            </li>

                            var id4 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для девочек от 12 до 18 лет")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id4" ta-submenu-id="for-girls" ta-menu-id-pseudo="for-child" class="room-ta-item menu-checkbox-t" />
                                <label for="@id4">Для девочек от 12 до 18 лет</label>
                            </li>



                            <li class="small">
                                &nbsp;
                                <strong class="ta-submenu" id="for-boys" ta-menu-id="for-child" is-checked="false">Детская для мальчиков</strong>
                            </li>

                            var id5 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для мальчиков до 12 лет")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id5" ta-submenu-id="for-boys" ta-menu-id-pseudo="for-child" class="room-ta-item menu-checkbox-t" />
                                <label for="@id5">Для мальчиков до 12 лет</label>
                            </li>

                            var id6 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для мальчиков от 12 до 18 лет")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id6" ta-submenu-id="for-boys" ta-menu-id-pseudo="for-child" class="room-ta-item menu-checkbox-t" />
                                <label for="@id6">Для мальчиков от 12 до 18 лет</label>
                            </li>



                            <li>
                                <strong class="ta-submenu" id="for-family" is-checked="false">Интерьеры для семьи</strong>
                            </li>

                            var id7 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для молодых пар")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id7" ta-submenu-id="for-family" class="room-ta-item menu-checkbox-t" />
                                <label for="@id7">Для молодых пар</label>
                            </li>

                            var id8 = @Model.TargetAudiences.FirstOrDefault(p => p.SyncCode1C == "Для семей с детьми")?.Id ?? Guid.NewGuid();
                            <li class="small">
                                <input type="checkbox" id="@id8" ta-submenu-id="for-family" class="room-ta-item menu-checkbox-t" />
                                <label for="@id8">Для семей с детьми</label>
                            </li>
                        }

                    </ul>
                    <div class="checked-options">
                        @{
                            <p sub-id="for-all" class="ta-choosen-submenu checked-options-co">
                                Интерьеры для всех
                            </p>

                            <p filter-ta-id="@id1" ta-choosen-submenu-id="for-all" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для мужчин
                            </p>

                            <p filter-ta-id="@id2" ta-choosen-submenu-id="for-all" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для женщин
                            </p>



                            <p sub-id="for-child" class="ta-choosen-menu checked-options-co">
                                Интерьеры для детей
                            </p>



                            <p sub-id="for-girls" ta-choosen-menu-id="for-child" class="ta-choosen-submenu checked-options-co">
                                Интерьеры для девочек
                            </p>

                            <p filter-ta-id="@id3" ta-choosen-submenu-id="for-girls" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для девочек до 12 лет
                            </p>

                            <p filter-ta-id="@id4" ta-choosen-submenu-id="for-girls" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для девочек 12 - 18 лет
                            </p>



                            <p sub-id="for-boys" ta-choosen-menu-id="for-child" class="ta-choosen-submenu checked-options-co">
                                Интерьеры для мальчиков
                            </p>

                            <p filter-ta-id="@id5" ta-choosen-submenu-id="for-boys" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для мальчиков до 12 лет
                            </p>

                            <p filter-ta-id="@id6" ta-choosen-submenu-id="for-boys" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для мальчиков 12 - 18 лет
                            </p>




                            <p sub-id="for-family" class="ta-choosen-submenu checked-options-co">
                                Интерьеры для семьи
                            </p>

                            <p filter-ta-id="@id7" ta-choosen-submenu-id="for-family" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для молодых пар
                            </p>

                            <p filter-ta-id="@id8" ta-choosen-submenu-id="for-family" class="room-ta-choosen-item checked-options-co">
                                Интерьеры для семей с детьми
                            </p>
                        }
                    </div>
                </li>
                <li>
                    <a href="#" id="mebel-by-styles-menu">
                        Мебель по стилям
                    </a>
                    <ul class="styles lists" data-index="2" style="display: none;">
                        @foreach (var style in Model.Styles)
                        {
                            <li class="small" style-holder="@style.Id">
                                <input type="checkbox" id="@style.Id" class="room-style-item menu-checkbox-s">
                                <label for="@style.Id">@style.Name</label>
                            </li>
                        }
                    </ul>
                    <div class="checked-options">
                        @foreach (var style in Model.Styles)
                        {
                            <p filter-style-id="@style.Id" class="room-style-choosen-item checked-options-cos">@style.Name</p>
                        }
                    </div>
                </li>
            </ul>

            <p><a ng-href="/catalog-single" class="btn btn-primary">Предметы мебели</a></p>

            <!-- todo: Нет компоненты "Дополнительный текст", поэтому поставил статический шаблон -->
            <div class="about-text">
                <div class="about-text_item animated fadeInLeft active" id="catalog-text">
                    <h2>Интернет-магазин мебели "Лазурит"</h2>
                    <p>Приобретая мебель, мы не только выбираем удобные и эргономичные предметы быта. Именно она позволяет создать то самое ощущение домашнего уюта, которое так необходимо в интенсивном ритме жизни.</p>
                    <ul class="social">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
                <div class="about-text_item animated fadeInLeft" id="bedrooms-text">
                    <h2>Мебель для спальни "Лазурит"</h2>
                    <p>Купить мебель для спальни в интернет-магазине «Лазурит» - значит приобрести действительно качественные изделия по ценам производителя. Разнообразие готовых решений позволит выбрать комплект для любого помещения.</p>
                    <ul class="social">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
                <div class="about-text_item animated fadeInLeft" id="gostin-text">
                    <h2>Мебель для гостиной "Лазурит"</h2>
                    <p>Гостиная комната – своего рода визитная карточка вашей квартиры, место, где принимают гостей, собираются всей семьей, проводят часы досуга в компании.</p>
                    <ul class="social">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
                <div class="about-text_item animated fadeInLeft" id="prihoj-text">
                    <h2>Мебель для прихожей "Лазурит"</h2>
                    <p>Прихожая - это то место, где мы проводим меньше всего времени, но при этом выдвигаем максимальные требования к ее удобству и комфорту.</p>
                    <ul class="social">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
                <div class="about-text_item animated fadeInLeft" id="det-text">
                    <h2>Мебель для детской "Лазурит"</h2>
                    <p>К детской мебели выдвигаются, пожалуй, самые жесткие требования. Ведь она должна быть удобной, красивой, функциональной, а главное – безопасной.</p>
                    <ul class="social">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>


    <!-- Catalog Slider -->
    <div class="catalog-slider">
        <div class="slider-wrap"></div>
        <div class="bond_body laz-slider-body">
            @foreach (DtoRoomTypesResult room in Model.Rooms)
            {
                <div class="catalog-item lazurit-slider-item bedrooms-row room-@room.Alias" filter-affected="true" pseudo-id="@room.Alias" id="room-@room.Alias" @foreach (var style in room.Styles) { <text> style-@style.Id="@style.Id" </text>                                     } @foreach (var ta in room.TargetAudiences) { <text> ta-@ta.Id="@ta.Id" </text>                                     }>
                    <a href="@Url.Action("room", "catalog" , new {alias = room.Alias})" class="catalog-item_title animated fadeInDown">
                        <span>@room.Name</span>
                    </a>
                    <div class="bond-hover laz-slider-row">
                        <div class="bond-wrapper laz-slider-wrapper" style="left: 0px;">
                            <div class="bond-box">
                                @foreach (DtoCollectionsResult collection in room.Collections)
                                {
                                    <div class="bond-slide laz-slider-item collection-selector" filter-affected="true" @foreach (var style in collection.Styles) { <text> style-@style.Id="@style.Id" </text>                                     } @foreach (var ta in collection.TargetAudiences) { <text> ta-@ta.Id="@ta.Id" </text>                                     }>
                                        <div class="bond-slide_img">
                                            <a href="@Url.Action("Collection", "Catalog" , new { @roomAlias=room.Alias, @collectionAlias=collection.Alias })">
                                                <img src="/api/images/collection/@collection.DefaultVariantId/SliderMiddle" />
                                                <h2 href="@Url.Action("Collection","Catalog",new { @roomAlias=room.Alias,@collectionAlias =collection.Alias})">@collection.Name</h2>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>