﻿@using KonigDev.Lazurit.Core.Enums;
@model KonigDev.Lazurit.Store.Dto.Article.DtoArticleWithFilesContent

@{
    ViewBag.Title = "Product";
}
@section scripts{
    <script>
        $(document).ready(function () {
            $(".nano").nanoScroller();

            selectImage = function (id) {
                $.event.trigger('selectProductImg', id);
            }

            $('.product-thumbs__list--item').click(function () {
                $('.product-thumbs__list--item').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
}
<kd-product-page vendor-code-id="'@Model.Article.ArticleId'" class="content page-product">
    <slider>
        <div ng-controller="controllerProductPageSlider as ppsCtrl">
            <div class="product-slider">
                <div class="product-slider_images">
                    <span ng-click="ppsCtrl.openModal(1, 'SliderInInterior')" class="wow-open"><i class="icon-camera"></i><span></span></span>
                    <div class="product-slider_images--container">
                        <div id="main_image_hover" style="background-image: url(/api/images/product/{{ppsCtrl.current.id}}/{{ppsCtrl.current.openType}});">
                            <img id="main_image" name="@Model.ProductsfilesContent[0].ProductId" ng-src="/api/images/product/{{ppsCtrl.current.id}}/{{ppsCtrl.current.type}}" />
                        </div>
                    </div>
                </div>
                <div class="product-thumbs nano">
                    <ul li class="product-thumbs__list nano-content">
                           @* Формирование слайдера. На видимую картинку берем с типом SliderMiddle, на картинку по ховеру - SliderInInterior. при формировании списком/форичем - если первый элемент, и есть картинка в интерьере для слайдера, добавляем ее в слайдер.  *@
                        @{
                            var imageSingleInInterior = Model.ProductsfilesContent.Where(p => p.ProductFilesContent.Any()).SelectMany(p => p.ProductFilesContent).Where(p => p.Type == EnumFileContentType.SliderInInterior.ToString()).FirstOrDefault();
                            var count = 0;
                            foreach (var product in Model.ProductsfilesContent)
                            {
                                count++;

                                if (count == 1 && imageSingleInInterior != null)
                                {
                                    <li class="product-thumbs__list--item active" ng-click="ppsCtrl.selectImage('@product.ProductId', @count, 'SliderInInterior')">
                                        <img src="/api/images/product/@(product.ProductId)/SliderInInterior" alt="" />
                                    </li>
                                }
                                <li class="product-thumbs__list--item" ng-click="ppsCtrl.selectImage('@product.ProductId', @count, 'SliderMiddle')">
                                    <img src="/api/images/product/@(product.ProductId)/SliderMiddle" alt="" />
                                </li>
                            }
                        }
                    </ul>
                </div>



                <!--<div class="product-slider_thumbs">
                    <div class="bond-hover" kd-bond>
                        <div class="bond-wrapper">
                            <div class="bond-box" id="bond-box-0">
                                @* Формирование слайдера. На видимую картинку берем с типом SliderMiddle, на картинку по ховеру - SliderInInterior. при формировании списком/форичем - если первый элемент, и есть картинка в интерьере для слайдера, добавляем ее в слайдер.  *@
                                @*{
                                    var imageSingleInInterior = Model.ProductsfilesContent.Where(p => p.ProductFilesContent.Any()).SelectMany(p => p.ProductFilesContent).Where(p => p.Type == EnumFileContentType.SliderInInterior.ToString()).FirstOrDefault();
                                    var count = 0;
                                    foreach (var product in Model.ProductsfilesContent)
                                    {
                                        count++;

                                        if (count == 1 && imageSingleInInterior != null)
                                        {
                                            <div class="bond-slide active">
                                                <div class="bond-slide_img">
                                                    <a href="" ng-click="ppsCtrl.selectImage('@product.ProductId', @count, 'SliderInInterior')">
                                                        <img src="/api/images/product/@(product.ProductId)/SliderInInterior" alt="" />
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        <div class="bond-slide">
                                            <div class="bond-slide_img">
                                                <a href="" ng-click="ppsCtrl.selectImage('@product.ProductId', @count, 'SliderMiddle')">
                                                    <img src="/api/images/product/@(product.ProductId)/SliderMiddle" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }*@
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>


            <div id="modal-window" class="product-image-slider" style="display:none;">
                <div class="product-image-slider_content">
                    <span class="product-image-slider_close" ng-click="ppsCtrl.closeModal()"></span>

                    @* если первый элемент, и есть картинка в интерьере для слайдера, добавляем ее в слайдер.  *@
                    @{
                        var i = 1;

                        foreach (var product in Model.ProductsfilesContent)
                        {

                            if (i == 1 && imageSingleInInterior != null)
                            {
                                <a id="@(i)_SliderInInterior" name="@(product.ProductId)" class="product-image-slider_content--item" style="display: none;">
                                    <img src="/api/images/product/@(product.ProductId)/SliderInInterior" alt="" class="product-image-slider_content--item-img" />
                                </a>
                            }

                            <a id="@(i)_SliderMiddle" name="@(product.ProductId)" class="product-image-slider_content--item" style="display: none;">
                                <img src="/api/images/product/@(product.ProductId)/SliderMiddle" alt="" class="product-image-slider_content--item-img" />
                            </a>
                            <a id="@(i)_SliderOpen" name="@(product.ProductId)" class="product-image-slider_content--item" style="display: none;">
                                <img src="/api/images/product/@(product.ProductId)/SliderOpen" alt="" class="product-image-slider_content--item-img" />
                            </a>
                            i++;
                        }
                    }
                    <span ng-click="ppsCtrl.prev()" class="product-image-slider_nav product-image-slider_left"><span></span></span>
                    <span ng-click="ppsCtrl.selectProduct()" class="btn btn-black product-image-slider_btn">Выбрать</span>
                    <span ng-click="ppsCtrl.next()" class="product-image-slider_nav product-image-slider_right"><span></span></span>
                </div>
            </div>
        </div>
    </slider>

    @*<from-collection>
        <div class="featured-items">
            <h2 class="featured-items_title">Еще из коллекции @Model.Collection.Name:</h2>
            <div class="bond-hover">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide">
                            <div class="bond-slide_img">
                                <a class="" title="" href="">
                                    <img src="/Content/src/img/shop/tumba.jpg" alt="" />
                                </a>
                            </div>
                            <footer class="item--summary">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="title">Тумба ЭЛЕОНОРА</th>
                                            <th class="articul">арт.58005л</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="price" colspan="2">
                                                <span class="price-current">11 773 руб</span>
                                                <span class="price-past" style="text-decoration:line-through;">15 290 руб</span>
                                                <span class="price-discount">-25%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="size" colspan="2">
                                                <span>437 x 609 x 491</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </from-collection>*@

    @*<from-collection>
            <h2 class="featured-items_title">Еще из коллекции @Model.Collection.Name:</h2>
            <div class="bond-hover">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="shop-content">
                            <div class="shop-list">
                                @Html.Action("GetProductsFromSameCollection", new GetProductsByRequestQuery { CollectionId = Model.Collection.Id });
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </from-collection>*@

    @*<buy-with>
        <div class="featured-items">
            <h2 class="featured-items_title">С этим товаром покупают:</h2>
            <div class="bond-hover">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide">
                            <div class="bond-slide_img">
                                <a class="" title="" href="">
                                    <img src="/Content/src/img/shop/tumba.jpg" alt="" />
                                </a>
                            </div>
                            <footer class="item--summary">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="title">Тумба ЭЛЕОНОРА</th>
                                            <th class="articul">арт.58005л</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="price" colspan="2">
                                                <span class="price-current">11 773 руб</span>
                                                <span class="price-past" style="text-decoration:line-through;">15 290 руб</span>
                                                <span class="price-discount">-25%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="size" colspan="2">
                                                <span>437 x 609 x 491</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </buy-with>*@

    @*<promotional>
        <div class="featured-items">
            <h2 class="featured-items_title">Акционные предложения:</h2>
            <div class="bond-hover">
                <div class="bond-wrapper">
                    <div class="bond-slide">
                        <div class="bond-slide_img">
                            <a class="" title="" href=""><img src="/Content/src/img/shop/tumba.jpg" alt="" /></a>
                        </div>
                        <footer class="item--summary">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="title">Тумба ЭЛЕОНОРА</th>
                                        <th class="articul">арт.5805ш1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="price" colspan="2">
                                            <span class="price-current">6 906 руб</span>
                                            <span class="price-past" style="text-decoration:line-through;">8 970 руб</span>
                                            <span class="price-discount">-23%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="size" colspan="2">
                                            <span>437 x 609 x 491</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </promotional>*@
</kd-product-page>

@*<from-collection class="content">
        <div class="featured-items">
            <h2 class="featured-items_title">Еще из коллекции @Model.Collection.Name:</h2>
            <div class="bond-hover">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        @Html.Action("GetProductsFromSameCollection", new GetProductsByRequestQuery { CollectionId = Model.Collection.Id });
                    </div>
                </div>
            </div>
        </div>
    </from-collection>*@
<div class="content">
<div class="featured-items featured-banners banners" style="position: static;">
    <div class="banner">
        <a href="#"><img src="/Content/src/img/home/web-app.jpg" /></a>
    </div>
    <div class="banner">
        <a href="#"><img src="/Content/src/img/home/designer.jpg" /></a>
    </div>
    <div class="banner">
        <a href="#"><img src="/Content/src/img/home/cash.jpg" /></a>
    </div>
</div>
</div>
<footer class="footer">
    <div class="footer-about">
        <h2>Мебельная фабрика лазурит</h2>
        <p>
            Уютная атмосфера в доме зависит от правильного выбора мебели. Не только красивая, но и предельно функциональная мебель в Калининграде представлена в интернет-магазине и в фирменных салонах «Лазурит». Оригинальный дизайн и новейшие
            технологии производства делают наши серии такими популярными.
        </p>
    </div>
    <div class="footer-menu">
        <table>
            <tr>
                <!-- <td>
                     <h2>Сервис</h2>
                 </td>-->
                <td>
                    <h2>Оплата</h2>
                </td>
                <td>
                    <h2>Покупателю</h2>
                </td>
                <td>
                    <h2>О компании</h2>
                </td>
            </tr>
            <tr>
                <!--<td>Дизайн-проект</td>-->
                <td>Онлайн-оплата</td>
                <td>Акции</td>
                <td>О компании</td>
            </tr>
            <tr>
                <!--<td>Доставка и подъем</td>-->
                <td>Сбербанк онлайн</td>
                <td>Сервис</td>
                <td>Новости</td>
            </tr>
            <tr>
                <!--<td>Сборка</td>-->
                <td>Рассроча</td>
                <td>Условия продажи</td>
                <td>Партнерам</td>
            </tr>
            <tr>
                <!--<td>Обмен и возврат</td>-->
                <td>Другие способы оплаты</td>
                <td>Технический каталог</td>
                <td>Отзывы</td>
            </tr>
            <tr>
                <!--<td>Сертификаты доверия</td>-->
                <td></td>
                <td></td>
                <td>Банк идей</td>
            </tr>
            <tr>
                <!--<td>График работы</td>-->
                <td></td>
                <td></td>
                <td>Контакты</td>
            </tr>
        </table>
    </div>
    <div class="footer-contact">
        <table class="footer-contact_phone">
            <tr>
                <td>
                    <img src="~/Content/src/img/icons/icon-phone.svg" />
                    <h3>8 800 100-50-22</h3>
                </td>
                <td>
                    <kd-customer-request-create type="Call">
                        <button class="btn btn-primary">Заказать звонок</button>
                    </kd-customer-request-create>
                </td>
            </tr>
        </table>
        <h2>Подписка на новости и акции</h2>
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Имя" />
                </td>
                <td>
                    <input type="text" placeholder="E-mail" />
                </td>
                <td>
                    <button class="btn btn-primary">Подписаться</button>
                </td>
            </tr>
        </table>
    </div>
</footer>
<div class="copyright">&copy; Торговый дом «Лазурит», 2016</div>

