﻿@model KonigDev.Lazurit.Store.Dto.Catalog.DTORomByAliasResult

@section scripts{
    <script type="text/javascript" src="~/Content/src/components/scroll-block/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="~/Content/src/components/accordion/jquery.navgoco.js"></script>
    <script type="text/javascript" src="~/Content/src/components/scroll/custom-scroll.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".slider-wrap").backgroundCycle({
                imageUrls: [
                    '/Content/src/img/bg-slider-1.jpg',
                    '/Content/src/img/bg-slider-2.jpg',
                    '/Content/src/img/bg-slider-3.jpg'
                ],
                fadeSpeed: 1000,
                duration: 5000,
                backgroundSize: SCALING_MODE_COVER
            });

            $("#catalog-options").navgoco({
                accordion: true,
                onClickAfter: function (e) {

                    setTimeout(function () {
                        $('#catalog-options .nano').nanoScroller({
                            preventPageScrolling: true
                        });
                    }, 500);

                    if ($('#catalog-options .open').length === 0) {
                        $("#catalog-options #rooms-types-menu").click();
                    }
                }
            });

            $("html").niceScroll({});

            /* запрет скрола в меню каталога */
            $(".catalog-wrapper").each(function () {
                $(this).on("mousewheel", function (e) {
                    e.stopPropagation();
                })
            });

            // Scroll
            var _topTimep, _bottomTimer, rowClass;
            /* скролл вниз */
            function scrollSliderBottom() {
                if (!rowClass) {
                    stopScroll();
                    return;
                }
                var boundingRow = document.getElementsByClassName(rowClass)[0].getBoundingClientRect();
                var containerBounding = document.getElementsByClassName("laz-slider-body")[0].getBoundingClientRect();

                /* расчитываем где находится элемент, с учетом шапки в 50 px */
                if (boundingRow.bottom > containerBounding.height + 50) {
                    /* скролим вниз, пока строка слайдера полностью не покажется, с заданным шагом скрола */
                    var pointY = $(document).scrollTop() + 5; /* шаг скрола */
                    scroll(0, pointY);
                    _bottomTimer = setTimeout(scrollSliderBottom, 10); /* таймаут в мс */
                } else {
                    stopScroll();
                }
            };
            /* скролл вверх */
            function scrollSliderTop() {
                if (!rowClass) {
                    stopScroll();
                    return;
                }
                var boundingRow = document.getElementsByClassName(rowClass)[0].getBoundingClientRect();
                if (boundingRow.top - 50 < 0) {
                    /* скролим вверх, пока строка слайдера полностью не покажется, с заданным шагом скрола */
                    var pointY = $(document).scrollTop() - 5; /* шаг скрола */
                    scroll(0, pointY);
                    _topTimep = setTimeout(scrollSliderTop, 15); /* таймаут в мс */
                } else {
                    stopScroll();
                }
            };

            /* остановка скрола  */
            function stopScroll() {
                rowClass = null;
                bottomPoint = null;
                clearTimeout(_topTimep);
                clearTimeout(_bottomTimer);
            };

            /* проверка позиции строки слайдера */
            function checkPosition(className) {
                var boundingRow = document.getElementsByClassName(className)[0].getBoundingClientRect();
                var containerBounding = document.getElementsByClassName("laz-slider-body")[0].getBoundingClientRect();

                if (boundingRow.top - 50 < 0) {
                    rowClass = className;
                    scrollSliderTop();
                } else if (boundingRow.bottom > containerBounding.height) {
                    rowClass = className;
                    scrollSliderBottom();
                }
            };

            $('.catalog-options').hover(function () {
                $('.catalog-slider').toggleClass('active');

            });
        });
    </script>
}

<style>
    html, body {
        height: 100%;
    }

    body {
        padding: 50px 30px 0;
    }
</style>
<main class="content page-catalog page-catalog-collection" id="roomForm" roomAlias="@Model.Alias" ng-controller="roomController as ctrl">
    <div class="catalog-wrapper">
        <div class="catalog-options">
            <ul id="catalog-options" class="nav">
                <li class="open">
                    <a href="#" id="rooms-types-menu">
                        Коллекции
                        <i class="bage count-12"><b>{{ctrl.collectionsFilteredCount}}</b>/{{ctrl.collectionsOriginalCount}}</i>
                    </a>
                    <ul class="catalog-nav lists" style="display: none;" data-index="0">
                        <li ng-repeat="collection in ctrl.collections" ng-mouseenter="collection.isHovered = true" ng-mouseleave="collection.isHovered = false" ng-class="{'active': collection.isHovered, 'non-active-filter': collection.isEmpty}">
                            <a class="link" ng-href="/catalog/{{ctrl.roomAlias}}/{{collection.alias}}" ng-bind="collection.name"></a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" id="individual-menu">Индивидуальный подбор</a>
                    <ul class="individual lists" data-index="1" style="display: none;">
                        <li ng-click="ctrl.clickFiltersGroup(ctrl.taModeled.forAll)">
                            <strong>Интерьеры для всех</strong>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="man" class="menu-checkbox-t" ng-model="ctrl.taModeled.forAll.man.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forAll.man === undefined || ctrl.taModeled.forAll.man.isUnnecessary">
                            <label for="man">Для мужчин</label>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="woman" class="menu-checkbox-t" ng-model="ctrl.taModeled.forAll.woman.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forAll.woman === undefined ||ctrl.taModeled.forAll.woman.isUnnecessary">
                            <label for="woman">Для женщин</label>
                        </li>
                        <li ng-click="ctrl.clickFiltersSuperGroup()">
                            <strong>Интерьеры для детей</strong>
                        </li>
                        <li class="small" ng-click="ctrl.clickFiltersGroup(ctrl.taModeled.forChild.forGirls)">
                            &nbsp;
                            <strong>Детская для девочек</strong>
                        </li>

                        <li class="small">
                            <input type="checkbox" id="girlsYoung" class="menu-checkbox-t" ng-model="ctrl.taModeled.forChild.forGirls.girlsYoung.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forChild.forGirls.girlsYoung === undefined || ctrl.taModeled.forChild.forGirls.girlsYoung.isUnnecessary">
                            <label for="girlsYoung">Для девочек до 12 лет</label>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="girlsOld" class="menu-checkbox-t" ng-model="ctrl.taModeled.forChild.forGirls.girlsOld.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forChild.forGirls.girlsOld === undefined || ctrl.taModeled.forChild.forGirls.girlsOld.isUnnecessary">
                            <label for="girlsOld">Для девочек от 12 до 18 лет</label>
                        </li>

                        <li class="small" ng-click="ctrl.clickFiltersGroup(ctrl.taModeled.forChild.forBoys)">
                            &nbsp;
                            <strong>Детская для мальчиков</strong>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="boysYoung" class="menu-checkbox-t" ng-model="ctrl.taModeled.forChild.forBoys.boysYoung.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forChild.forBoys.boysYoung === undefined || ctrl.taModeled.forChild.forBoys.boysYoung.isUnnecessary">
                            <label for="boysYoung">Для мальчиков до 12 лет</label>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="boysOld" class="menu-checkbox-t" ng-model="ctrl.taModeled.forChild.forBoys.boysOld.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forChild.forBoys.boysOld === undefined || ctrl.taModeled.forChild.forBoys.boysOld.isUnnecessary">
                            <label for="boysOld">Для мальчиков от 12 до 18 лет</label>
                        </li>

                        <li ng-click="ctrl.clickFiltersGroup(ctrl.taModeled.forFamilies)">
                            <strong>Интерьеры для семьи</strong>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="couples" class="menu-checkbox-t" ng-model="ctrl.taModeled.forFamilies.couples.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forFamilies.couples === undefined || ctrl.taModeled.forFamilies.couples.isUnnecessary">
                            <label for="couples">Для молодых пар</label>
                        </li>
                        <li class="small">
                            <input type="checkbox" id="families" class="menu-checkbox-t" ng-model="ctrl.taModeled.forFamilies.families.checked" ng-change="ctrl.changeFilter()" ng-disabled="ctrl.taModeled.forFamilies.families === undefined || ctrl.taModeled.forFamilies.families.isUnnecessary">
                            <label for="families">Для семей с детьми</label>
                        </li>
                    </ul>
                    <div class="checked-options">
                        <p id="co-42" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forAll.man.checked}" ng-click="ctrl.taModeled.forAll.man.checked=false; ctrl.changeFilter()">
                            Интерьеры для мужчин
                        </p>
                        <p id="co-43" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forAll.woman.checked}" ng-click="ctrl.taModeled.forAll.woman.checked=false; ctrl.changeFilter()">
                            Интерьеры для женщин
                        </p>
                        <p id="co-46" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forChild.forGirls.girlsYoung.checked}" ng-click="ctrl.taModeled.forChild.forGirls.girlsYoung.checked=false; ctrl.changeFilter()">
                            Интерьеры для девочек до 12 лет
                        </p>
                        <p id="co-47" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forChild.forGirls.girlsOld.checked}" ng-click="ctrl.taModeled.forChild.forGirls.girlsOld.checked=false; ctrl.changeFilter()">
                            Интерьеры для девочек 12 - 18 лет
                        </p>

                        <p id="co-49" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forChild.forBoys.boysYoung.checked}" ng-click="ctrl.taModeled.forChild.forBoys.boysYoung.checked=false; ctrl.changeFilter()">
                            Интерьеры для мальчиков до 12 лет
                        </p>
                        <p id="co-50" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forChild.forBoys.boysOld.checked}" ng-click="ctrl.taModeled.forChild.forBoys.boysOld.checked=false; ctrl.changeFilter()">
                            Интерьеры для мальчиков 12 - 18 лет
                        </p>
                        <p id="co-52" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forFamilies.couples.checked}" ng-click="ctrl.taModeled.forFamilies.couples.checked=false; ctrl.changeFilter()">
                            Интерьеры для молодых пар
                        </p>
                        <p id="co-53" class="checked-options-co" ng-class="{'active': ctrl.taModeled.forFamilies.families.checked}" ng-click="ctrl.taModeled.forFamilies.families.checked=false; ctrl.changeFilter()">
                            Интерьеры для семей с детьми
                        </p>
                    </div>
                </li>
                <li>
                    <a href="#" id="mebel-by-styles-menu">Мебель по стилям</a>
                    <ul class="styles lists" data-index="2" style="display: none;">
                        <li class="small" ng-repeat="style in ctrl.styles">
                            <input type="checkbox" id="{{style.id}}" class="menu-checkbox-s" ng-model="style.checked" ng-change="ctrl.changeFilter()" ng-disabled="style.isUnnecessary" />
                            <label for="{{style.id}}" ng-bind="style.name"></label>
                        </li>
                    </ul>
                    <div class="checked-options">
                        <p class="checked-options-cos" ng-repeat="style in ctrl.styles" ng-bind="style.name" ng-class="{'active': style.checked}" ng-click="style.checked=false; ctrl.changeFilter()"></p>
                    </div>
                </li>
                <li>
                    <a href="#" id="color-frame-menu">Цвет корпуса</a>
                    <ul class="corpus furniture-options" data-index="3" style="display: none;">
                        <li ng-repeat="frameColor in ctrl.frameColors">
                            <input type="checkbox" class="menu-checkbox-color" id="{{frameColor.id}}" ng-model="frameColor.checked" ng-change="ctrl.changeFilter()" ng-disabled="frameColor.isUnnecessary" />
                            <label for="{{frameColor.id}}">
                                <span ng-bind="frameColor.name"></span>
                                <span class="option-thumb">
                                    <img ng-src="/api/images/variant/{{frameColor.id}}" />
                                </span>
                            </label>
                        </li>
                    </ul>
                    <div class="checked-options thumbs">
                        <span ng-repeat="frameColor in ctrl.frameColors" class="checked-options-col hint--top hint--bounce" aria-label="{{frameColor.name}}" ng-class="{'active': frameColor.checked}" ng-click="frameColor.checked=false; ctrl.changeFilter()">
                            <span class="option-thumb" uib-tooltip="{{frameColor.name}}" tooltip-placement="right">
                                <img ng-src="/api/images/variant/{{frameColor.id}}">
                            </span>
                        </span>
                    </div>
                </li>
                <li>
                    <a href="#" id="facing-menu">Тип отделки</a>
                    <ul class="furniture-options" data-index="4" style="display: none;">
                        <li ng-repeat="facing in ctrl.facings">
                            <input type="checkbox" id="facing-{{facing.id}}" ng-model="facing.checked" ng-change="ctrl.changeFilter()" class="menu-checkbox-otdelka" ng-disabled="facing.isUnnecessary" />
                            <label for="facing-{{facing.id}}">
                                <span ng-bind="facing.name"></span>
                                <span class="option-thumb">
                                    <img ng-src="/api/images/variant/{{facing.id}}" />
                                </span>
                            </label>
                        </li>
                    </ul>
                    <div class="checked-options thumbs">
                        <span ng-repeat="facing in ctrl.facings" class="checked-options-col hint--top hint--bounce" aria-label="{{facing.name}}" ng-class="{'active': facing.checked}" ng-click="facing.checked=false; ctrl.changeFilter()">
                            <span class="option-thumb" uib-tooltip="{{facing.name}}" tooltip-placement="right">
                                <img ng-src="/api/images/variant/{{facing.id}}">
                            </span>
                        </span>
                    </div>
                </li>
                <li>
                    <a href="#" id="facing-color-menu">Цвет отделки</a>
                    <ul class="furniture-options" data-index="5" style="display: none;">
                        <li ng-repeat="facingColor in ctrl.facingColors">
                            <input type="checkbox" id="fcolor-{{facingColor.id}}" ng-model="facingColor.checked" ng-change="ctrl.changeFilter()" class="menu-checkbox-cotdelka" ng-disabled="facingColor.isUnnecessary">
                            <label for="fcolor-{{facingColor.id}}">
                                <span ng-bind="facingColor.name"></span>
                                <span class="option-thumb">
                                    <img ng-src="/api/images/variant/{{facingColor.id}}" />
                                </span>
                            </label>
                        </li>
                    </ul>
                    <div class="checked-options thumbs">
                        <span ng-repeat="facingColor in ctrl.facingColors" class="checked-options-col hint--top hint--bounce" aria-label="{{facingColor.name}}" ng-class="{'active': facingColor.checked}" ng-click="facingColor.checked=false; ctrl.changeFilter()">
                            <span class="option-thumb" uib-tooltip="{{facingColor.name}}" tooltip-placement="right">
                                <img ng-src="/api/images/variant/{{facingColor.id}}">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>

            <div class="about-text">
                <p><a ng-href="/catalog-single" class="btn btn-primary">Предметы мебели</a></p>
            </div>
        </div>

    </div>


    <div class="catalog-slider">
        <div class="slider-wrap"></div>
        <div class="bond_body bigger laz-slider-body" kd-slider ng-class="{'lines-6': ctrl.collectionsFilteredCount > 5, 'lines-5': ctrl.collectionsFilteredCount == 5, 'lines-4': ctrl.collectionsFilteredCount == 4, 'lines-3': ctrl.collectionsFilteredCount == 3, 'lines-2': ctrl.collectionsFilteredCount < 3}">
            <!--Collection-->
            <div class="catalog-item" id="{{collection.id}}" ng-repeat="collection in ctrl.collections" ng-hide="collection.isEmpty" ng-mouseenter="collection.isHovered = true" ng-mouseleave="collection.isHovered = false" ng-class="{'active': collection.isHovered}">
                <a ng-href="/catalog/{{ctrl.roomAlias}}/{{collection.alias}}" class="catalog-item_title animated fadeInDown">
                    <span ng-bind="collection.name"></span>
                </a>
                <div class="bond-hover laz-slider-row">
                    <div class="bond-wrapper laz-slider-wrapper">
                        <div class="bond-box">
                            <!--Collection Variant-->
                            <div class="bond-slide laz-slider-item" id="{{variant.id}}" ng-repeat="variant in collection.variants">
                                <div class="bond-slide_img">
                                    <a id="variant_link_{{variant.id}}" class="fancyprev" rel="group" href="javascript:void(0)" ng-click="ctrl.goToCollectionVariant(collection.alias, variant.id)">
                                        <img ng-src="/api/images/collectionvariant/{{variant.id}}/SliderMiddle" alt="Picture" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>