@font-face {
  font-family: 'icomoon';
  src:  url('/wwwroot/fonts/icomoon.eot?dmb7z9');
  src:  url('/wwwroot/fonts/icomoon.eot?dmb7z9#iefix') format('embedded-opentype'),
    url('/wwwroot/fonts/icomoon.ttf?dmb7z9') format('truetype'),
    url('/wwwroot/fonts/icomoon.woff?dmb7z9') format('woff'),
    url('/wwwroot/fonts/icomoon.svg?dmb7z9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-caret-up:before {
  content: "\ea50";
}
.icon-paperplane:before {
  content: "\e900";
}
.icon-params:before {
  content: "\e901";
}
.icon-banknote:before {
  content: "\e902";
}
.icon-lab:before {
  content: "\e903";
}
.icon-clip:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-wallet:before {
  content: "\e906";
}
.icon-truck:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-cancel:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-caret-down:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e90d";
}
.icon-next:before {
  content: "\e90e";
}
.icon-add:before {
  content: "\e90f";
}
.icon-gift:before {
  content: "\e910";
}
.icon-kolba:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-up:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e916";
}
.icon-bookmark:before {
  content: "\e917";
}
.icon-caution:before {
  content: "\e918";
}
.icon-links:before {
  content: "\e919";
}
.icon-envelope:before {
  content: "\e91a";
}
.icon-cloud:before {
  content: "\e91b";
}
.icon-compass:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-edit:before {
  content: "\e91e";
}
.icon-eye:before {
  content: "\e91f";
}
.icon-folder:before {
  content: "\e920";
}
.icon-gear:before {
  content: "\e921";
}
.icon-heart:before {
  content: "\e922";
}
.icon-homepage:before {
  content: "\e923";
}
.icon-hourglass:before {
  content: "\e924";
}
.icon-inbox:before {
  content: "\e925";
}
.icon-globe:before {
  content: "\e926";
}
.icon-key:before {
  content: "\e927";
}
.icon-lamp:before {
  content: "\e928";
}
.icon-flag:before {
  content: "\e929";
}
.icon-map-marker:before {
  content: "\e92a";
}
.icon-locked:before {
  content: "\e92b";
}
.icon-magic:before {
  content: "\e92c";
}
.icon-search:before {
  content: "\e92d";
}
.icon-user:before {
  content: "\e92e";
}
.icon-notebook:before {
  content: "\e92f";
}
.icon-briefcase:before {
  content: "\e930";
}
.icon-book:before {
  content: "\e931";
}
.icon-outbox:before {
  content: "\e932";
}
.icon-camera:before {
  content: "\e933";
}
.icon-power:before {
  content: "\e934";
}
.icon-bag:before {
  content: "\e935";
}
.icon-tools:before {
  content: "\e936";
}
.icon-basket:before {
  content: "\e937";
}
.icon-cart:before {
  content: "\e938";
}
.icon-comment:before {
  content: "\e939";
}
.icon-comment2:before {
  content: "\e93a";
}
.icon-star:before {
  content: "\e93b";
}
.icon-cancel-button:before {
  content: "\e93c";
}
.icon-telephone:before {
  content: "\e93d";
}
.icon-unlocked:before {
  content: "\e93e";
}
.icon-update:before {
  content: "\e93f";
}
.icon-update2:before {
  content: "\e940";
}
.icon-wallet2:before {
  content: "\e941";
}
.icon-weighing-scale:before {
  content: "\e942";
}
.icon-wrench:before {
  content: "\e943";
}

