@font-face {
	font-family: 'HelveticaKVAFont';
	src: url('src/components/fonts/HelveticaKVAFont.eot');
	src: local('HelveticaKVAFont'), url('src/components/fonts/HelveticaKVAFont.woff') format('woff'), url('src/components/fonts/HelveticaKVAFont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_61539">Text with this font applied</p> */
.fontsforweb_fontid_61539 {
	font-family: 'HelveticaKVAFont' !important;
}

/* Font downloaded from FontsForWeb.com */