﻿.shop-list {
    .row(0);
    .buttons {
        height: 0;
        overflow: hidden;
        &>.btn {
            width: 100%;
            padding: 15px 0;
            letter-spacing: 1px;

            &>.is-favorite{
                position: absolute;
                height: 100%;
                line-height: 50px;
                width: 100%;
                top: 0;
                left: 0;
                color: #fff;
                background: @color-primary;
            }
        }
    }

    &_item {
        .transitions();
        display: block;
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        margin: @grid-gutter-width/2 0;
        &--wrapper {
            .transitions();
            padding: 15px;
            position: relative;
            //overflow: hidden;
            width: 100%;
            height: 100%;
            background: #fff;
            &:hover {
                box-shadow: 1px 2px 15px @color-black-disabled;
            }
        }
        &:hover {
            z-index: 100;
            text-decoration: none;
            margin: -11px 0;
            .shop-list_item--photo>img {
                opacity: 0;
            }
            .buttons {
                height: 52px;
            }
        }
        &--photo {
            display: block;
            width: 100%;
            position: relative;
            background-size: 100%;
            &>img {
                display: block;
                margin: 0 auto;
                .opacity(1, 0.5s);
                max-width: 100%;
            }
        }
        &--summary {
            margin: 15px 0;
            table {
                width: 100%;
                th {
                    text-align: left;
                    padding: 0;
                    height: 30px;
                    vertical-align: middle;
                    &.title {
                        font-size: @font-medium;
                        color: @color-black-primary;
                        font-weight: 500;
                    }
                    &.articul {
                        text-align: right;
                        font-size: @font-normal;
                        color: @color-black-secondary;
                    }
                }
                td {
                    vertical-align: middle;
                    font-size: @font-normal;
                    padding: 0;
                }
                .price {
                    line-height: 15px;
                    &-current {
                        color: @color-black-primary;
                        margin-right: 5px;
                    }
                    &-past {
                        color: @color-black-disabled;
                        display: inline-block;
                        position: relative;
                        margin-right: 5px;
                        &:before {
                            content: ' ';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: @color-black-disabled;
                            top: 50%;
                            left: 0;
                            //margin-top: -1px;
                        }
                    }
                    &-discount {
                        color: @color-red;
                        font-weight: 500;
                    }
                    &-credit {
                        font-size: @font-small;
                        color: @color-black-secondary;
                        text-align: right;
                        &>strong {
                            font-size: @font-normal;
                            color: @color-black-primary;
                            font-weight: 500;
                        }
                    }
                }
                .size {
                    padding-top: 0;
                    font-size: @font-smallest;
                    color: @color-black-secondary;
                    z-index: 200;

                    &_one{
                        display: none;
                    }

                    .selector {
                        margin-top: 0;
                        border-bottom: none;
                        &>div {
                            padding: 0 0;
                        }                    
                        .cs-select span {
                        height: 30px;
                        line-height: 30px;
                        }

                        /* Placeholder and selected option */
                        .cs-select>span {
                            padding-left: 5px;
                            padding-right: 30px;
                        }
                        .cs-select>span:after {
                            content: "\e90c";
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            color: @color-black-secondary;
                        }
                        &:hover .cs-select>span:after {
                            content: "\e90c";
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            color: @color-white;
                        }
                    }
                }
            }
        }
    }
}

.price-past {
    display: inline-block;
    position: relative;
    color: @color-black-secondary;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: @color-black-disabled;
        position: absolute;
        top: 8px;
        left: 0;
    }
}


/*Adaptivity*/

  @media (min-width: @screen-xs) {
    .shop-list_item {
        .col(xs,12);
        padding-left: 0;
        padding-right: 0;

        .btn.rtl{
            width: 65px;

            .btn-favorite_title{
                display: none;
            }
        }
    }    
  }

  @media (min-width: @screen-sm) {
    .shop-list_item {
        .col(xs,6);
        padding-left: 0;
        padding-right: 0;
    }
  }

  @media (min-width: @screen-md) {

  }
  
  @media (min-width: @screen-lg) {
    .shop-list_item {
        .col(xs,4);
        padding-left: 0;
        padding-right: 0;
    }
  }
  
  @media (min-width: @screen-xl) {
    .shop-list_item {
        .col(xs,3);
        padding-left: 0;
        padding-right: 0;
    }
  }
  
  @media (min-width: @screen-xxl) {
    .shop-list_item {
        flex: 0 0 20%;
        max-width: 20%;

            .btn.rtl{
            width: 100%;

            .btn-favorite_title{
                display: inline;
            }
        }
    }
  }