﻿  <!--Header Icons-->
<div class="header-tools">
    <div class="header-tools--search">
        <div class="search">
            <a><i class="icon-search"></i></a>
        </div>
    </div>
    <a href=".header-navigation" class="nav-trigger">
        <span>
            <em aria-hidden="true"></em>
            меню
        </span>
    </a>
    <kd-cart-icon></kd-cart-icon>
    <kd-login return-url="$ctrl.returnUrl" is-authenticated="$ctrl.isAuthenticated" class="header-tools--user"></kd-login>
    <div class="header-tools--contacts">
        <div class="city">
            <span  class="city_info">
                <i class="icon-map-marker"></i>
                <span ng-hide="$ctrl.isListOfCitiesEnabled"><span ng-bind="$ctrl.cityName"></span><br /> <a href="" ng-click="$ctrl.showAllCities()">Другой город?</a></span>
            </span>
            <kd-geolocation id="geolocation"></kd-geolocation>
        </div>
        <div class="phone">
            <kd-customer-request-create type="Call">
                <i class="icon-telephone"></i>
            </kd-customer-request-create>
            <span ng-bind="$ctrl.phoneNumber"></span>
        </div>
    </div>
</div> 