﻿.loginform {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 15px @color-black-divider;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background: #fafafa;
    padding: 10px 15px;
    width: 270px;
    z-index: 1;

    h3{
        display: block;
        position: relative;
        float: none;
        font-size: @font-medium;
        line-height: 30px;
        margin: -10px -15px 0;
        background: rgba(0,0,0,0.06);

        &:before{
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #f0f0f0;
        }
    }

    &_nav{
        .row(0);

        &>li {
            .transitions();
            .col(xs,6);
            border-bottom: 1px solid rgba(0,0,0,0.06);
            background: rgba(0,0,0,0.03);

            &:hover{
                border-bottom: 1px solid @color-black-divider;
                a{
                    color: @color-black-primary;
                }
            }

            &.active{
                border-bottom: none;
                background: transparent;
                a{
                    color: @color-primary;
                }
                &:hover>a{
                    color: @color-primary;
                }
            }
        }
    }
    .form-group{
        /*margin: 5px 0px 10px 0px;*/
        margin: 0;
        clear: both;

        label {
            display: block;
            line-height: @font-normal;
            color: @color-primary;
        }
        .form-control{
            width: 100%;
            padding: 10px 5px;
            background: transparent;
            border: none;
            border-bottom: 1px solid @color-primary;
            outline: none !important;
        }
        &.last{
            margin-bottom: 0;

            a:hover{
                color: @color-primary;
            }
        }
    }
    .row{
        border: none;
    }
    .buttons{
        margin-top: 20px;
    }
    .btn{
        width: 100%;
    }

    .icon-cancel{
        cursor: pointer;
        position: absolute;
        top: 7px;
        right: 5px;
        z-index:100;

        &:hover {
            color: @color-primary;
        }
    }
}
