﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4 id="registrationModal">Авторизация</h4>
                <form name="cities" novalidate>
                    <div class="form-group">
                        <select ng-model="$ctrl.city" ng-change="$ctrl.getShops()" required class="form-control">
                            <option value="">Пожалуйста выберите свой город</option>
                            <option ng-repeat="option in $ctrl.cities" value="{{option.id}}">{{option.title}}</option>
                        </select>
                    </div>
                </form>
                <form name="shops" novalidate>
                    <div class="form-group">
                        <select ng-model="$ctrl.shop" ng-change="$ctrl.getUsers()" required ng-hide="cities.$invalid" ng-disabled="cities.$invalid" class="form-control">
                            <option value="">Пожалуйста выберите свой магазин</option>
                            <option ng-repeat="option in $ctrl.shops" value="{{option.id}}">{{option.title}}</option>
                        </select>
                    </div>
                </form>
                <form name="users" novalidate>
                    <div class="form-group">
                        <select ng-model="$ctrl.user" required ng-hide="cities.$invalid || shops.$invalid" ng-disabled="regions.$invalid || shops.$invalid" class="form-control">
                            <option value="">Пожалуйста выберите свою учетныю запись</option>
                            <option ng-repeat="option in $ctrl.users" value="{{option.id}}">{{option.firstName+' '+ option.lastName}}</option>
                        </select>
                    </div>
                </form>
                <form name="loginform" novalidate ng-hide="cities.$invalid || shops.$invalid || users.$invalid">
                    <div class="form-group">
                        <input class="form-control" placeholder="Пароль" name="password" type="password" required="" ng-model="$ctrl.userPassword" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="loginform.$invalid" ng-click="$ctrl.login()">
                            Вход
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






