﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container">
                <i class="icon-cancel"
                   ng-click="vm.closeModal()">
                </i>
                <h4 ng-bind="vm.header"></h4>
                <form name="createCustomerRequest" novalidate>
                    <div class="form-group">
                        <label for="name">ФИО</label>
                        <input name="name"
                               required
                               ng-model="vm.request.customerFullName">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email"
                               type="email"
                               required
                               ng-model="vm.request.email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input name="phone"
                               type="tel"
                               required
                               ng-model="vm.request.phone"
                               ui-mask="+9 (999) 999-99-99">
                    </div>
                    <div class="text-center">
                        <button type="button"
                                class="btn btn-primary"
                                ng-disabled="createCustomerRequest.$invalid || vm.isBusy"
                                ng-click="vm.create()">
                            Заказать
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

