.page-catalog {
    .bond-slide_img {
        img {
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    //padding: 0 @grid-gutter-width/2 0;
    height: 100%;
    &_top-title {
        padding: @grid-gutter-width*3 0;
        font-size: @font-huge;
        color: @color-black-primary;
    }
    &_title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: @grid-gutter-width*2;
        font-size: @font-huge;
        line-height: @font-huge+5;
        color: @color-black-primary;
        &>span {
            display: inline-block;
            position: relative;
            width: 45px;
            height: 28px;
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 20px;
                background: @color-black-primary;
            }
        }
    }
    & .about-text {
        width: 100%;
        max-width: 267px;
        overflow: auto;
        display: block;
        position: absolute;
        bottom: @grid-gutter-width*2 - @grid-gutter-width/2;
        left: 0;
        &_item {
            display: none;
            &.active {
                display: block;
            }
        }
        p {
            color: @color-black-secondary;
            font-size: @font-small;
            line-height: @font-big;
            font-weight: 400;
            padding-bottom: 15px;
        }
        h2 {
            font-size: @font-normal;
            line-height: @font-medium;
            font-weight: 500;
            color: @color-black-primary;
        }
    }
    &.content {
        .row(0);
        height: 100%;
    }
    .catalog-wrapper {
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: @grid-gutter-width*2;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100%;

        &:hover{
            overflow: auto;
        }
    }
    .catalog-slider {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0;
        height: calc(~'100% - 50px');
        top: @header-height;
        right: 0;
        position: absolute;
        &:before {
            .opacity(0, 0.5s);
            content: '';
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            background: @color-dark;
        }
        &:hover,
        &.active {
            &:before {
                opacity: 0.5;
            }
        }
    }
    .slider-wrap {
        background: @color-dark;
        flex: 0 0 70%;
        max-width: 70%;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        overflow: hidden;
        &>div {
            position: absolute !important;
        }
    }
    .cart__order {
        width: 336px;
    }
}



/*Adaptivity*/

  @media (min-width: @screen-sm) {
    .page-catalog .about-text {
        bottom:0;
        display: none;
    }
  }


  @media (min-width: @screen-md) {
    .page-catalog .about-text {
    }
  }
  
  /*1000px*/
  @media (min-width: @screen-lg) {
    .page-catalog .about-text {
        bottom:15px;
    }
  }
  
  /*1800px*/
  @media (min-width: @screen-xl) {
    .page-catalog .about-text {
        bottom: 30px;
    }
  }
  
  /*2400px*/
  @media (min-width: @screen-xxl) {
    .page-catalog .about-text {
        bottom: 45px;
        display: block;
    }
  }