﻿<!-- todo крошки -->
<ul class="breadcrumbs">
    <li><a href="javascript:void(0)">Главная</a></li>
    <li><a href="javascript:void(0)">Каталог</a></li>
    <li><a href="javascript:void(0)">Спальни</a></li>
    <li><a href="javascript:void(0)">Коллекция {{$ctrl.vendorCode.series}}</a></li>
    <li><a href="javascript:void(0)">{{$ctrl.vendorCode.furnitureType + ' ' + $ctrl.vendorCode.series}}</a></li>
</ul>
<div class="page-product">
    <div class="shop-wrapper">
        <div class="shop-wrapper_product">
            <slider-transclude ng-transclude="slider" class="shop-wrapper_product--slider"></slider-transclude>
            <div class="shop-wrapper_product--options">
                <h2>{{$ctrl.vendorCode.furnitureType + ' ' + $ctrl.vendorCode.series}} <span ng-bind="'арт.' + $ctrl.vendorCode.syncCode1C"></span></h2>
                <!-- Цвет  -->
                <kd-select-single list-items="$ctrl.frameColors" settings="{label:'Цвет:', placeholder: 'Выберите цвет'}" kd-bage="$ctrl.frameColors.length" kd-change="$ctrl.selectFrameColor"
                                  kd-model="$ctrl.selectedFrameColor"></kd-select-single>
                <!-- Отделка  -->
                <kd-select-single list-items="$ctrl.facings" settings="{label:'Отделка:', placeholder: 'Выберите Отделку'}" kd-bage="$ctrl.facings.length" kd-change="$ctrl.selectFacing"
                                  kd-model="$ctrl.selectedFacing"></kd-select-single>
                <!-- Цвет отделки -->
                <kd-select-single list-items="$ctrl.facingColors" settings="{label:'Цвет отделки:', placeholder: 'Выберите цвет отделки'}" kd-bage="$ctrl.facingColors.length" kd-change="$ctrl.selectFacingColor" kd-model="$ctrl.selectedFacingColor"></kd-select-single>
                <!-- Свойства  -->
                <kd-select-single ng-repeat="item in $ctrl.propertiesMulti" list-items="item.items" settings="{label: item.title, placeholder: ' '}" kd-bage="item.items.length" 
                                  kd-change="$ctrl.selectProperty" kd-model="$ctrl.selectedProperties[item.groupeId]"></kd-select-single>
                <!--Габариты-->
                <kd-select-single list-items="$ctrl.dimentions" settings="{label: 'Габариты', placeholder: 'Выберите габариты'}" kd-bage="$ctrl.dimentions.length"
                                  kd-change="$ctrl.selectDimention" kd-model="$ctrl.selectedDimention"></kd-select-single>
                <!--Рассрочка-->
                <kd-select-single list-items="$ctrl.installments" settings="{label: 'Рассрочка', placeholder: 'Выберите рассрочку'}"
                                  kd-change="$ctrl.selectInstallment" kd-model="$ctrl.selectedInstallment"></kd-select-single>
                <div ng-if="$ctrl.product.isAssemblyRequired" class="checkbox">
                    <input id="check1" type="checkbox" name="check" ng-model="$ctrl.isAssemblyRequired">
                    <label for="check1">Необходима сборка</label>
                </div>
                <div class="checkbox">
                    <input id="check2" type="checkbox" name="check" ng-model="$ctrl.isDeliverableRequired">
                    <label for="check2">Необходима доставка</label>
                </div>
                <table class="danger-info">
                    <tr ng-if="$ctrl.product.isDisassemblyState">
                        <td><span>!</span></td>
                        <td>Этот товар отпускается в разобранном виде.</td>
                    </tr>
                    <tr>
                        <td><span>!</span></td>
                        <td>Доставка оплачивается один раз, за все товары в корзине.</td>
                    </tr>
                    <tr>
                        <td><span>!</span></td>
                        <td>Гантийный срок: {{$ctrl.product.warranty}} месяцев. Срок службы изделия: 7 лет.</td>
                    </tr>
                </table>
                <!--<div ng-bind="$ctrl.product.descr"></div>-->
            </div>
            <div class="shop-wrapper_product--summary">
                <h2 class="">Выбранная комплектация</h2>
                <table class="selected-info">
                    <tbody>
                        <tr>
                            <td>Цвет</td>
                            <td ng-bind="$ctrl.selectedFrameColor.name"></td>
                        </tr>
                        <tr>
                            <td>Отделка</td>
                            <td ng-bind="$ctrl.selectedFacing.name"></td>
                        </tr>
                        <tr>
                            <td>Цвет отделки</td>
                            <td ng-bind="$ctrl.selectedFacingColor.name"></td>
                        </tr>
                        <tr ng-repeat="prop in $ctrl.selectedPropertiesMap track by $index">
                            <td ng-bind="prop.title"></td>
                            <td ng-bind="prop.name"></td>
                        </tr>
                        <tr ng-repeat="prop in $ctrl.selectedPropertiesSingle track by $index">
                            <td ng-bind="prop.title"></td>
                            <td ng-bind="prop.name"></td>
                        </tr>
                        <tr>
                            <td>Габариты (мм)</td>
                            <td ng-bind="$ctrl.selectedDimention.name"></td>
                        </tr>
                        <tr>
                            <td>Кол-во упаковок</td>
                            <td ng-bind="$ctrl.product.packagesAmount ">0</td>
                        </tr>
                        <tr>
                            <td>Вес упаковок</td>
                            <td>
                                <span ng-bind="$ctrl.product.packageWeight "></span>
                                <span>кг</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Максимальный размер упаковки</td>
                            <td>
                                <span ng-bind="$ctrl.product.productPackage.width"></span>
                                <span>x</span>
                                <span ng-bind="$ctrl.product.productPackage.height"></span>
                                <span>x</span>
                                <span ng-bind="$ctrl.product.productPackage.length"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Гарантийный срок</td>
                            <td>
                                <span ng-bind="$ctrl.product.warranty"></span>
                                <span>месяцев</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Сборка</td>
                            <td ng-bind="$ctrl.product.priceAssambly">0 руб</td>
                        </tr>
                        <tr ng-if="!$ctrl.isDeliverableRequired">
                            <td>Доставка</td>
                            <td>Самовывоз</td>
                        </tr>
                        <tr ng-if="$ctrl.isDeliverableRequired">
                            <td>Доставка</td>
                            <td>По адресу</td>
                        </tr>
                    </tbody>
                </table>
                <table class="selected-total-price">
                    <tr>
                        <td>Сумма</td>
                        <td class="text-line" ng-bind="$ctrl.product.price.formattedAmountWithoutPoint"></td>
                    </tr>
                    <tr ng-hide="$ctrl.product.discountInTotal===0">
                        <td>Скидка (акция)</td>
                        <td class="text-line" ng-bind="$ctrl.product.discountInTotal+'%'"></td>
                    </tr>
                    <tr ng-hide="$ctrl.product.saving===0">
                        <td>Экономия</td>
                        <td class="text-color-red" ng-bind="$ctrl.product.savingString"></td>
                    </tr>
                    <tr>
                        <td>Сборка</td>
                        <td class="text-line" ng-bind="$ctrl.product.priceForAssembly.formattedAmountWithoutPoint"></td>
                    </tr>
                    <tr class="total">
                        <td>Итого</td>
                        <td ng-bind="$ctrl.product.priceInTotal.formattedAmountWithoutPoint"></td>
                    </tr>
                </table>
                <p class="em">Доставка оплачивается один раз, за все товары в корзине.</p>
                <div class="buttons">
                    <kd-favorite-link class="btn btn-primary rtl" is-in-favorite="$ctrl.product.isFavorite" product-id="$ctrl.product.id" item-type="'product'"></kd-favorite-link>
                    <button class="btn btn-primary" ng-click="$ctrl.addToCart()" ng-disabled="!$ctrl.product||$ctrl.product.isAddingToCart"><i class="icon-cart"></i> В корзину</button>
                </div>
            </div>
            <!--<div ng-transclude="fromcollection"></div>-->
            <!--<div ng-transclude="promotional"></div>
            <div ng-transclude="buywith"></div>-->
        </div>
    </div>
</div>