.field-actions {
  display: block;
  margin-top: @line-height;
  margin-bottom: (@line-height / 2);

  .btn {
    margin-bottom: (@line-height / 2);
  }

  &_text {
    display: block;
    margin-top: (@line-height / 2);
    margin-bottom: (@line-height / 2);
    font-size: @font-small;
    color: @color-black-disabled;
    line-height: 1.2em;
  }
}
