﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container popup-login-form">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4>Авторизация</h4>
                <form novalidate name="loginform">
                    <ul class="popup-login-form_nav">
                        <li ng-click="$ctrl.loginByUserPhone = false" ng-class="{'active': !$ctrl.loginByUserPhone}"><a href=""><i class="icon-user"></i> По логину</a></li>
                        <li ng-click="$ctrl.loginByUserPhone = true" ng-class="{'active': $ctrl.loginByUserPhone}"><a href=""><i class="icon-telephone"></i> По телефону</a></li>
                    </ul>
                    <div class="form-group" ng-hide="$ctrl.loginByUserPhone">
                        <label for="login">Логин</label>
                        <input placeholder="Логин" name="login" type="text" ng-model="$ctrl.userLogin" kd-focus="!$ctrl.loginByUserPhone" maxlength="200" tabindex="1" />
                    </div>
                    <div class="form-group" ng-show="$ctrl.loginByUserPhone">
                        <label for="userPhone">Телефон</label>
                        <input name="userPhone" type="text" autofocus="" ng-model="$ctrl.userPhone" kd-focus="$ctrl.loginByUserPhone" ui-mask="+9 (999) 999-99-99" ui-mask-placeholder="+7 (___) ___-__-__" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input ng-keyup="$event.keyCode == 13 && $ctrl.login()" placeholder="Пароль" name="password" type="password" required="" ng-model="$ctrl.userPassword" tabindex="2" />
                    </div>
                    <div class="form-group text-center">
                        <div class="buttons">
                            <button type="submit" class="btn btn-black rtl" ng-click="$ctrl.login()">
                                Войти
                            </button>
                            <a class="btn btn-primary" ng-click="$ctrl.goToRegisterState()">Регистрация</a>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <a ng-click="$ctrl.goToRecoveryState()">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
