.breadcrumbs {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    &:hover>li:before {
        bottom: 8px;
    }
    &>li {
        display: inline-block;
        position: relative;
        margin-right: 15px;
        &:before {
            .transitions();
            content: "";
            position: absolute;
            bottom: 8px;
            right: -17px;
            display: inline-block;
            width: 15px;
            height: 1px;
            background: @color-black-disabled;
        }
        &:nth-last-of-type(2) {
            cursor: default !important;
            &:before {
                bottom: 13px;
                width: 13px;
            }
        }
        &:last-child:before {
            display: none;
        }
        &:hover:before {
            width: calc(~'100% + 19px');
            bottom: 8px;
        }
        &:first-child:hover:before {
            width: calc(~'100% + 32px');
        }
        a {
            font-size: @font-small;
            color: @color-black-secondary;
            &:hover {
                text-decoration: none;
            }
        }
        &:last-child {
            font-size: @font-small;
            color: @color-black-secondary;
            padding-left: 5px;

            &>a {
                cursor: default;
            }
        }
    }
}