﻿.product-thumbs{
    display: block;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    &__list{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;    

        &--item{
            overflow: hidden;
            position: relative;
            &>img{
                max-width: 100%;
            }
        }
    }
}


  @media (min-width: @screen-sm) {

      .product-thumbs{
                margin: @grid-gutter-width/2 0  @grid-gutter-width 0;
                
                &__list--item{
                    width: 75px;                    
                    height: 75px;
                    min-width: 75px;                    
                    min-height: 75px;
                    opacity: 0.68;
                    margin:5px;

                    &:hover{
                        opacity: 0.86;
                        box-shadow: 0px 0px 5px;

                    }

                    &.active{                        
                        width: 85px;                    
                        height: 85px;
                        min-width: 85px;                    
                        min-height: 85px;
                        opacity: 1;
                        box-shadow: 1px 2px 5px @color-black-divider;
                        z-index: 100;
                    }
                }
	        }
}

  @media (min-width: @screen-md) {
         .product-thumbs{                               
                &__list--item{
                    width: 90px;                    
                    height: 90px;
                    min-width: 90px;                    
                    min-height: 90px;

                    &.active{
                        width: 100px;                    
                        height: 100px;
                        min-width: 100px;                    
                        min-height: 100px;
                    }
                }
	        }
  }
  
  @media (min-width: @screen-lg) {

  }
  
  @media (min-width: @screen-xl) {

  }
  
  @media (min-width: @screen-xxl) {
    .product-thumbs{
        width: 250px;
        position: relative;
        margin-top: 0;
        padding-left:  @grid-gutter-width;
                
        &__list {
            flex-wrap: wrap;
        }
        &__list--item{
            width: 150px;                    
            height: 150px;
            min-width: 150px;                    
            min-height: 150px;
            margin: 5px auto;

            &:hover{                
                box-shadow: 0 0 5px @color-black-divider;
            }

            &.active{                        
                width: 180px;                    
                height: 180px;
                min-width: 180px;                    
                min-height: 180px;
                box-shadow: 1px 2px 20px @color-black-divider;
            }
        }
    }
  }