﻿@model KonigDev.Lazurit.Store.Dto.Favorite.DtoModelOfFavoriteRequest

<div class="content profile-content" id="content">
    <div class="profile-content_nav">
        <ul>
            <li role="presentation">@Html.ActionLink("Профиль", "Profile", "Personal")</li>
            <li role="presentation"><a href="">Подписки</a></li>
            <li role="presentation"><a href="">История заказов</a></li>
            <li role="presentation"><a href="">Проекты</a></li>
            <li role="presentation"><a href="">Уведомления</a></li>
            <li role="presentation"><a href="">История общения</a></li>
            <li role="presentation" class="active">@Html.ActionLink("Избранное", "Favorite", "Personal")</li>
        </ul>
    </div>
    <kd-favorite-profile is-user-owner="@Model.IsUserOwner.ToString().ToLower()" link-id="@Model.LinkId" patch="@Model.Patch" class="profile-content_wrap"></kd-favorite-profile>
</div>