﻿<div class="content profile-content" id="content">
        <div class="profile-content_nav">
            <ul>
                <li role="presentation" class="active">@Html.ActionLink("Профиль", "Profile", "Personal")</li>
                <li role="presentation"><a href="">Подписки</a></li>
                <li role="presentation"><a href="">История заказов</a></li>
                <li role="presentation"><a href="">Проекты</a></li>
                <li role="presentation"><a href="">Уведомления</a></li>
                <li role="presentation"><a href="">История общения</a></li>
                <li role="presentation">@Html.ActionLink("Избранное", "Favorite", "Personal")</li>
            </ul>
        </div>
        <kd-profile kd-on-click="$ctrl.editProfileData" class="profile-content_wrap"></kd-profile>
</div>