﻿.order-thanks{
    display: block;
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    padding: @grid-gutter-width @grid-gutter-width*2;
    box-shadow: 2px 1px 20px @color-black-divider;

    &:before{
        content: '';
        display: block;
        width: 100px;
        height: 115px;
        position: absolute;
        top: -60px;
        right: 30px;
        background: @color-dark;
    }
    &:after{
        font-family: 'icomoon';
        content: '\e93d';
        color: #fff;
        width: 100px;
        height: 115px;
        position: absolute;
        top: -60px;
        right: 30px;
        font-size: @font-huge;
        text-align: center;
        line-height: 110px;
    }

    &_title{
        font-size: @font-huge;
        color: @color-primary;
    }
    &>p{
        font-size: @font-medium;
        color: @color-black-primary;
        font-weight: @font-light;
    }

    &>.buttons{
        margin-top: @grid-gutter-width/2;
    }
    

}