﻿/*TODO: This should be moved to less*/
body .double-banners {
    height: calc(100% - 560px);
}

    body .double-banners .banner {
        margin-top: 0;
        transition: top 0.25s ease-out;
        top: 0;
    }

        body .double-banners .banner img {
            margin: 0 auto;
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 100;
            object-fit: cover;
        }

        body .double-banners .banner:hover {
            top: 40px;
        }

            body .double-banners .banner:hover img {
                margin-top: 0;
            }
