<div class="fields-group">
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
  </label>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
  </label>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
  </label>
</div>

<div class="fields-group">
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
    <small class="field-select__help-text">Пояснение отдельного поля, если длинное, распирает блок? Нет.</small>
  </label>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
    <small class="field-select__help-text">Пояснение.</small>
  </label>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
    <small class="field-select__help-text">Пояснение еще.</small>
  </label>
</div>

<div class="fields-group">
    <span class="fields-group__item  fields-group__item--addon  fields-group__item--text">
    $
  </span>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
  </label>
    <span class="fields-group__item  fields-group__item--addon  fields-group__item--text">
    какой-то текст
  </span>
</div>

<div class="fields-group">
    <span class="fields-group__item  fields-group__item--addon  fields-group__item--text">
    $
  </span>
    <label class="field-text  fields-group__item">
    <input class="field-text__input" type="text" placeholder="input[type=text]">
  </label>
    <button class="btn  fields-group__item  fields-group__item--addon">Отправить</button>
    <button class="btn  fields-group__item  fields-group__item--addon">Отменить</button>
</div>