.fields-group {
  display: flex;
  margin-bottom: (@line-height / 2);

  &-inline {
    display: inline-flex;
  }

  &_item {
    margin-bottom: 0;
    flex-basis: 100%;

    &-text {
      white-space: nowrap;
      background-color: @color-black-divider;
      color: @color-black-secondary;
      border: 1px solid @border-color;
      border-radius: @border-radius;
      display: inline-block;
      vertical-align: middle;
      line-height: @line-height;
      min-height: 2.125em;
      padding: @field-padding-top @field-padding-horizontal @field-padding-bottom;
    }

    &-addon {
      flex-basis: 1%;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    // &-dropdown {} // Вынесено в отдельный файл, т.к. ситуация специфическая, редкая

    &:not(:last-child) {
      .field-text_input,
      .field-select_select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:first-child) {
      margin-left: -1px;

      .field-text_input,
      .field-select_select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .field-text_input,
  .field-select_select,
  .btn {
    position: relative;
    z-index: 0;

    &:hover, &:focus {
      z-index: 1;
    }
  }
}
