.featured-items {
	.col(xs, 12);
	padding: 0 0;
	min-height: 480px;

	&_title {
		font-size: @font-big;
		padding:30px 0 15px 0;
		margin: 15px 0;
		border-bottom: 2px solid @color-black-divider;
	}

	&>.bond-hover {
		height: 480px;

		&>.bond-wrapper {
		}
	
	}

	.bond-slide:first-child>.item--summary {
			padding-left: 0;
		}
	.bond-slide:last-child>.item--summary {
			padding-right: 0;
		}

	.item--summary {
		padding: 0 15px;

		table {
			width: 100%;

			th {
				text-align: left;
				padding: 0;
				height: 30px;
				vertical-align: middle;
							
				&.title{
					font-size: @font-medium;
					color: @color-black-primary;
				}							
					
				&.articul{
					text-align: right;
					font-size: @font-normal;
					color: @color-black-secondary;
				}
			}

			td {
				vertical-align: middle;
				font-size: @font-normal;
				padding: 0;
			}
			.price {
				line-height: 15px;
						
				&-current {
					color: @color-black-primary;
					margin-right: 5px;
				}
				&-past {
					color: @color-black-secondary;
					display: inline-block;
					position: relative;
					padding: 0 5px;
					margin-right: 5px;

				&:before{
					content:' ';
					display: block;
					position: absolute;
					width: 100%; height: 1px;
					background: @color-black-disabled;
					top: 55%; left:0;
				}
			}

			&-discount {
				color: @color-red;
			}
		}

		.size {
			padding-top: 5px;
			font-size: @font-smallest;
			color: @color-black-secondary;
		}
	}
}




	.bond-slide {
		border: none;
		width: 320px;
		height: 480px;
  

		&_img {
			max-height: 400px;
			overflow: hidden;
		}

		&_img img {
			padding: 0 15px;
			opacity: 1;
			width: 100%;
		}

		&:first-child .bond-slide_img img {
			padding-left: 0;
		}
		&:last-child .bond-slide_img img {
			padding-right: 0;
		}
	}
}