﻿.page-catalog-single {
    //padding: 0 @grid-gutter-width/2 0;
    height: 100%;

    .content {
        .row(0);
        height: 100%;
    }
    .catalog-wrapper {
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: @grid-gutter-width*2;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
    .catalog-content {
        flex: 0 0 70%;
        max-width: 70%;
        padding: 0 30px 30px 0;
        height: calc(~'100% - 50px');
        top: @header-height;
        right: 0;
        position: absolute;
    }
    .shop-list {
        padding: 15px 0 30px 0;
        .shop-list_item {
            margin: 0 0;
            &--summary{
                margin: 15px 0 0;
            }
        }
    }
    .catalog-options .nav>li {
        font-weight: @font-bold;
    }
    .catalog-options .nav>li li>a {
        padding-left: 0 !important;
    }
    .catalog-options .nav strong {
        display: block;
        padding-bottom: @grid-gutter-width/3;
        border-bottom: 1px solid @color-black-divider;
    }
}
