﻿<div class="panel panel-default">    
    <div class="panel-heading">
        <button type="button" class="btn btn-default" disabled>Продавцы</button>
        <a type="button" class="btn btn-default" href="/AdministrativeTools/AdministrativeRoles">Другие пользователи</a>
        <a type="button" class="btn btn-default" href="/AdministrativeTools/AllocateRole">Назначить роль</a>
    </div>
    <div class="panel-body text-center" ng-show="$ctrl.users.length===0"><h4>Нет ни одного верифицированного продавца</h4></div>
    <div class="panel-body" ng-show="$ctrl.users.length>0">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-header">
                    <th>
                        <input style="left:0!important" id="check-all" type="checkbox" ng-checked="$ctrl.selectAll" ng-click="$ctrl.selectingAll()">
                        <!--<label for="check-all">Выбрать всех</label>-->
                    </th>
                    <th>Имя</th>
                    <th>E-mail</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users">
                    <td>
                        <div>
                            <input id="{{user.userId}}" style="left:0!important" type="checkbox" ng-checked="user.checked" ng-click="$ctrl.checkedUser(user.userId)">
                            <label for="{{user.userId}}"></label>
                        </div>
                    </td>
                    <td><label ng-bind="user.name"></label></td>
                    <td><label ng-bind="user.email"></label></td>
                    <td>
                        <select ng-model="user.role" class="form-control">
                            <option ng-repeat="r in $ctrl.roles" value="{{r.id}}">{{r.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button ng-click="$ctrl.deleteUser()" class="btn btn-default">Удалить</button>
        <button ng-click="$ctrl.assept()" class="btn btn-primary">Подтвердить</button>
    </div>
</div>