﻿<span class="single-chosen-search">
    <div class="" ng-bind="$ctrl.settings.title"></div>
    <select chosen
            class="chosen-select"
            name="$ctrl.ngModel"
            data-placeholder-text-single="$ctrl.settings.placeholder || 'Выберите опцию'"
            ng-change="$ctrl.onItemChanges()"
            ng-model="$ctrl.kdModel"
            ng-options="item.id as item.name for item in $ctrl.items">
        <option value=""></option>
        <!--data-placeholder="$ctrl.settings.placeholder"-->
    </select>
</span>