<div class="modal-header">
    <h3 class="modal-title">СОЗДАНИЕ АКЦИИ</h3>
</div>
<div class="modal-body"
     id="modal-body">
    <from class="create-form">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input ng-model="$ctrl.command.action.isVisible"
                           type="checkbox" />
                   <strong class="text-primary">АКТИВНА</strong>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="name">НАЗВАНИЕ:</label>
            <input class="form-control"
                   id="name"
                   ng-model="$ctrl.command.action.name"
                   type="text" />
        </div>
        <div class="form-group">
            <label for="code">КОД:</label>
            <input class="form-control"
                   id="code"
                   ng-model="$ctrl.command.action.code"
                   type="text" />
        </div>
        <div class="form-group">
            <label for="code">СКИДКА:</label>
            <input class="form-control"
                   id="code"
                   ng-model="$ctrl.command.action.discount"
                   type="number" />
        </div>
        <div class="form-group">
            <label for="description">ОПИСАНИЕ:</label>
            <textarea class="form-control"
                      id="description"
                      ng-model="$ctrl.command.action.description"
                      rows="5"></textarea>
        </div>
        <kd-file-select-bootstrap on-file-changed="$ctrl.imageFileChanged"></kd-file-select-bootstrap>
    </from>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="$ctrl.create()">СОХРАНИТЬ</button>
    <button class="btn  btn-default"
            ng-click="$ctrl.cancel()">ЗАКРЫТЬ</button>
</div>
