.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* Nav */
.tabs nav {
	text-align: left;
    margin-left: 25px;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid transparent;
	border-bottom: none;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid @color-primary;
	//box-shadow: inset 0 1px @color-primary;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 2500px;
	background: @color-primary;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: @color-black-disabled;
	display: block;
	font-size: @font-big;
	line-height:  @grid-gutter-width*1.5;
	padding: 0 @grid-gutter-width;
	white-space: nowrap;
    text-decoration: none;
	i{
		font-size: @font-big;
	}
}

.tabs nav a:hover {
	color:  @color-black-primary;
}

.tabs nav li.tab-current a {
	color: @color-primary;
}

/* Content */
.tabs{
	.content>section {
	font-size: 1.25em;
	padding: @grid-gutter-width 0;
	display: none;
	margin: 0 auto;
}

.content>section:before,
.content>section:after {
	content: '';
	display: table;
}

.content>section:after {
	clear: both;
}

/* Fallback example */
.no-js .content>section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid @color-primary;
}

.content>section.content-current {
	display: block;
}

}
/* Responsive */

@media screen and (max-width: 1540px) {
	.tabs nav a span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}
@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}
	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}
	.tabs nav ul li:last-child {
		border-right: none;
	}
}