﻿<h1 class="page-header">
    {{$ctrl.collection.roomType}} {{$ctrl.collection.seriesName}}
    <span class="pull-right">
        <a ng-href="/import/ProductValidation?collectionId={{$ctrl.collection.id}}" class="btn btn-default pull-right">К валидации</a>
        <a ng-href="/import/productstemplates?collectionId={{$ctrl.collection.id}}" class="btn btn-default pull-right">К черновикам</a>
    </span>
</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table fixed-header">
                <thead>
                    <tr class="table-header">
                        <th>Вариант</th>
                        <!--<th>По умолчанию</th>-->
                        <th>Большое изображение <small class="text-primary">(1920x890)</small></th>
                        <th>Среднее изображение <small class="text-primary">(900x600)</small></th>
                        <th>Маленькое изображение <small class="text-primary">(280x130)</small></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="variant in $ctrl.collection.integrationVariants">
                    <tr class="colection-variant">
                        <td>
                            <span class="collection-variant-options">
                                <h5>Вариант {{variant.number}}</h5>
                                ( {{variant.frameColor}}, {{variant.facing}}, {{variant.facingColor}} )
                            </span>
                        </td>
                        <!--<td class="text-center">
                            <input type="checkbox" ng-model="variant.isDefault" ng-click="$ctrl.makeDefault(variant.id)"/>
                            <label>Основной вариант</label>
                        </td>-->
                        <td>
                            <img id="image_{{variant.id}}_InInterior" ng-src="/api/images/collectionvariant/{{variant.id}}/InInterior" alt="Картинки нет" height="50" />
                            <div class="choose-photo form-inline">
                                <div class="form-group">
                                    <input type="file" id="file_{{variant.id}}_InInterior" />
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0)" ng-click="$ctrl.loadVariantImage(variant.id, 'InInterior')" class="btn btn-primary btn-xs">Загрузить</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img id="image_{{variant.id}}_SliderMiddle" ng-src="/api/images/collectionvariant/{{variant.id}}/SliderMiddle" alt="Картинки нет" height="50" />
                            <div class="choose-photo form-inline">
                                <div class="form-group">
                                    <input type="file" id="file_{{variant.id}}_SliderMiddle" />
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0)" ng-click="$ctrl.loadVariantImage(variant.id, 'SliderMiddle')" class="btn btn-primary btn-xs">Загрузить</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img id="image_{{variant.id}}_SliderMin" ng-src="/api/images/collectionvariant/{{variant.id}}/SliderMin" alt="Картинки нет" height="50" />
                            <div class="choose-photo form-inline">
                                <div class="form-group">
                                    <input type="file" id="file_{{variant.id}}_SliderMin" />
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0)" ng-click="$ctrl.loadVariantImage(variant.id, 'SliderMin')" class="btn btn-primary btn-xs">Загрузить</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-click="$ctrl.changeProductsVisibility(variant)"><i class="fa fa-th-list"></i> Элементы коллекции</button> <!--Кнопка, которая открывает строку-->
                        </td>
                        <td>
                            <button ng-show="variant.isPublished === false" class="btn btn-default" ng-click="$ctrl.publish(variant)"><i></i>Опубликовать</button>
                            <span ng-show="variant.isPublished === true">Опубликован</span>
                        </td>
                    </tr>
                    <tr class="colection-variants" ng-show="variant.isProductsVisible">
                        <!-- Строка, которая открывается кнопкой -->
                        <td colspan="6">
                            <table class="table" ng-repeat="product in variant.integrationProducts | orderBy:'syncCode1C'">
                                <tr>
                                    <th>Код1С</th>
                                    <th>Место в коллекции</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td style="max-width:250px; min-width: 250px;">
                                        <div class="colection-variant-div colection-variant-title">{{product.syncCode1C}}</div>
                                        <span ng-bind="product.furnitureType"></span><br />
                                        <span>( {{product.frameColor}}, {{product.facing}}, {{product.facingColor}} )</span>
                                    </td>
                                    <td>
                                        <div class="colection-variant-div"><img id="image_product_{{variant.id}}_{{product.productId}}" ng-src="/api/images/productinvariant/{{product.objectId}}/InInterior" alt="Картинки нет" height="50"></div>
                                    </td>
                                    <td>
                                        <div class="colection-variant-div"><input type="file" id="file_product_{{variant.id}}_{{product.productId}}" style="width:100%;" /></div>
                                    </td>
                                    <td>
                                        <div class="colection-variant-div"><a href="javascript:void(0)" ng-click="$ctrl.loadProductImage(product, variant.id, 'InInterior')" class="btn btn-primary btn-sm">Загрузить</a></div>
                                    </td>
                                    <td>
                                        <div class="colection-variant-div">
                                            <a href="javascript:void(0)"
                                               ng-click="$ctrl.openModal(product, variant.id)"
                                               ng-class="{'btn-success' : (product.contentHeight > 0 && product.contentWidth > 0), 'btn-default' : !(product.contentHeight > 0 && product.contentWidth > 0)}"
                                               class="btn btn-sm">
                                                Выделить область
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="modal-areas" class="modal-alexasha collection-selector" style="display:none">
    <div class="modal-content-alexasha">
        <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
        <div ng-if="$ctrl.isBindingAreas" class="collection-selector_inner">
            <div id="mr_image" mr-image mr-src="src" mr-selector="selector" mr-drawer="drawer"></div>
            <img ng-src="{{cropResult}}" />
        </div>
        <div class="modal-buttons">
            <a href="javascript:void(0)" class="btn btn-default" ng-click="$ctrl.closeModal()">Отмена</a> &nbsp;
            <a href="javascript:void(0)" class="btn btn-primary" ng-click="$ctrl.bindArea($ctrl.editingProduct.objectId, $ctrl.editingProduct.itemId)">ОК</a>
        </div>
    </div>
</div>
