﻿<div class="profile-content_subnav">
    <ul>
        <li class="active"><a>Личные данные</a></li>
        <li><a ng-click="$ctrl.editData()">Редактировать профиль</a></li>
        <li><a ng-click="$ctrl.restoreSetVisible()">Изменить пароль</a></li>
    </ul>
</div>
<div class="profile-content_list">
    <h4><span class="label label-primary">Фамилия</span> {{$ctrl.kdModel.lastName}}</h4>
    <h4><span class="label label-primary">Имя</span> {{$ctrl.kdModel.firstName}}</h4>
    <h4><span class="label label-primary">Отчество</span> {{$ctrl.kdModel.middleName}}</h4>
    <h4 ng-repeat="phone in $ctrl.kdModel.userPhones"><span class="label label-primary" >Телефон </span> {{phone.phone}}</h4>
    <h4 ng-repeat="address in $ctrl.kdModel.userAddresses" class="profile-content_list--adress"><span class="label label-primary" >Адрес </span> {{address.address}}</h4> <!--TODO: Нужно добавить порядковые номера для адресов -->
    <h4><span class="label label-primary">E-mail</span> {{$ctrl.kdModel.email}}</h4>
</div>
