﻿<p class="input-group">
    <input uib-datepicker-popup type="text" class="form-control form-date" ng-model="$ctrl.kdModel" is-open="$ctrl.isOpen" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>

<!--<div class="input-group">
    <div class="input-group-addon" ng-click="$ctrl.openStart()">sds
        <input uib-datepicker-popup type="text" class="form-control" ng-model="$ctrl.kdModel.dateStart" is-open="$ctrl.isStartOpen"
            datepicker-options="$ctrl.options.dateStartOptions" style="display: none" />
    </div>
    <span ng-bind="$ctrl.periodText">asdasdasdasd</span>
    <div class="input-group-addon" ng-click="$ctrl.openEnd()">sds
        <input uib-datepicker-popup type="text" class="form-control" ng-model="$ctrl.kdModel.startDate" is-open="$ctrl.isEndOpen"
            datepicker-options="$ctrl.options.dateEndOptions" style="display: none" />
    </div>
</div>-->