﻿    .buttons {
        .transitions();
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;
        &>.btn {
            width: 100%;
            padding: 15px 0;
            letter-spacing: 1px;

            &:last-child{
                border-left: none;
            }
        }
    }


.btn {
    font-size: @font-normal;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
    font-weight: @font-light;
    outline: none !important;
    z-index: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    &:hover {
        text-decoration:none;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 0;
        height: 110%;
        top: 50%;
        left: -5%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &:hover:after {
        width: 110%;
    }
    &:active{
        border-color: transparent;
    }

    &.rtl:after {
        left: auto;
        right: 0;

    }
}


/* Button Primary */

.btn-primary {
    border-color: @color-primary;
    color: @color-primary;
    &:after {
        background: @color-primary;
    }
    &:hover,
    &:active {
        color: #fff !important;
    }
}


/* Button White */

.btn-white {
    border-color: @color-white;
    color: @color-white;
    &:after {
        background: @color-white;
    }
    &:hover,
    &:active {
        color: @color-black-primary !important;
    }
}


/* Button Black */

.btn-black {
    border-color: @color-black-primary;
    color: @color-black-primary;
    &:after {
        background: @color-black-primary;
    }
    &:hover,
    &:active {
        color: @color-white-primary !important;
    }
}

/* Button Black */

.btn-link {
    border-color: transparent;
    color: @color-black-secondary;
    &:after {
        background: @color-black-primary;
    }
    &:hover,
    &:active {
        color: @color-white-primary !important;
    }
}

.btn.btn-sm{   
        font-size:  @font-small;     
        padding:  @font-normal/2 @font-small;
}
.btn.btn-xs{   
        font-size:  @font-small;     
        padding:  @font-small/2 @font-smallest;
}

.btn.btn-defer{
    display: block;

    &>i:before{
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

    &:hover> i:before{
        transform: rotate(360deg);
        transition-delay: 0.3s;
    }
}

.btn.btn-icon{
    /*фикс для икнончной кнопки "Добавить в избранное"*/
    .btn-favorite_title {
        display: none;
    }
}