﻿<div class="header-tools--cart">
    <div class="cart" ng-click="$ctrl.showCart()">
        <span class="cart-trigger" >
            <i class="icon-cart"></i>
            <span class="bage" ng-bind="$ctrl._cart.count" ng-hide="$ctrl._cart.count === 0"></span>
        </span>
    </div>
</div> 