﻿<h1 class="page-header">
    Валидация
    <a href="/import/collection?collectionId={{$ctrl.collectionId}}" class="btn btn-default pull-right">К коллекции</a>
    <a href="/import/productstemplates?collectionId={{$ctrl.collectionId}}" class="btn btn-default pull-right">Черновики</a>
</h1>

<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber===1}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(1)">Характеристики</a></li>
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber===2}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(2)">Поля из 1С</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading"  ng-show="$ctrl.activeTabNumber===1">
                <div class="row">
                    <!--пагинация-->
                    <div class="col-xs-2">
                        <span>Кол-во на странице</span>
                        <select ng-options="item.id as item.name for item in $ctrl.itemsOnPageList" ng-model="$ctrl.paging.itemsOnPage" ng-change="$ctrl.selectItemsOnPage(1)" class="form-control" style="max-width:70px;"></select>
                    </div>
                    <div class="col-xs-3 form-inline">
                        <span style="vertical-align: top; padding-right: 15px;">Тип целевой аудитории </span>
                        <kd-select-multi-chosen settings="{placeholder: 'Выберите целевую аудиторию'}" kd-model="selectedTargetAudienceList" list-items="$ctrl.targetAudienceList" kd-change="$ctrl.changeAllTargetAudience"></kd-select-multi-chosen>
                    </div>
                    <div class="col-xs-3 form-inline">
                        <span style="vertical-align: top; padding-right: 15px;">Стиль </span>
                        <kd-select-multi-chosen settings="{placeholder: 'Выберите стиль'}" kd-model="selectedStyleList" list-items="$ctrl.styleList" kd-change="$ctrl.changeAllStyles"></kd-select-multi-chosen>
                    </div>
                    <div class="col-xs-3 form-inline">
                        <span style="vertical-align: top; padding-right: 15px;">Разобранный вид </span>
                        <br />
                        <select ng-model="$ctrl.allDisassembly" ng-change="$ctrl.allDisassemblyState()" class="form-control">
                            <option ng-repeat="item in $ctrl.disassemblyStatesList" value="{{item.value}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
    </div>

    <!--second tabs panel-->
    <div class="panel-body">
        <!--table for specs-->
        <div ng-show="$ctrl.activeTabNumber==1"  class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Тип артикула</th>
                        <th>Код 1С</th>
                        <th>Цвет корпуса</th>
                        <th>Отделка</th>
                        <th>Цвет отделки</th>
                        <th>Маркетинговый артикул</th>
                        <th>Маркетинговый вес</th>
                        <!--<th>Соответствие</th>-->
                        <th>Тип целевой аудитории</th>
                        <th>Стиль</th>
                        <th>Описание</th>
                        <th>Разобранный вид</th>
                        <th class="input-width">Размер комнаты</th>
                        <th>Количество спальных мест</th>
                        <th>Фотографии</th>
                    </tr>
                    <tr>
                        <th><input type="checkbox" ng-model="$ctrl.allSelected" ng-click="$ctrl.selectAll()"/></th>
                        <th>
                            <kd-select-single-chosen object="{type:'furnitureType'}" kd-model="$ctrl.chosenFurnitureType" list-items="$ctrl.furnitureType" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'syncCode1C'}" kd-model="$ctrl.chosenSyncCode1C" list-items="$ctrl.syncCode1C" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'frameColor'}" kd-model="$ctrl.chosenFrameColor" list-items="$ctrl.frameColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facing'}" kd-model="$ctrl.chosenFacing" list-items="$ctrl.facing" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <!--<tr>
                        <th></th>
                        <th>
                            <kd-select-single-chosen object="{type:'furnitureType'}" kd-model="$ctrl.chosenFurnitureType" list-items="$ctrl.furnitureType" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'syncCode1C'}" kd-model="$ctrl.chosenSyncCode1C" list-items="$ctrl.syncCode1C" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'frameColor'}" kd-model="$ctrl.chosenFrameColor" list-items="$ctrl.frameColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facing'}" kd-model="$ctrl.chosenFacing" list-items="$ctrl.facing" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>-->
                </thead>
                <tbody>
                    <!-- filters -->
                    <tr ng-repeat="product in $ctrl.products track by product.syncCode1C">
                        <td><input type="checkbox" ng-model="product.isSelected"/></td>
                        <td><strong  ng-bind="product.furnitureType"></strong></td>
                        <td ng-bind="product.syncCode1C"></td>
                        <td ng-bind="product.frameColor"></td>
                        <td ng-bind="product.facing"></td>
                        <td ng-bind="product.facingColor"></td>
                        <td ng-bind="product.marketerVendorCode"></td>
                        <td ng-bind="product.marketerRange"></td>
                        <!--<td><input type="text" ng-model="product.syncCode1CConformity" /></td>-->
                        <td>
                            <kd-select-multi-chosen settings="{placeholder: 'Выберите целевую аудиторию'}" kd-model="product.targetTypes" list-items="$ctrl.targetAudienceList"></kd-select-multi-chosen>
                        </td>
                        <td>
                            <kd-select-multi-chosen settings="{placeholder: 'Выберите стиль'}" kd-model="product.styles" list-items="$ctrl.styleList"></kd-select-multi-chosen>
                        </td>
                        <td><textarea ng-model="product.descr" class="form-control"></textarea></td>
                        <td><input type="checkbox" ng-model="product.disassemblyState"/></td>
                        <td><input type="text" ng-model="product.roomSize" class="form-control"/></td>
                        <td><input type="text" ng-model="product.sleepingAreaAmount" class="form-control" ng-change="$ctrl.validateSleepingAreaAmount(product.syncCode1C, product.sleepingAreaAmount)" /></td>
                        <td>
                            <button ng-class="{'btn-success' : $ctrl.checkIsAllImagesExist(product), 'btn-default' : !($ctrl.checkIsAllImagesExist(product))}"
                                class="btn"
                                ng-click="$ctrl.openDownloadingWindow(product)">
                                Загрузка
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--table for 1CFields-->
        <div ng-show="$ctrl.activeTabNumber==2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Тип артикула</th>
                        <th>Код 1С</th>
                        <th>Цвет корпуса</th>
                        <th>Отделка</th>
                        <th>Цвет отделки</th>
                        <th>Маркетинговый артикул</th>
                        <th>Маркетинговый вес</th>
                        <th>Подсветка</th>
                        <th>Материал</th>
                        <th>Левый-Правый</th>
                        <th>Форма артикула</th>
                        <th>Карнизы</th>
                        <th class="input-width">Высота</th>
                        <th class="input-width">Ширина</th>
                        <th class="input-width">Глубина</th>
                        <th>Механизм</th>
                        <th>Нагрузка</th>
                        <th class="input-width">Длина спального места</th>
                        <th class="input-width">Ширина спального места</th>
                        <th>Гарантия</th>
                    </tr>
                    <!-- filters -->
                    <tr>
                        <td></td>
                        <td>
                            <kd-select-single-chosen object="{type:'furnitureType'}" kd-model="$ctrl.chosenFurnitureType" list-items="$ctrl.furnitureType" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen object="{type:'syncCode1C'}" kd-model="$ctrl.chosenSyncCode1C" list-items="$ctrl.syncCode1C" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen object="{type:'frameColor'}" kd-model="$ctrl.chosenFrameColor" list-items="$ctrl.frameColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen object="{type:'facing'}" kd-model="$ctrl.chosenFacing" list-items="$ctrl.facing" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="7"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in $ctrl.products track by product.syncCode1C">
                        <td><input type="checkbox" ng-model="product.isSelected"/></td>
                        <td><strong  ng-bind="product.furnitureType"></strong></td>
                        <td ng-bind="product.syncCode1C"></td>
                        <td ng-bind="product.frameColor"></td>
                        <td ng-bind="product.facing"></td>
                        <td ng-bind="product.facingColor"></td>
                        <td ng-bind="product.marketerVendorCode"></td>
                        <td ng-bind="product.marketerRange"></td>
                        <td>
                            <kd-select-single-chosen kd-model="product.backlight" list-items="$ctrl.backlightList" settings="{placeholder :'Выберите подсветку'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.material" list-items="$ctrl.materialList" settings="{placeholder :'Выберите материал'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.leftRight" list-items="$ctrl.leftRightList" settings="{placeholder :'Выберите правый левый'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.furnitureForm" list-items="$ctrl.articleFormList" settings="{placeholder :'Выберите форму артикула'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.productPartMarker" list-items="$ctrl.productPartMarkerList" settings="{placeholder :'Выберите наличие карнизов'}"></kd-select-single-chosen>
                        </td>
                        <td><input ng-model="product.height" type="text" ng-change="$ctrl.validateHeight(product.syncCode1C, product.height)" class="form-control"/></td>
                        <td><input ng-model="product.width" type="text" ng-change="$ctrl.validateWidth(product.syncCode1C, product.width)" class="form-control"/></td>
                        <td><input ng-model="product.length" type="text" ng-change="$ctrl.validateLength(product.syncCode1C, product.length)" class="form-control"/></td>
                        <td>
                            <kd-select-single-chosen kd-model="product.mechanism" list-items="$ctrl.mechanismList" settings="{placeholder :'Выберите механизм'}"></kd-select-single-chosen>
                        </td>
                        <td><input ng-model="product.permissibleLoad" type="text" ng-change="$ctrl.validatePermissibleLoad(product.syncCode1C, product.permissibleLoad)" class="form-control" /></td>
                        <td><input ng-model="product.sleepingAreaWidth" type="text" ng-change="$ctrl.validateSleepingAreaWidth(product.syncCode1C, product.sleepingAreaWidth)" class="form-control" /></td>
                        <td><input ng-model="product.sleepingAreaLength" type="text" ng-change="$ctrl.validateSleepingAreaLength(product.syncCode1C, product.sleepingAreaLength)" class="form-control" /></td>
                        <td><input ng-model="product.warranty" type="text" ng-change="$ctrl.validateWarranty(product.syncCode1C, product.warranty)" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="panel-footer text-center">
        <button ng-disabled="$ctrl.page<=1" type="button" class="btn btn-default" ng-click="$ctrl.prev()"><i class="fa fa-arrow-left"></i></button>
        <span>Страница {{$ctrl.page}} из {{$ctrl.paging.pageCount}}</span>
        <button ng-disabled="$ctrl.page>=$ctrl.paging.pageCount" type="button" class="btn btn-default" ng-click="$ctrl.next()"><i class="fa fa-arrow-right"></i></button>
        <button style="float: right" type="button" class="btn btn-default" ng-click="$ctrl.publish()">Опубликовать выбранные</button>
        <button style="float: right" type="button" class="btn btn-default" ng-click="$ctrl.save()">В черновики выбранные</button>
    </div>
</div>

<div id="modal-products-images" ng-if="$ctrl.openModal" class="modal-alexasha">
    <div class="modal-content-alexasha">
        <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
        <kd-products-images-import product="$ctrl.productDownload" furniture-type="{{$ctrl.productDownload.furnitureType}}" sync-code="{{$ctrl.productDownload.syncCode1C}}"></kd-products-images-import>
    </div>
</div>
