﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4>Вы уверены, что хотите изменить e-mail?</h4>
                <form novalidate name="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input placeholder="E-mail" name="email" type="email" required="" autofocus="" ng-model="$ctrl.userEmail" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || $ctrl.isInprogress" ng-click="$ctrl.changeEmail()">
                            Продолжить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>