.btn {
  .transitions();
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: @field-padding-top @field-padding-horizontal*2 @field-padding-bottom;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: @line-height;
  text-decoration: none;
  text-transform: none;
  //border-radius: @border-radius;
  min-height: 2.125em;
  border: 1px solid @color-black-divider;
  color: @text-color;
  background-color: transparent;
  background-image: none;

  &:before{
    .transitions();
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
  }

  &-hover,
  &:hover {
    text-decoration: none;
    color: @text-color;

  &:before{
    width: calc(~'100% - 6px');
    height: calc(~'100% - 6px');
    background: @color-black-divider;
  }

  }

  &-active,
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    color: @text-color;
    background-color: darken(@color-black-divider, 15%);
    border-color: darken(@color-black-divider, 17%);
  }

  &-disabled,
  &:disabled {
    cursor: not-allowed;
    color: @text-color;
    background-color: @color-black-divider;
    border-color: @color-black-disabled;

    a& {
      pointer-events: none;
    }
  }

  &-black {
    color: @color-black-primary;
    border: @border-width solid @color-black-primary;

    &-hover,
    &:hover {
      color: #fff;
      
      &:before{
        background-color: @color-black-primary;
      }
    }

    &-active,
    &:active,
    &:focus {
      color: #fff;
        background-color: @color-black-primary;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color: @color-black-disabled;
      border-color: @color-black-disabled;
    }
  }
  &-white {
    color: @color-white;
    border: @border-width solid @color-white;

    &-hover,
    &:hover {
      color: @color-black-secondary;
      
      &:before{
        background-color: @color-white;
      }
    }

    &-active,
    &:active,
    &:focus {
        color: @color-black-secondary;
        background-color: @color-white;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color: @color-black-disabled;
      border-color: @color-black-disabled;
    }
  }
  &-primary {
    //color: #fff;
    color: @color-primary;
    border: @border-width solid @color-primary;

    &-hover,
    &:hover {
      color: #fff;
      border-color: @color-primary;
      
      &:before{
        background-color: @color-primary;
      }
    }

    &-active,
    &:active,
    &:focus {
      color: #fff;
      background-color: @color-primary;
      border-color: @color-primary;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color: fade(@color-primary, 50%);
      border-color: fade(@color-primary, 50%);
    }
  }
  &-danger {
    color: @color-danger;
    border: @border-width solid @color-danger;

    &-hover,
    &:hover {
      color: #fff;
      border-color: @color-danger;

      &:before{
        background-color: @color-danger;
      }
    }

    &-active,
    &:active,
    &:focus {
      color: #fff;
      background-color: @color-danger;
      border-color: @color-danger;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color: fade(@color-danger, 50%);
      border-color: fade(@color-danger, 50%);
    }
  }
  &-warning {
    color: @color-warning;
    border: @border-width solid @color-warning;

    &-hover,
    &:hover {
      color: #fff;
      border-color: @color-warning;

      &:before{
        background-color: @color-warning;
      }
    }

    &-active,
    &:active,
    &:focus {
      color: #fff;
      background-color: @color-warning;
      border-color: @color-warning;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color: fade(@color-warning, 50%);
      border-color: fade(@color-warning, 50%);
    }
  }
  &-success {
    color: @color-success;
    border: @border-width solid @color-success;

    &-hover,
    &:hover {
      color: #fff;
      border-color: @color-success;

      &:before{
        background-color: @color-success;
      }
    }

    &-active,
    &:active,
    &:focus {
      color: #fff;
      background-color: @color-success;
      border-color: @color-success;
    }

    &-disabled,
    &:disabled {
      color: #fff;
      background-color:  fade(@color-success, 50%);
      border-color: fade(@color-success, 50%);
    }
  }

  &-lg {
    font-size: @h3;
  }

  &-sm {
    font-size: @font-small;
    padding-top: round((@field-padding-top / 2), 2);
    padding-bottom: round((@field-padding-bottom / 2), 2);
  }
  &-xs {
    font-size: @font-small;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &-icon {
    max-width: 50px;
  }
  &-block {
    width: 100%;
    text-align: center;
    justify-content: center;

    & + & {
      margin-top: (@line-height / 2);
    }
  }
}
