﻿.catalog-options {
    display: block;
    position: absolute;
    top: 90px;
    left: @grid-gutter-width*2;
    height: calc(~'100% - 90px');
    padding: 0 15px 200px 0;
    z-index: 100;

    .nav,
    .nav ul,
    .nav li {
        list-style: none;
        display: block;
        width: 267px;
    }
    .nav ul {
        padding: 0;
        margin-bottom: 15px;
    }
    .nav {
        margin: 0px;
        strong {
            font-weight: @font-bold;
            color: @color-black-primary;
        }
        label {
            white-space: nowrap;
            font-size: @font-normal;
        }
        [type="checkbox"]:disabled:not(:checked) + label,
        [type="checkbox"]:disabled:checked + label{
          box-shadow: none;
          display:block;
          margin-bottom: -1px;
          background: rgba(0,0,0,0.03);
          line-height: 25px;
          cursor: no-drop;
          height: 25px;
        }
    }
    .nav>li {
        margin: 10px 0;
        font-size: @font-big;
        &>a {
            line-height: 20px;
            &:hover {
                letter-spacing: 0;
            }
        }
        .checked-options {
            p {
                .transitions();
                padding: 5px 0 0 15px;
                display: none;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                &:before {
                    .transitions();
                    font-family: 'icomoon' !important;
                    content: '\e90b';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: 2px;
                    font-size: @font-small;
                    transform: translateY(-50%);
                    color: @color-black-disabled;
                }
                &:hover {
                    letter-spacing: -1px;
                    color: @color-black-disabled;
                    &:before {
                        content: '\e908';
                        color: @color-red;
                        font-size: @font-smallest;
                    }
                }
                &.active {
                    display: block;
                }
            }
        }
        .checked-options.thumbs {
            span {
                .transitions();
                padding: 5px 0 0;
                display: none;
                //overflow: hidden;
                position: relative;
                cursor: pointer;
                .option-thumb {
                    display: block;
                    width: 20px;
                    height: 20px;
                    &>img {
                        width: 100%;
                    }
                }
                &:before {
                    content:'';
                }
                &>span{
                padding: 0 !important;
                position: relative;
                }
                &>span:before {
                    .transitions();
                    font-family: 'icomoon' !important;
                    content: '\e908';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: @font-small;
                    transform: translate(-50%, -50%);
                    color: transparent;
                }
                &:hover {
                    letter-spacing: -1px;
                    color: @color-black-disabled;
                    &>span:before {
                        content: '\e908';
                        font-size: @font-smallest;
                        color: @color-red;
                    }
                }
                &.active {
                    display: inline-block;
                }
            }
        }
    }
    .nav>li li {
        height: 35px;
        line-height: 35px;
        font-size: @font-medium;
        font-weight: @font-light;
        position: relative;
        cursor: pointer;
        &.small {
            height: 25px;
            line-height: 25px;
            strong {
                font-size: @font-normal;
                cursor: pointer;
            }
        }

        &>a {
            padding-left: 25px;
            color: @color-black-primary;
        }
    }
    .nav a {
        .transitions();
        font-weight: @font-light !important;
        display: block;
        position: relative;
        color: @color-black-primary;
        outline: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
    }
    .nav li>a>span {
        .transitions();
        font-family: 'icomoon' !important;
        float: right;
        font-size: 28px;
    }
    .nav li>a:hover>span {
        transform: rotate(-90deg);
    }
    .nav li>a>span:after {
        content: '\e90c';
    }
    .nav li.open {
        &>ul {
            display: block !important;
            height: auto !important;
            max-height: 420px;
            margin-top: 15px;
        }
        .checked-options {
            display: none;
        }
        &>a {
            color: #000;
        }
    }
    .nav li.open>a>span {
        transform: rotate(-180deg);
    }
    .nav a:hover,
    .nav a.active,
    .nav li.active>a {
        color: #000;
        letter-spacing: 2px;
        font-weight: @font-bold;
    }
    &_inner {
        .transitions(all 0.5s ease);
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        left: 100%;
        &.active {
            display: block;
        }
        .furniture-options {
            border-top: 1px solid @color-black-divider;
            padding-top: 15px;
        }
        .furniture-options.lists>form>p {
            width: 100%;
            height: 18px;
            line-height: 18px;
        }
    }
    ul.furniture-options>li {
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        [type="checkbox"]:not(:checked)+label {
            padding-left: 5px;
        }
        [type="checkbox"]:checked+label {
            padding-left: 10px;
        }
    }
}

.open .bage{
    display: none !important;
}
.bage {
    display: inline-block;
    margin: -10px 0;
    padding: 0 10px;
    background: #fff;
    font-size: @font-small;
    position: absolute;
    color: @color-black-disabled;
    font-weight: @font-light;
    &>b {
        color: @color-primary;
        font-weight: @font-regular;
        font-size: @font-normal;
    }
}


/*Adaptivity*/

  /*480px*/
  @media (min-width: @screen-sm) {
    .catalog-options {
        left: @grid-gutter-width/3;
    }
  }

  /*768px*/
  @media (min-width: @screen-md) {
    .catalog-options {
        left: @grid-gutter-width/2;
    }
  }
  
  /*1000px*/
  @media (min-width: @screen-lg) {
    .catalog-options {
        left: @grid-gutter-width;
    }
  }
  
  /*1800px*/
  @media (min-width: @screen-xl) {
    .catalog-options {
        left: @grid-gutter-width*2;
    }
  }
  
  /*2400px*/
  @media (min-width: @screen-xxl) {

  }