<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-primary">Browse&hellip; 
        <input style="display: none;"
               type="file" /></span>
    </label>
    <input class="form-control"
           ng-model="$ctrl.file.name"
           readonly="readonly"
           type="text" />
</div>
