﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container register-container">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4 id="registrationModal">Регистрация</h4>
                <div ng-show="$ctrl.isInprogress === true" class="register-container_preloader">
                    <i class="register-container_preloader--spinner icon-spinner4"></i>
                    <h5>Идет процесс регистрации</h5>
                </div>
                <form novalidate name="regform" ng-show="$ctrl.isInprogress === false">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input placeholder="E-mail" name="email" type="email" required="" autofocus="" ng-model="$ctrl.userEmail" maxlength="200" />
                    </div>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input placeholder="Имя" name="name" type="text" required="" ng-model="$ctrl.userName" maxlength="200" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input name="tel" type="tel" required ng-model="$ctrl.userPhone" ui-mask="+9 (999) 999-99-99" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.register()">
                            Зарегистрироваться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>