﻿<div ng-repeat="item in $ctrl.marketerProduct.products">
    <div class="shop-list_item--wrapper" ng-show="item.isCurrent">
        <a class="shop-list_item--photo" style="background-image: url('/api/images/product/{{item.id}}/InInterior')" ng-href="/catalog/product/{{item.furnitureTypeAlias}}/{{item.seriesAlias}}-{{item.articleSyncCode1c}}/#/{{item.syncCode1C}}">
            <img ng-src="/api/images/product/{{item.id}}/WithoutInterior">
        </a>
        <div class="shop-list_item--summary">
            <table>
                <thead>
                    <tr>
                        <th class="title" ng-bind="item.furnitureTypeName + ' ' + item.seriesName"></th>
                        <th class="articul">арт. <span ng-bind="item.syncCode1C"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="price">
                            <span class="price-current" ng-bind="item.salePrice.formattedAmountWithoutPoint"></span>
                            <span class="price-discount" ng-bind="'-'+item.discount + '%'" ng-hide="item.discount===0"></span><br />
                            <span class="price-past" ng-bind="item.price.formattedAmountWithoutPoint" ng-hide="item.discount===0" style="text-decoration:line-through;"></span>
                        </td>
                        <td class="size">
                            <div ng-if="$ctrl.marketerProduct.sizes.length > 1" class="size_multi">
                                <kd-select-single list-items="$ctrl.marketerProduct.sizes" kd-model="$ctrl.currentSize" kd-change="$ctrl.onSelectItem"></kd-select-single>
                            </div>
                            <!-- если нет размеров, отображаем просто текстом один дефолтный размер -->
                            <div ng-if="$ctrl.marketerProduct.sizes.length <= 1" class="size_one">
                                <span ng-bind="$ctrl.marketerProduct.sizes[0].height"></span>
                                <span>x</span>
                                <span ng-bind="$ctrl.marketerProduct.sizes[0].length"></span>
                                <span>x</span>
                                <span ng-bind="$ctrl.marketerProduct.sizes[0].width"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <kd-favorite-link class="btn btn-primary rtl" is-in-favorite="item.isFavorite" product-id="item.id" item-type="'product'"></kd-favorite-link>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.addToCart(item)" ng-disabled="item.isAddingToCart"><i class="icon-cart"></i>&nbsp;В корзину</button>
        </div>
    </div>
</div>
