﻿@model KonigDev.Lazurit.Store.Models.Home.HomeViewModel
@{
    ViewBag.PageClass = "page-home";
}
@section scripts
{
    <script src="~/Scripts/home/home.bootstraper.js"></script>
    <script src="~/Content/src/components/fullpage/fullpage.min.js" type="text/javascript"></script>
    <script src="~/Content/src/components/youtube-background/youtube-background.js"></script>
}
@section styles
{
    <link href="~/Content/home/home.css" rel="stylesheet" />
}
<div id="loader-wrapper">
    <div id="loader">
        <img src="~/Content/src/img/logo.svg" />
        <h2>Успех начинается дома</h2>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<main class="content fullpage" style="padding:0;">
    <section class="section" id="video-section">
        <a href="" id="moveSectionDown" class="move-down"></a>
        <div class="video-bg">
            <h2 class="plus">
                Успех начинается дома<span></span>
                <a href="/catalog" class="btn btn-white">Наш Каталог</a>
            </h2>
        </div>
    </section>
    <section class="section" id="market-section">
        <div class="home-slider">
            @{
                foreach (var slide in Model.Slides.Collection)
                {
                    <div class="slide" id="@slide.Id">
                        <img src="/api/images/product/@slide.Id/SliderMiddle" />
                        <div class="slide_description">
                            <div class="slide_description--inner">
                                <h2>
                                    <span>@((int)slide.Discount)%</span>
                                    @slide.Name
                                </h2>
                                <p>
                                    <a href="@Url.Action("Single", "Home", new { id = slide.SeoId})" class="btn btn-primary">Подробнее</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="banners">
            <div class="row">
                <div class="banner">
                    <kd-customer-request-create type="DesignerOnline">
                        <img src="~/Content/src/img/home/web-app.jpg" />
                    </kd-customer-request-create>
                </div>
                <div class="banner">
                    <kd-customer-request-create type="DesignerHome">
                        <img src="~/Content/src/img/home/designer.jpg" />
                    </kd-customer-request-create>
                </div>
                <div class="banner">
                    <a href="">
                        <img src="~/Content/src/img/home/cash.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="contacts-section">
        <div class="double-banners">
            <div class="row">
                <div class="banner">
                    <a href="">
                        <img src="~/Content/src/img/banner-1.jpg">
                    </a>
                </div>
                <div class="banner">
                    <a href="">
                        <img src="~/Content/src/img/banner-2.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class='ideas'>
            <div>
                <h2>Банк идей</h2>
            </div>
            <div>
                <p>
                    Мы хотим стать лучше и благодарим вас за то, что вы нам в этом помогаете!
                    <br />Если вы знаете, чего не хватает в нашей компании, или как можно повысить качество сервиса - пишите!
                </p>
            </div>
            <div><a href="" class="btn btn-primary">Предложить идею</a></div>
        </div>
        <footer class="footer">
            <div class="footer-about">
                <h2>Мебельная фабрика лазурит</h2>
                <p>
                    Уютная атмосфера в доме зависит от правильного выбора мебели. Не только красивая, но и предельно функциональная мебель в Калининграде представлена в интернет-магазине и в фирменных салонах «Лазурит». Оригинальный дизайн и новейшие
                    технологии производства делают наши серии такими популярными.
                </p>
            </div>
            <div class="footer-menu">
                <table>
                    <tr>
                       <!-- <td>
                            <h2>Сервис</h2>
                        </td>-->
                        <td>
                            <h2>Оплата</h2>
                        </td>
                        <td>
                            <h2>Покупателю</h2>
                        </td>
                        <td>
                            <h2>О компании</h2>
                        </td>
                    </tr>
                    <tr>
                        <!--<td>Дизайн-проект</td>-->
                        <td>Онлайн-оплата</td>
                        <td>Акции</td>
                        <td>О компании</td>
                    </tr>
                    <tr>
                        <!--<td>Доставка и подъем</td>-->
                        <td>Сбербанк онлайн</td>
                        <td>Сервис</td>
                        <td>Новости</td>
                    </tr>
                    <tr>
                        <!--<td>Сборка</td>-->
                        <td>Рассроча</td>
                        <td>Условия продажи</td>
                        <td>Партнерам</td>
                    </tr>
                    <tr>
                        <!--<td>Обмен и возврат</td>-->
                        <td>Другие способы оплаты</td>
                        <td>Технический каталог</td>
                        <td>Отзывы</td>
                    </tr>
                    <tr>
                        <!--<td>Сертификаты доверия</td>-->
                        <td></td>
                        <td></td>
                        <td>Банк идей</td>
                    </tr>
                    <tr>
                        <!--<td>График работы</td>-->
                        <td></td>
                        <td></td>
                        <td>Контакты</td>
                    </tr>
                </table>
            </div>
            <div class="footer-contact">
                <table class="footer-contact_phone">
                    <tr>
                        <td>
                            <img src="~/Content/src/img/icons/icon-phone.svg" />
                            <h3>8 800 100-50-22</h3>
                        </td>
                        <td>
                            <kd-customer-request-create type="Call">
                                <button class="btn btn-primary">Заказать звонок</button>
                            </kd-customer-request-create>
                        </td>
                    </tr>
                </table>
                <h2>Подписка на новости и акции</h2>
                <table>
                    <tr>
                        <td>
                            <input type="text" placeholder="Имя" />
                        </td>
                        <td>
                            <input type="text" placeholder="E-mail" />
                        </td>
                        <td>
                            <button class="btn btn-primary">Подписаться</button>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>
        <div class="copyright">&copy; Торговый дом «Лазурит», 2016</div>
    </section>
</main>
<div id="background-video" class="background-video"></div>
