﻿@model KonigDev.Lazurit.Hub.Model.DTO.MarketingActions.DtoMarketingAction

@*{
    ViewBag.PageClass = "page-home";
}*@

<div class="content" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-4" style="align-self:center">
            <h2>@((int)Model.Discount)% @Model.Name</h2>
            <p style="font-size: 16px;">@Model.Description</p>
        </div>
        <div class="col-md-8" style="align-self:center">
            <img style="width: 100%;" src="/api/images/product/@Model.Id/SliderMiddle" />
        </div>
    </div>

</div>
<footer class="footer">
    <div class="footer-about">
        <h2>Мебельная фабрика лазурит</h2>
        <p>
            Уютная атмосфера в доме зависит от правильного выбора мебели. Не только красивая, но и предельно функциональная мебель в Калининграде представлена в интернет-магазине и в фирменных салонах «Лазурит». Оригинальный дизайн и новейшие
            технологии производства делают наши серии такими популярными.
        </p>
    </div>
    <div class="footer-menu">
        <table>
            <tr>
                <td>
                    <h2>Сервис</h2>
                </td>
                <td>
                    <h2>Оплата</h2>
                </td>
                <td>
                    <h2>Покупателю</h2>
                </td>
                <td>
                    <h2>О компании</h2>
                </td>
            </tr>
            <tr>
                <td>Дизайн-проект</td>
                <td>Онлайн-оплата</td>
                <td>Как сделать заказ</td>
                <td>О компании</td>
            </tr>
            <tr>
                <td>Доставка и подъем</td>
                <td>Сбербанк онлайн</td>
                <td>Акции</td>
                <td>Новости</td>
            </tr>
            <tr>
                <td>Сборка</td>
                <td>Безналичный расчет</td>
                <td>Видео</td>
                <td>Отзывы</td>
            </tr>
            <tr>
                <td>Обмен и возврат</td>
                <td>Рассрочка</td>
                <td>Гарантия</td>
                <td>Контакты</td>
            </tr>
            <tr>
                <td>Сертификаты доверия</td>
                <td>Другие способы оплаты</td>
                <td>Сертификаты</td>
                <td>Банк идей</td>
            </tr>
            <tr>
                <td>График работы</td>
                <td></td>
                <td>Все о мебели</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Условия продажи товаров</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Технический каталог</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="footer-contact">
        <table class="footer-contact_phone">
            <tr>
                <td>
                    <img src="~/Content/src/img/icons/icon-phone.svg" />
                    <h3>8 800 100-50-22</h3>
                </td>
                <td>
                    <kd-customer-request-create type="Call">
                        <button class="btn btn-primary">Заказать звонок</button>
                    </kd-customer-request-create>
                </td>
            </tr>
        </table>
        <h2>Подписка на новости и акции</h2>
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="Имя" />
                </td>
                <td>
                    <input type="text" placeholder="E-mail" />
                </td>
                <td>
                    <button class="btn btn-primary">Подписаться</button>
                </td>
            </tr>
        </table>
    </div>    
</footer>
<div class="copyright">&copy; Торговый дом «Лазурит», 2016</div>