.fast-search {
    display: inline-block;
    position: relative;
    /*top: 50%;
	transform: translateY(-50%);
	right: 150px+@grid-gutter-width/2;*/
    &>input {
        .transitions();
        width: 50px;
        border: none;
        border-bottom: 1px solid @color-black-divider;
        box-shadow: none;
        height: 30px;
        &:focus {
            outline: none;
            width: 150px;
            border-bottom: 1px solid @color-primary;
            color: @color-primary;
        }
    }
}