/*Hover Effect*/


/*.bigger>.catalog-item {
    height: 25%;
}*/

.bond_body {
    height: 100%;
}

.bond-hover {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    left: 0;
}

.bond-wrapper {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 1, 1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bond-box {
    width: 99999px;
    height: 100%;
}

.bond-slide_img {
    /*overflow: hidden;*/
    padding: 5px;
    height: 100%;
    position: relative;
    img {
        .opacity(0, .5s);
        display: block;
        width: 100%;
        min-height: 100%;
    }
    h2 {
        .transitions(all 0.5s ease-out);
        position: absolute;
        color: #fff;
        bottom: -50px;
        right: 0;
        width: 100%;
        padding: 5px 15px 0 0;        
        text-align: right;
        font-weight: @font-light;
        font-size: @font-normal;
        letter-spacing: 1px;
        line-height: @grid-gutter-width;
        text-shadow: 0 1px 0 @color-black-disabled;
        background: -moz-linear-gradient(120deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 12%, @color-black-secondary 80%);
        background: -webkit-linear-gradient(120deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 12%, @color-black-secondary 80%);
        background: linear-gradient(120deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 12%, @color-black-secondary 80%);
    }
}

.bond-slide:first-child {
    border-left: none;
}

.bond-slide:last-child {
    //border-right: 2px solid #fff;
}

.catalog-item {
    .transitions();
    top: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%/6;
    //border-top: 1px solid #fff;
    border-bottom: 2px solid #fff;
    .bond-slide {
        float: left;
        margin: 0;
        height: 100%;
        width: 70vw/5;
        overflow: hidden;
        // border-left: 1px solid #fff;
        border-right: 2px solid #fff;
    }
    &_title {
        .opacity(0, 0.5s);
        .gradient-bg();
        display: none;
        position: absolute;
        padding: 0 @grid-gutter-width;
        border-right: 2px solid #fff;
        height: 100%;
        width: calc(~'100vw/7 - 30px');
        left: calc(~'-100vw/7 + 30px');
        //margin-top: -4px;
        color: @color-white;
        font-size: @font-big;
        font-weight: 300;
        letter-spacing: 2px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        //text-transform: uppercase;
        &>span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    &:first-child:hover,
    &:first-child.active {
        margin-top: 0;
        margin-bottom: calc(~'-6% + 4px');
    }
    &:last-child:hover,
    &:last-child.active {
        margin-bottom: 0;
        margin-top: calc(~'-6% + 4px');
    }
    &.active,
    &:hover {
        .transitions();
        .box-shadow(0 0 20px @color-black-disabled);
        height: 100%/6*1.5;
        margin-top: calc(~'-3% + 2px');
        margin-bottom: calc(~'-3% + 2px');
        background: #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        .bond-wrapper {
            z-index: 1;
        }
        .discription-items {
            opacity: 1;
            display: block;
            z-index: 150;
        }
        .bond-slide {
            //width: auto;
        }
        .catalog-item_title {
            display: block;
            opacity: 1;
        }
        .bond-slide_img img {
            opacity: 1;
        }
        .bond-slide_img h2 {
            bottom: 0;
        }
    }
}

.lines-5 {
    .catalog-item {
        height: 100%/5;
        .bond-slide {
            width: 70vw/4;
        }
        &:first-child:hover,
        &:first-child.active {
            margin-top: 0;
            margin-bottom: calc(~'-7% + 2px');
        }
        &:last-child:hover,
        &:last-child.active {
            margin-bottom: 0;
            margin-top: calc(~'-7% + 2px');
        }
        &.active,
        &:hover {
            height: 100%/5*1.5;
            margin-top: calc(~'-3.5% + 1px');
            margin-bottom: calc(~'-3.5% + 1px');
        }
    }
}

.lines-4 {
    .catalog-item {
        height: 100%/4;
        .bond-slide {
            width: 70vw/3;
        }
        &:first-child:hover,
        &:first-child.active {
            margin-top: 0;
            margin-bottom: calc(~'-8.6% + 2px');
        }
        &:last-child:hover,
        &:last-child.active {
            margin-bottom: 0;
            margin-top: calc(~'-8.6% + 2px');
        }
        &.active,
        &:hover {
            height: 100%/4*1.5;
            margin-top: calc(~'-4.3% + 1px');
            margin-bottom: calc(~'-4.3% + 1px');
        }
    }
}

.lines-3 {
    .catalog-item {
        height: 100%/3;
        &:first-child:hover,
        &:first-child.active {
            margin-bottom: 0;
        }
        .bond-slide {
            width: 70vw/3;
        }
        &:last-child:hover,
        &:last-child.active {
            margin-top: 0;
        }
        &.active,
        &:hover {
            height: 100%/3;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.lines-2 {
    .catalog-item {
        height: 100%/2;
        &:first-child:hover,
        &:first-child.active {
            margin-bottom: 0;
        }
        .bond-slide {
            width: 70vw/2;
        }
        &:last-child:hover,
        &:last-child.active {
            margin-top: 0;
        }
        &.active,
        &:hover {
            height: 100%/2;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}