﻿<div class="profile-content_subnav">
    <ul>
        <li class="active"><a>Редактирование данных</a></li>
    </ul>
    <div class="buttons">
        <a ng-click="$ctrl.cancel()" class="btn btn-sm btn-black rtl">Отменить</a><a ng-click="$ctrl.saveData()" class="btn  btn-sm btn-primary">Сохранить</a>
    </div>
</div>

<form class="profile-content_list profile-content_list--form" role="form" name="$ctrl.profileForm">
    <!-- фио -->
    <h2>Личные данные</h2>
    <div class="form-group">
        <label for="firstName">Фамилия</label>
        <div>
            <input class="form-control" id="firstName" placeholder="Фамилия" ng-model="$ctrl.kdModel.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName">Имя</label>
        <div>
            <input class="form-control" id="firstName" placeholder="Имя" ng-model="$ctrl.kdModel.firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName">Отчество</label>
        <div>
            <input class="form-control" id="firstName" placeholder="Отчество" ng-model="$ctrl.kdModel.middleName">
        </div>
    </div>
    <!-- email -->
    <div class="form-group">
        <label for="email">E-mail</label>
        <div>
            <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" ng-model="$ctrl.kdModel.email">
        </div>
    </div>
    <!-- телефоны -->
    <div class="form-group" ng-repeat="phone in $ctrl.kdModel.userPhones" ng-class="phone.id" ng-hide="phone.isMarkedDeleted">
        <label>Телефон</label>
        <div>
            <input class="form-control" ng-model="phone.phone" type="tel" ui-mask="+9 (999) 999-99-99">
        </div>
        <span><button class="btn btn-sm btn-black" ng-click="$ctrl.deletePhone(phone)">Удалить</button></span>
    </div>

    <p><a ng-click="$ctrl.addPhone()" class="btn btn-sm btn-primary">Добавить телефон</a></p>
    <!-- адреса -->
    <div class="profile-content_adress" ng-repeat="address in $ctrl.kdModel.userAddresses" ng-class="address.id" ng-hide="address.isMarkedDeleted">
        <h2>Адрес доставки</h2>
        <div class="form-group order-info">
            <kd-kladr model="address"></kd-kladr>
        </div>
        <p class="form-control" ng-bind="address.address"></p>
        <p><button class="btn btn-black btn-sm" ng-click="$ctrl.deleteAddress(address)">Удалить адрес</button></p>
    </div>
    <p><a ng-click="$ctrl.addAddress()" class="btn btn-sm btn-primary">Добавить адрес</a></p>
</form>

<kd-change-email email="$ctrl.kdModel.email" ng-show="$ctrl.isShowModalChangeEmail" is-shown="$ctrl.isShowModalChangeEmail" on-accept="$ctrl.updateProfile()" on-reject="$ctrl.notSaveEmail()"></kd-change-email>