.order {
    .row(0);
    /*flex-wrap: nowrap;*/

    .tabs nav {
        text-align: left;

        sup{
            vertical-align: super;
            font-size: smaller;
        }
        .tab-current{
            /*sup {
               visibility:hidden;
            }*/
        }
    }

    .cart-empty{
        display: flex;
        height: 100%;
        align-content: center;
        align-items: center;

        h2{
            width: 100%;
            color: @color-primary;
            text-align: center;
            font-weight: 400;
            padding: 100px 0 150px;
            position: relative;

            &:before{
                content: '\e935';
                font-family: 'icomoon';
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                color: @color-primary;
                font-size: 60px;
            }
            &:after{
                content: '0';
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                color: @color-primary;
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    &-info {
        //min-width: 300px !important;
        h2 {
            font-size: @font-big;
            line-height: @font-big;
            margin: @grid-gutter-width/2 0;
        }

        .row {
                margin-left: 0 !important;
                margin-right: 0 !important;
                flex-wrap: nowrap;

            .col-md-4 {
                display: inline-block;
                float: none;
                padding-left: 0 !important;
                padding-right: 15px;
                min-width: 80px;
                max-width: 80px;
                line-height: 37px;
            }

            .col-md-8 {
                display: inline-block;
                float: none;
                width: 100%;
                padding: 0 !important;
                padding-right: 15px;

                input {
                    .transitions();
                    color: @color-primary;
                    border: none;
                    padding: 10px 0;
                    border-radius: 0;
                    width: 100%;
                    background: transparent;
                    font-weight: 400;
                    font-size: @font-normal;
                    -webkit-appearance: none;           
                    border-bottom: 1px solid @color-black-divider;

                    &:focus {
                        outline:none;
                        border-bottom: 1px solid @color-primary;
                    }
                }
            }
        }

        .cs-select {
            border: 1px solid @color-black-divider;
            margin-bottom: @grid-gutter-width/3;
        }

        .user_info,
        .delivery,
        .payment {
            display: block;
            background: rgba(0, 0, 0, 0.05);
            padding: @grid-gutter-width/2 @grid-gutter-width @grid-gutter-width;
            margin-bottom: @grid-gutter-width/2;

            p {
                color: @color-black-disabled;
                font-size: @font-small;

                a {
                    color: @color-primary;
                }
            }
        }
        .payment{
            .selector-label{
                display: none;
            }
        }
    }

    &-cart {

        .cart-list {
            //max-width: 1100px;
            & > .row {

                & > .product-carts-header {
                    color: @color-black-disabled;
                    line-height: @font-big;
                    font-weight: 500;
                    font-size: @font-normal;
                    text-align: left;
                    padding: @grid-gutter-width/6 @grid-gutter-width/2;
                }

                .cart-thumb {
                        width: 50px;
                        max-width: 50px;
                        padding: 0 !important;

                        img{
                            max-width: 100%;
                        }
                }


                & > tfoot th {
                    color: @color-black-secondary;
                    font-weight: 400;
                    font-size: @font-big;
                    padding: 0;
                    padding-left: 0;

                    .btn-defer {
                        display: inline-block;
                    }
                }

                & > tbody tr {
                    //border-bottom: 1px solid @color-black-divider;
                    &:hover {
                        background: rgba(0, 0, 0, 0.05);

                        .btn {
                            opacity: 1;
                        }
                    }

                    .btn {
                        .opacity(0, 0.5s);
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

                & > tbody td {
                    padding: @grid-gutter-width/3 @grid-gutter-width/2;
                    font-size: @font-normal;
                    vertical-align: middle;
                    //border-left: 1px solid @color-black-divider;
                    &:first-child {
                        //padding: @grid-gutter-width/6 0;
                    }

                    &:nth-child(3) {
                    }

                    &:nth-child(4) {
                        text-align: center;
                    }

                    &:nth-child(5) {
                        //text-align: center;
                    }

                    &:nth-child(6) {
                    }

                    &:last-child {
                        //padding: @grid-gutter-width @grid-gutter-width/2 0 @grid-gutter-width/2;
                        .btn-defer {
                            //margin-bottom: @grid-gutter-width/2;
                        }
                    }

                    h2 {
                        font-weight: 400;
                        font-size: @font-normal;
                        line-height: @font-normal;
                        color: @color-black-primary;

                        a {
                            color: @color-primary;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    span {
                        font-size: @font-normal;
                        line-height: @font-big;
                        color: @color-black-disabled;
                        font-weight: 300;
                    }

                    .cart-list_thumb {
                        position: relative;
                        width: 100px;
                        height: 120px;
                        overflow: hidden;

                        & > img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                        }
                    }
                }

                & > tr:last-child {
                    td {
                        //border-bottom: 1px solid @color-primary;
                    }

                    td:first-child {
                        border-bottom: none;
                    }
                }
            }

            & > table thead th:first-child {
                text-align: left;
                padding: 0;
            }

            h3 {
                display: inline-block;
                font-size: @font-medium;
                padding: 5px;
                color: @color-primary;
                font-weight: 400;
                border-bottom: 1px solid @color-primary;
                margin-right: 10px;
            }

            h4 {
                display: inline-block;

                a {
                    .transitions();
                    font-size: @font-medium;
                    font-weight: 400;
                    padding: 5px;
                    color: @color-black-disabled;
                    border-bottom: 1px solid @color-black-disabled;

                    &:hover {
                        color: @color-black-primary;
                        border-bottom: 1px solid @color-black-primary;
                    }
                }
            }

            margin-bottom: @grid-gutter-width;
        }

        .total {
            position: relative;
            padding: 0 @grid-gutter-width/2;

            .btn-primary {
                width: 100%;
                margin: 30px auto;

                &:hover {
                    background: transparent;
                }
            }

            table {
                border-top: 1px solid @color-black-divider;
                padding: @grid-gutter-width 0;
                width: 100%;
                max-width: 380px;

                thead {
                    th {
                        color: @color-black-primary;
                        font-size: @font-big;
                        font-weight: 500;
                        text-align: left;
                        padding: @grid-gutter-width/3 !important;
                    }
                }

                tfoot {
                    //border-top: 1px solid @color-black-divider;
                    tr:first-child th {
                        padding-top: @grid-gutter-width/2;
                    }

                    tr:nth-child(2) th {
                        padding-bottom: @grid-gutter-width !important;
                    }

                    th {
                        padding: 0 @grid-gutter-width/2 @grid-gutter-width/3;
                        text-align: left;
                        font-size: @font-big;
                        font-weight: 500;
                    }
                }

                tr {
                    border: none !important;
                }

                tr:last-child td {
                    padding-bottom: 15px;
                    border-bottom: 1px solid @color-black-divider;
                }

                td {
                    text-align: left;
                    //padding: @grid-gutter-width/5 @grid-gutter-width/2;
                    color: @color-black-secondary;
                    font-size: @font-medium;
                    padding: 3px 15px;
                    font-weight: 400;

                    &:last-child {
                        font-weight: 500;
                        color: @color-black-primary;
                    }
                }
            }
        }
    }
}


  @media (min-width: @screen-sm) {
      .order{
         .tabs nav a span {
		    display: inline;
	    }
      }


  }

  @media (min-width: @screen-md) {
     .order-info_user{          
        .col(xs, 6);
        order:2;
      }
      .order-cart{
        .col(xs, 12);
          order: 1;
      }
      .order-info_delivery{          
        .col(xs, 6);
        order:3;
      }
  }
  
  @media (min-width: @screen-lg) {
      .order {
          display: block;

            .order-info .delivery, 
            .order-info .payment, 
            .order-info .user_info {
                padding: @grid-gutter-width/3 @grid-gutter-width/2;
            }
      }
      .order-info_user{          
            .col(xs, 3);
            float: right;
            padding-right:0;
        }
      .order-cart{
        .col(xs, 9);
        float: left;
        padding-right:0;
        min-height: 550px;
      }
      .order-info_delivery{          
        .col(xs, 3);
        float: right;
        padding-right:0;
      }
  }
  
  @media (min-width: @screen-xl) {
          .order {
                .order-info .delivery, 
                .order-info .payment, 
                .order-info .user_info {
                    padding: @grid-gutter-width/2 @grid-gutter-width;
                }
          }
      .order-info_user{
        .col(xs, 3);
        padding-right:@grid-gutter-width/2;
      }
      .order-cart{
        .col(xs, 9);
        padding-right:@grid-gutter-width/2;
      }
      .order-info_delivery{
        .col(xs, 3);
        padding-right:@grid-gutter-width/2;
      }
  }
  
  @media (min-width: @screen-xxl) {
      .order {
          display: flex;
      }
      .order-info_user{          
        .col(xs, 2);
        order: 1;
      }
      .order-cart{
        .col(xs, 8);
        order: 2;        
        min-height: 0px;
      }      
      .order-info_delivery{          
        .col(xs, 2);
        order: 3;
      }
  }
