﻿<h1 class="page-header">Коллекции<a href="/import/filters" class="btn btn-default pull-right">Изображения для фильтров</a></h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Коллекции и комплекты</th>
                        <th>Валидация</th>
                        <th>Черновики</th>
                        <th>Опубликовано</th>
                        <th><!-- Кнопка к черновикам --></th>
                        <th><!-- Кнопка к коллекции --></th>
                        <th><!-- Кнопка к валидации --></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="collection in $ctrl.collections">
                        <td>
                            <a ng-href="/import/collection?collectionId={{collection.id}}"><span ng-bind="collection.room"></span>&nbsp<span ng-bind="collection.series"></span></a>
                        </td>
                        <td><span ng-bind="collection.validationProducts"></span></td>
                        <td><span ng-bind="collection.templateProducts"></span></td>
                        <td><span ng-bind="collection.publishedProducts"></span></td>
                        <!--<td><a ng-href="/import/productspublished" class="btn btn-default">К товарам</a></td>-->
                        <td><a ng-href="/import/collection?collectionId={{collection.id}}" class="btn btn-default">К вариантам</a></td>
                        <td><a ng-href="/import/ProductValidation?collectionId={{collection.id}}" class="btn btn-default">К валидации</a></td>
                        <td><a ng-href="/import/productstemplates?collectionId={{collection.id}}" class="btn btn-default">К черновикам</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--footer-->
    <div class="panel-footer text-center">
        <!-- пагинация -->
        <button ng-disabled="$ctrl.paging.page<=1" type="button" class="btn btn-default" ng-click="$ctrl.prev()" ng-disabled="$ctrl.paging.page <= 1"><i class="fa fa-arrow-left"></i></button>
        <span>Страница {{$ctrl.paging.page}} из {{$ctrl.paging.pageCount}}</span>
        <button ng-disabled="$ctrl.paging.page>=$ctrl.paging.pageCount" type="button" class="btn btn-default" ng-click="$ctrl.next()" ng-disabled="$ctrl.paging.page >= $ctrl.paging.pageCount"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>

