﻿@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic');

html,body { 
    height: 100%;
}
body.ng-scope {
  flex-direction: column;
  display: flex;
  font: 13px/14px 'Roboto';
}
input, textarea, button, .btn {
    outline: none !important;
}
.radio label, .checkbox label {
    line-height: 20px;
}
header.navbar {
    box-shadow: 0 0 15px rgba(0,0,0,0.12);
    background: #fff;
}

header .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px 5px 120px;
    padding-left: 120px !important;
}

header .navbar-brand img{
    height: 40px;
}

header .container-fluid {
margin-top: 0;
padding-top: 0;
}

header .container-fluid .btn  {
    margin-top: 7px;
}
.container-fluid {
    width: 100%;
}

.main .page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 28px;
}

.container-fluid > .row {
    display: flex;
    min-height: 100%;
    flex-grow: 1;
    
    }
.container-fluid > .row > .sidebar {
    display: flex;
    align-self: center;
    position: fixed;
    background: #1b325f;
    top: -5%;
    left: 0;
    width: 100px !important;
    height: 110%;
    padding-left: 0;
    padding-right: 0;
    z-index: 100;
    box-shadow: inset -5px 0 10px rgba(0,0,0,0.25);
}

.container-fluid > .row > .sidebar .nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    .container-fluid > .row > .sidebar .nav > li > a {
        padding: 40px 10px 10px;
        text-align: center;
        line-height: 14px;
        color: #9cc4e4;
        transition: all 0.2s ease-in-out;
    }    
    .container-fluid > .row > .sidebar .nav > li > a:focus {
        outline:none;
        background: transparent;
    }    
    .container-fluid > .row > .sidebar .nav > li > a:hover {
        color: #2196F3;
        background: rgba(0,0,0,0.38);
    }
    
.container-fluid > .row > .sidebar .nav > li > a:before {
        font: normal normal normal 22px/1 FontAwesome;
        color: #2196F3;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
.container-fluid > .row > .sidebar .nav > li:first-child > a:before {
       content: "\f0c0";
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(2) > a:before {
       content: "\f218";
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(3) > a:before {
        content: "\f290";
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(4) > a:before {
        content: "\f295";
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(5) > a:before {
        content: "\f022";
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(6) > a:before {
        content: "\f2a0"; 
    }
.container-fluid > .row > .sidebar .nav > li:nth-child(7) > a:before {
        content: "\f02c";
    }

.container-fluid > .row > .main {
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px 50px 115px;
}

/* Контент */

.form-date {
    min-width: 100px !important; /*фикс ширины для дейтпикера*/
}

input[type="number"] {
    min-width: 60px; 
}

 .main .nav-tabs {
    border: none !important;
}
 
.main .panel-body {
    width: 100%;
}
.panel-primary .nav-tabs>li>a {
    margin-right: 0px;
    color: #fff;
}
.panel-primary .nav-tabs>li>a:hover {
    color: #2a6496;
}

.panel.panel-products>.panel-body {
    overflow: visible !important;
}
.panel .panel-scroll{
    overflow: auto !important;
}

th .single-chosen-search {
    font-weight: normal;
}
 
/*Маркетинговые акции*/
.panel-actions .table>tbody>tr>td {
    vertical-align: middle;
    height: 70px;
    max-width: 400px;
}
.panel-actions tr>td img{
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.35s ease-in-out;
    z-index: 10;
}
.panel-actions tr>td img:hover{
    max-width: 350px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
    z-index: 100;
}

/*фикс для инпута загрузки картинок*/

kd-file-select-bootstrap span.btn {
    font-family: "FontAwesome";
    width: 50px;
    text-indent: -999px;
    overflow:hidden;
}
kd-file-select-bootstrap span.btn:before {
    content: "\f030";
    font-size: 18px; 
    display: block;
    line-height: 34px;
    position: absolute;
    text-indent: 0px;
    top: 0;
    right: 15px;
}

/* фикс для отсутствующих картинок */
tr>td img {
    min-height: 50px;
    min-width: 50px;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    max-width: 90px;
}

tr>td img:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
}

tr>td img:after {
  content: "\f03e";
  display: block;
  font-size: 14px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
}

/*Чузен*/
.table.table-striped>tbody>tr>td {
    border: none !important;
}
th, td {
    position: relative;
    vertical-align: top
}

.chosen-container {
    width: 100% !important;
}
th .chosen-container-active .chosen-drop,
td .chosen-container-active .chosen-drop {
    /*position: absolute !important;
    bottom: 8px;
    left: 0;*/
    z-index: 100;
    min-width: 250px;
    margin-right: -200px;
}

.panel-body {
    overflow-x: auto;
    overflow-y: visible;
    min-height:500px;
}

.panel-body .panel-body{
    min-height: 0; 
    overflow-x: visible;
    overflow-y: visible;
}
.panel-body .table-responsive {
    overflow: visible;
    width: 100%;
}
.panel-body td>input {
    max-width: 80px;
}
table .row {
    margin-left:0;
    margin-right:0;
    display: table-row;
}

/* Модальные окна*/

.modal-dialog {
    height: 100%;
}
.modal.ng-hide {
    display: none !important;
}
.modal {
    display: block !important;
}

/*Выбор области*/
.modal-buttons {
    display: block;
    width: 100%;
    position: absolute;
    left: 0; bottom: 0;
    z-index: 100;
    padding: 13px 0;
    text-align: center;
    background: #fff;
}
.modal.collection-selector,
.modal-alexasha.collection-selector {

}
.collection-selector .modal-content,
.collection-selector .modal-content-alexasha {
    width: 90%;
    height: 90%;
    max-width: 90% !important;
    max-height: 90% !important;
}

.modal.collection-selector .collection-selector_inner,
.modal-alexasha.collection-selector .collection-selector_inner {
    position: absolute;
    top: 0; left: 0;
    overflow: auto;
    width: 100%;
    height: calc(100% - 60px);
}

.modal.collection-selector .modal-content .close, 
.modal-alexasha.collection-selector .modal-content-alexasha .close{
    position: absolute;
    top: 0; right: 20px;
    z-index: 1000;
    opacity: 0.5;
}

.modal .mr-image .mr-image,
.modal-alexasha .mr-image {

}
.modal [mr-model="drawer"],
.modal-alexasha [mr-model="drawer"] {
    display: none;
}
.modal .mr-image > img,
.modal-alexasha .mr-image > img {
    position: relative;
}

.modal,
.modal-alexasha{
    display: block;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content, 
.modal-content-alexasha {
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%;
    max-width: 960px;
    min-width: 500px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.modal-content .table>tbody>tr>td,
.modal-content-alexasha .table>tbody>tr>td {
    vertical-align: middle;
}
.modal-content .table>tbody>tr>td .btn,
.modal-content-alexasha .table>tbody>tr>td .btn{
    margin-top: 10px;
}

.modal-content .close, 
.modal-content-alexasha .close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.5;
}

.modal-content .close:hover, 
.modal-content-alexasha .close:hover{
    opacity: 1;
}
/* The Close Button */
.close {
    color: #0e0e0e;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin:10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-slider,
.modal-slider-alexasha {
    display: block;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-slider,
.modal-content-slider-alexasha {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 93%;
    margin: 3%;
    height: 93%;
}

.img-slider, 
.img-slider-alexasha {
    width: 90%;
    height: 90%;
}

.active-slider,
.active-slider-alexasha{
    display: block!important;
}

.modal .panel-body {
    max-height: 250px;
}
.modal .panel {
    margin-bottom: 0;
}

.colection-variant-div {
    height: 55px;    
    display: flex;
    align-items: center;
}
.choose-photo {
    margin-top: 5px;
}



/*Варианты коллекции*/

.table>tbody>tr.colection-variant>td{
    vertical-align: middle;
}
.colection-variants {
    border-left: 4px solid #ddd;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background: #efefef;
}

    .colection-variants .table tr th {
        border: none !important;
    }
    .colection-variants .table tr td {
        border: none !important;
        padding: 10px 30px;
    }
    
    .colection-variants td table{
        margin: 5px auto;
        max-width: 1170px;
    }
    .colection-variants td table th{
        display: none;
    }
    
    .colection-variants td table:first-child th{
        display: table-cell;
        background: #efefef;
    }
.colection-variant-title {
    font-weight: 500;
    font-size: 15px;
}

/*Фиксированные шапки таблиц*/

.fixed-header  thead{
    background: rgba(255,255,255,0.95);
}

.input-width {
    min-width: 90px;
}

