.filter.fixto-fixed {
	z-index: 100;
	top: 49px !important;

	.chosen-container-multi .chosen-choices {

	    &:after {
	    	bottom: -1px;
	    }
	}

	.filter_title {
		font-size: @font-small;
        width: 100px;
	}

	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		font-size: @font-small;
	}

	.search-choice {
		margin-right: 2px!important;
	}

	.search-choice > span {
	    margin-top: 4px;
	    width: 15px;
	    height: 15px;
	}
}

.filter {
	display: block;
	height: 50px;
	width: 100%;    

	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		.transitions();
	}


	&_title {
		.transitions();
		position: relative;
		z-index: 20;
		display: inline-block;
		font-size: @font-normal;
		padding-right: 10px;
		color: @color-black-primary;
		line-height: 30px;
	}

	.chosen-container-active .chosen-drop {
			border:	1px solid @color-black-divider;
			border-top: none;
			z-index: 100;
		}
		.chosen-container-active .chosen-choices {			
		    &:before {
		    transform: rotate(0deg) !important;
            color: @color-black-secondary;
		    }
		}

		.chosen-container-multi .chosen-choices {
		    position: relative;
		    overflow: hidden;
		    height: 27px;
		    background-color: #fff;
		    z-index: 10;

		    &:before {
		    	.transitions();
                font-family: icomoon!important;
                text-align: center;
		    	content: "\ea50";
                color: @color-black-disabled;
		    	display: block;
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	width: 30px;
		    	height: 30px;
                line-height: 35px;
                font-size: 30px;
                transform: rotate(-180deg);
		    }


		   /* &:after {
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	bottom: 1px;
		    	left: @grid-gutter-width/2;
		    	width: calc(~'100% - 30px');
		    	height: 2px;
		    	background: #e0e0e0;
		    }*/
		}
		.chosen-container-multi .chosen-choices li.search-choice {
		    position: relative;
		    display: inline-block;
		    margin: 3px 5px 3px 0;
		    padding: 0;
		    width: 20px; height: 20px;
		    cursor: default;

            img{
                cursor: pointer;
                width: 20px; 
                height: 20px;
            }

		    &:hover span{
		    	opacity: 0.5;
		    }

		    .search-choice-close {
			    position: absolute;
			    top: 0px;
			    right: -1px;
			    display: block;
			    width: 20px;
			    height: 20px;
			    font-size: 1px;
			    background: transparent;

			    &:hover {
			       background: @color-white-divider;
	   			   text-align:center;
                      &:before{
                          font-family: 'icomoon';
                          content: '\e908';
                          color: @color-red;
                          font-size: @font-smallest;
                          line-height: 20px;
                      }
			    }
			}
		}
		.chosen-container.chosen-with-drop .chosen-drop {
			left: 0;
			padding: 5px;
		}

	.chosen-results {        
		li {
			.transitions();
			display: block;
			position: relative;
			height: 50px;
			line-height: 48px;
			padding: 0 50px;
			color: @color-black-primary;

            img{
                width: 36px;
                height: 36px;
            }

			&>img {
				position: absolute;
				left: 5px;
				top:5px;                
			}
		}

        li:hover{
            color: #ffffff;
            background: @color-primary;
        }

		li.result-selected {
            color: @color-black-disabled;
            background: #ffffff;

			&:before {
                font-family: 'icomoon' !important;
                content: "\e90b";
                color: @color-primary;
                font-size: @font-medium;
                position: absolute;
                display: block;
                left: 15px;
                top: 15px;
                line-height: 20px;
			}
			&>img {
				right:5px;
				left: auto;
				top:5px;                
			}
		}

	}

	.search-choice>span {
		.opacity(1, 1s);
		display: inline-block;
		width: 20px;
		height: 20px;
		overflow: hidden;
	}
	.search-choice>span>img {        
		display: block;		
	}

	.chose-image {
		width:30px;
		height:30px;
		vertical-align:middle;
	}

	.chosen-drop {
        width: 100%;
        margin: 0;
        padding-top: 10px;
		.chose-image-list {
			width:40px;
			max-height:40px;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}

	}

	/* Grey-out image for Multi mode */
	.chosen-container-multi .result-selected{
		
	}
}

