.form {

  &--line {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    @media (min-width: @screen-sm) {

      .field-text,
      .field-checkbox,
      .field-radio,
      .field-select,
      .field-file,
      .field-range,
      .field-toggler,
      .field-actions {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 0.3em;
      }

      .field-text_input-wrap,
      .field-checkbox_input-wrap,
      .field-radio_input-wrap,
      .field-select_select-wrap,
      .field-toggler_input-wrap,
      .field-file_input-wrap {
        display: inline-block;
        vertical-align: top;
      }

      .field-file_input-wrap {
        max-width: 35rem;
      }

      .field-text_name,
      .field-checkbox_title,
      .field-radio_title,
      .field-select_name,
      .field-file_name,
      .field-range_name,
      .field-toggler_title {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        max-width: 20rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: e("calc(@{field-padding-top} + @{border-width})"); 
      }

      .field-checkbox_title,
      .field-radio_title,
      .field-toggler_title {
        margin-right: 0.3em;
      }

      .field-checkbox_name,
      .field-radio_name,
      .field-toggler_name {
        margin-right: 0.6em;
        margin-top: e("calc(@{field-padding-top} + @{border-width})");
        margin-bottom: e("calc(@{field-padding-top} + @{border-width})");
      }

    }

  }
}

