<form action="" class="form  form--horizontal">
    <fieldset>
        <legend>Название формы</legend>
        <label class="field-text">...</label>
        <div class="field-actions">...</div>
    </fieldset>
</form>