.form {

  &:not(:last-child) {
    margin-bottom: @line-height;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: @line-height;
    }
  }

  legend {
    display: block;
    width: 100%;
    font-size: @h3;
    font-family:@font-primary;
    line-height: 1.4;
    font-weight: @font-regular;
    color: @color-black-secondary;
    margin-top: @line-height;
    margin-bottom: (@line-height / 2);
  }

}
