.form {

  &-horizontal {

    @media (min-width: @screen-sm) {

      .field-text,
      .field-checkbox,
      .field-radio,
      .field-select,
      .field-file,
      .field-range,
      .field-toggler {
        display: flex;
      }

      .field-text_name,
      .field-select_name,
      .field-file_name,
      .field-range_name {
        width: 9.375em;
        min-width: 9.375em;
        padding-top: 0.4em;
        padding-right: 0.6em;
        margin-bottom: 0;
      }

      .field-checkbox_title,
      .field-toggler_title,
      .field-radio_title {
        width: 9.375em;
        min-width: 9.375em;
        padding-right: 0.6em;
        margin-bottom: 0;
      }

      .field-text_input-wrap,
      .field-select_select-wrap,
      .field-range_input-wrap,
      .field-file_input-wrap,
      .field-toggler_input-wrap {
        flex-grow: 1;
      }

      .field-actions {
        padding-left: 9.375em;
      }

      .field-select_select[multiple] {
        padding-top: 0.45em;
        padding-bottom: 0.45em;
        min-height: 7.1em;
      }

    }

    .field-checkbox_title,
    .field-radio_title {
      &:empty {
        margin-bottom: 0;
      }
    }
  }
}

