.field-radio {
  display: block;
  margin-bottom: (@line-height / 2);

  &_title {
    font-weight: 700;
    line-height: @line-height;
    display: block;
    margin-bottom: round(@line-height / 4, 2);
    min-height: 1px;
  }

  &_input-wrap {}

  &_name {
    position: relative;
    padding-left: 2rem;
    font-weight: 400;
    display: inline-block;
    margin-right: 0.6em;
    line-height: @line-height;
  }

  &_input {
    position: absolute;
    top: 0.8em;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    left: 0;
  }

  &_help-text {
    .help-text();
    padding-left: 2rem;
  }
}

/*Кастомные радио*/


.field-radio {

  &-custom {

    .field-radio_name {
      padding-left: 1.7em;
    }

    .field-radio_help-text {
      padding-left: round(1.7em * (100 / @font-small), 2);
    }

    .field-radio_input {
      position: absolute;
      opacity: 0;

      & + .field-radio_name-text:before {
        font-family: 'icomoon' !important;
        content: '';
        display: block;
        text-align: center;
        color: #fff;
        border: @border-width solid @color-black-disabled;
        border-radius: 50%;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4em;
        font-size: 12px;
        position: absolute;
        top: 0.1em;
        left: 0;
      }

      &:checked + .field-radio_name-text:before {
        content: '\e90b' !important;
        background: @color-primary;
        border-color:  @color-primary;
      }

      &:focus + .field-radio_name-text:before {
        .focus();
      }
    }
  }
}
