﻿<h1 class="page-header">Заявки пользователей</h1>
<div class="container-fluid table-div">
    <div class="row table-header">
        <div class="col-xs-2">ФИО</div>
        <div class="col-xs-2">Дата создания</div>
        <div class="col-xs-2">Email</div>
        <div class="col-xs-1">Телефон</div>
        <div class="col-xs-2">Тип</div>
        <div class="col-xs-2">Статус</div>
    </div>
    <kd-customer-request-list-item ng-repeat="request in vm.customerRequests"
                                   class="row table-row"
                                   request="request"
                                   statuses="vm.requestStatuses"
                                   on-updated="vm.onUpdateBind"
                                   on-removed="vm.onRemoveBind">
    </kd-customer-request-list-item>
    <div ng-show="vm.isLoading"
         class="text-center no-content">
        Loading...
    </div>
    <div ng-show="!vm.isLoading && vm.customerRequests.length === 0"
         class="well text-center no-content">
        Заявок нет
    </div>
</div>

<style>
    .table-div .table-header {
        font-size: 110%;
        font-weight: 600;
        padding: 10px 0;
        border-bottom: 2px #ddd solid;
    }

    .table-div .table-row {
        display: block;
        padding: 15px 0;
        border-bottom: 1px #ddd solid;
    }
    .table-div .table-row:last-child {
        border-bottom: none;
    }
    .table-div .table-row:nth-child(2n) {
        background-color: #f9f9f9;
    }
    .table-div .table-row:hover {
        background-color: #f5f5f5;
    }

    .table-div .table-row > div {
        vertical-align: middle;
        display: inline-block;
        float: none;
    }

    .table-div .no-content {
        margin-top: 10px;
    }
</style>
