.ideas {
    display: table;
    padding: 0 35px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: @color-black-divider;
    &>div {
        text-align: left;
        height: 120px;
        padding: 20px;
        display: table-cell;
        vertical-align: middle;

        &:last-child{
            text-align: right;
        }
    }
    h2 {
        display: inline-block;
        color: @color-black-secondary;
        font-weight: 300;
        text-align: left;
        font-size: 60px;
        white-space: nowrap;
    }
    p {
        color: @color-black-secondary;
        float: left;
        display: inline-block;
        font-size: @font-medium;
        line-height: @font-big;
    }
    .btn {
        white-space: nowrap;
        &:hover {
        }
    }
}

@media (min-width: @screen-xs) {

  }

  @media (min-width: @screen-sm) {
         .ideas>div {
    width: 100%;
    float: left;
}
  }

  @media (min-width: @screen-md) {

  }

  @media (min-width: @screen-lg) {
      .ideas>div {
width: auto;
    float: none;
        text-align: left;
}
  }
  
  @media (min-width: @screen-xl) {

  }
  
  @media (min-width: @screen-xxl) {

  }

