    /*Инпуты*/
    .input {
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .input__field {
        position: relative;
        display: block;
        float: right;
        border: none;
        border-radius: 0;
        background: #fff;
        font-weight: 400;
        font-size: @font-normal;
        -webkit-appearance: none;
        /* for box shadows to show on iOS */
    }
    .input__field:focus {
        outline: none;
    }
    .input__label {
        display: inline-block;
        float: right;
        padding: 0 @grid-gutter-width/2;
        color: @color-black-secondary;
        font-size: @font-normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .input__label-content {
        position: relative;
        display: block;
        padding: @grid-gutter-width/3 0;
        width: 100%;
    }
    /* Nariko */
    .input--nariko {
        overflow: hidden;
        padding-top: @grid-gutter-width;
    }
    .input__field--nariko {
        width: 100%;
        background: transparent;
        opacity: 0;
        padding: @grid-gutter-width/5;
        z-index: 100;
        color: @color-primary;
    }
    .input__label--nariko {
        width: 100%;
        bottom: 0;
        position: absolute;
        pointer-events: none;
        text-align: left;
        color: @color-black-secondary;
        padding: 0 @grid-gutter-width/5;
    }
    .input__label--nariko::before {
        content: '';
        position: absolute;
        width: 100%;
        height: @grid-gutter-width;
        top: 100%;
        left: 0;
        background: #fff;
        border-top: 1px solid @color-black-divider;
        -webkit-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0);
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .input__label-content--nariko {
        padding: @grid-gutter-width/5 0;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transition: -webkit-transform 0.4s, color 0.4s;
        transition: transform 0.4s, color 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .input__field--nariko:focus,
    .input--filled .input__field--nariko {
        cursor: text;
        opacity: 1;
        -webkit-transition: opacity 0s 0.4s;
        transition: opacity 0s 0.4s;
    }
    .input__field--nariko:focus+.input__label--nariko::before,
    .input--filled .input__label--nariko::before {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transform: translate3d(0, -@grid-gutter-width, 0);
        transform: translate3d(0, -@grid-gutter-width, 0);
    }
    .input__field--nariko:focus+.input__label--nariko .input__label-content--nariko,
    .input--filled .input__label-content--nariko {
        color: @color-black-primary;
        //font-size: @font-small;
        -webkit-transform: translate3d(0, -@grid-gutter-width, 0) scale3d(0.81, 0.81, 1);
        transform: translate3d(0, -@grid-gutter-width, 0) scale3d(0.81, 0.81, 1);
    }