﻿<form id="{{model.id}}" class="form-address" ng-controller="KladrController as ctrl">

    <kd-select-single list-items="ctrl.deliveryList" settings="{placeholder: 'Выберите способ доставки'}"
                      kd-change="ctrl.selectDelivery" kd-model="ctrl.selectedDelivery"></kd-select-single>


    <div class="row">
        <div class="col-md-4">
            <span>Город</span>
        </div>
        <div class="col-md-8">
            <input name="city" class="form-control" ng-model="model.city">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Улица</span>
        </div>
        <div class="col-md-8">
            <input name="street" class="form-control" ng-model="model.street">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Корпус</span>
        </div>
        <div class="col-md-8">
            <input name="block" class="form-control" ng-model="model.block">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Строение</span>
        </div>
        <div class="col-md-8">
            <input name="building" class="form-control" ng-model="model.building">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Дом</span>
        </div>
        <div class="col-md-8">
            <input name="house" class="form-control" ng-model="model.house">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Подъезд</span>
        </div>
        <div class="col-md-8">
            <input name="entranceHall" class="form-control" ng-model="model.entranceHall">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Этаж</span>
        </div>
        <div class="col-md-8">
            <input name="floor" class="form-control" ng-model="model.floor">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Квартира</span>
        </div>
        <div class="col-md-8">
            <input name="apartment" class="form-control" ng-model="model.apartment">
        </div>
    </div>
</form>