﻿<div class="col-xs-2" ng-bind="vm.request.customerFullName"></div>
<div class="col-xs-2">
    <span ng-bind="vm.request.creationTime | date: 'dd.MM.yy'"></span>
    <span ng-bind="vm.request.creationTime | date: 'HH:mm:ss'"
          style="padding-left: 5px;">
    </span>
</div>
<div class="col-xs-2" ng-bind="vm.request.email"></div>
<div class="col-xs-1" ng-bind="vm.request.phone"></div>
<div class="col-xs-2" ng-bind="vm.request.type"></div>
<div class="col-xs-2">
    <select class="form-control"
            ng-disabled="vm.isBusy"
            ng-model="vm.request.statusTechName"
            ng-options="status.techName as status.name for status in vm.statuses"
            ng-change="vm.update(vm.request.statusTechName)">
        </option>
    </select>
</div>
<div class="col-xs-1">
    <button type="button"
            class="btn"
            ng-disabled="vm.isBusy"
            ng-click="vm.remove()">
        ✕
    </button>
</div>
