.header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    padding: 0 @grid-gutter-width*2;
    width: 100%;
    box-shadow: 0 2px 10px @color-black-divider;
    background: @color-white;
    z-index: 1000;
    .nav-trigger {
        display: none !important;
    }
    &-top {
        .row(0);
        margin-left: -@grid-gutter-width*2 !important;
        margin-right: -@grid-gutter-width*2 !important;
        height: @grid-gutter-width;
        background: #fafafa;
        line-height: @grid-gutter-width;
        color: @color-black-secondary;
        //border-bottom: 1px solid @color-black-divider;
        &_left-side {
            .col(xs, 6);
            padding-left: @grid-gutter-width*2 !important;
            h2 {
                font-size: @font-normal;
                font-weight: 400;
            }
        }
        &_right-side {
            .col(xs, 6);
            padding-right: @grid-gutter-width*2 !important;
            text-align: right;
            h3 {
                font-size: @font-normal;
                font-weight: 500;
                display: inline-block;
                margin-right: @grid-gutter-width/2
            }
            .btn {
                .opacity(0.38, 0.1s);
                padding: 0 10px;
                margin: 5px 0;
                line-height: 19px;
                float: right;
                letter-spacing: 1px;
                font-size: @font-small;
                &:hover {
                    opacity: 0.54;
                    &:after {
                        width: calc(100%);
                        height: calc(100%);
                    }
                }
                &:active {
                    opacity: 0.86;
                }
            }
        }
    }
    &-inner {
        .row(0);
        height: 50px;
    }
    &-logo {
        .col(xs, 3);
        text-align: left;
        position: relative;
        &>a>img {
            height: @header-height - 10px;
            margin-top: 5px;
        }
    }
    &-navigation {
        .col(xs, 6);
        position: relative;
    }
    &-tools {
        .col(xs, 3);
        position: relative;
        right: 0;
        min-width: 120px;
        text-align: right;
        white-space: nowrap;

        &>kd-header-tools{
            float: right;
        }

        &>div {
            position: relative;
            margin: 0 -2px;
        }
        &--location,
        &--search,
        &--cart,
        &--user {
            .transitions();
            background: #fff;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            cursor: pointer;
            position: relative;
            text-align: center;
            .bage {
                .transitions(all 0.2s ease-in-out);
                .border-radius(10px);
                display: inline-block;
                min-width: 18px;
                height: 18px;
                padding: 2px;
                line-height:  @font-small;
                font-size: @font-small;
                text-align: center;
                font-weight: 500;
                background: #fff;
                position: absolute;
                top: 15px;
                right: 5px;
                border: 1px solid @color-primary;
                color: @color-primary;
                &:empty {
                    top: -20px !important;
                }
            }
            &:hover {
                background: #f7f7f7;
                &>a {
                    color: @color-black-primary;
                }
                .bage {
                    background: @color-primary;
                    top: 12px;
                    color: #fff;
                }
            }
            a {
                color: @color-black-secondary;
            }
        }
        &--user{
            &:hover>ul {
                transform: translateX(0);
                position: relative;
                top: 50px;
                opacity: 1;
                visibility: visible;
                
            }
            &>div>ul {
                /*.transitions();
                opacity: 0;
                position: absolute;
                z-index: -1000;
                display: block;
                transform: translateX(20%);
                top: 30px;
                left: 0;
                visibility: hidden;*/
                width: 200px;
                background: #f3f3f3;
                box-shadow: 0px 3px 5px @color-black-divider;
                &>li>a {
                    .transitions();
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    height: 30px;
                    line-height: 30px;
                    letter-spacing: 1px;
                    padding: 0 @grid-gutter-width 0 @grid-gutter-width/2;
                    color: @color-black-disabled !important;
                    &:hover {
                        color: @color-black-primary !important;
                        background: rgba(0, 0, 0, 0.06);
                    }
                }
            }
        }
        h3 {
            font-size: @font-big;
            display: inline-block;
            width: auto;
            line-height: 50px;
            padding: 0 15px;
            float: left;
        }
        &>div {
            display: inline-block;
            text-align: center;
        }
        &--contacts {
            min-width: 150px;
            height: 50px;
            vertical-align: middle;
            margin: 0;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 15px;
                background: @color-black-divider;
            }
            &>.city,
            &>.phone {
                display: inline-block;
                position: relative;
                text-align: left;
                line-height: 18px;
                cursor: pointer;
                color: @color-black-secondary;
            }
            
            .city {
                .transitions();
                width: 50px;
                height: 50px;
                line-height: 50px;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;

                &_info{
                    display: block;
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                                   
                    &:hover {
                    color: @color-black-primary;
                    overflow: visible;
                    }

                &:hover>span {
                    top: 50px;                  
                    opacity: 1;
                    cursor: default;
                    &.active {                        
                        opacity: 1;
                    }
                }
                &>span {
                    .transitions();
                    opacity: 0;
                    position: absolute;
                    display: inline-block;
                    top: 20px;
                    left: 50%;
                    padding: 5px 15px;
                    line-height: 15px;
                    background: #f0f0f0;
                    transform: translateX(-50%);
                    color: @color-black-secondary;
                    border-radius: 2px;
                    z-index:1000;
                    &>a {
                        display: inline-block;
                        padding: 5px 2px 2px;
                        margin-bottom: 2px;
                        font-size: @font-small;
                        color: @color-primary;
                        &:hover {
                            border-bottom: 1px dashed @color-primary;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #f0f0f0;
                    }
                }
            }
    }
            &>.phone {
                color: @color-black-secondary;
                cursor: default;
                &>span {
                    margin-left: 7px;
                }
            }
        }
    }
}

.cd-main-content {
    width: 300px;
    margin: 0 auto;
}


.geo-city{
    display: block;
    min-width: 200px;
    max-width: 430px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 50px;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.38);

    &:before{
        content:'';
        display:block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-top:-18px;
        transform: translateX(-50%);
        border: 10px solid transparent;
        border-bottom: 10px solid #f7f7f7;
    }
    &:after{
        content:'';
        display:block;
        position: absolute;
        z-index: -10;
        top: 0;
        left: 50%;
        margin-top:-18px;
        transform: translateX(-50%);
        border: 10px solid transparent;
        border-bottom: 8px solid rgba(0,0,0,0.12);
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        filter: blur(2px);
        margin-top: -18px;
    }
    .geo-title{
        text-align: center;
        font-size: @font-big;
        line-height: @font-big;
        padding-bottom: 15px;
    }
}

/*
    .city-name {
        display: block;
        white-space: normal;
        padding: 5px;
    }

    .popup-cities {
        margin-left: 110px;
        z-index:1010;
    }

    .popup-cities :after {
        left: 94px;
    }

    .popup-content {
        max-height: 400px;
        overflow-y: scroll;
        padding-right: 10px;
    }

    .popup-content :after {
        content: '';
        display: table;
        clear: both;
    }
    
    .popup-cities.count-40 {
        width: 400px;
        margin-left: 0;
    }

    .popup-cities.count-40 :after {
        left: 204px;
    }

    .popup-cities.count-40 .popup-content > div {
        width: 50%;
        float: left;
    }

    .popup-cities.count-100 {
        width: 600px;
        margin-left: -250px;
    }

    .popup-cities.count-100 :after {
        left: 454px;
    }

    .popup-cities.count-100 .popup-content > div {
        width: 33.33%;
        float: left;
    }

    */

  @media (min-width: @screen-sm) {
    .header {
        padding: 0 @grid-gutter-width/3;
    }
  }

  @media (min-width: @screen-md) {
    .header {
        padding: 0 @grid-gutter-width/2;
    }
  }
  
  @media (min-width: @screen-lg) {
    .header {
        padding: 0 @grid-gutter-width;
    }
  }
  
  @media (min-width: @screen-xl) {
    .header {
        padding: 0 @grid-gutter-width*2;
    }
  }
  
  @media (min-width: @screen-xxl) {

  }