﻿<div class="profile-content_subnav">
    <ul>
        <li class="active"><a>Смена пароля</a></li>
    </ul>
    <div class="buttons">
        <a class="btn btn-sm btn-black rtl" ng-click="$ctrl.cancelRestorePass()">Отменить</a><a class="btn btn-sm btn-primary" ng-click="$ctrl.restorePassword()" ng-disabled="$ctrl.restorePasswordForm.$invalid">Сохранить</a>            
    </div>
</div>


<form class="profile-content_list profile-content_list--form" role="form" name="$ctrl.restorePasswordForm">
        <!-- фио -->
        <div class="form-group" style="max-width: 500px">
            <label for="oldPassword" style="width: 300px; max-width: 300px">Введите текущий пароль:</label>
            <div>
                <input type="password" class="form-control" id="oldPassword" placeholder="текущий пароль" ng-model="$ctrl.oldPassword" required>
            </div>
        </div>
        <!-- email -->
        <div class="form-group" style="max-width: 500px">
            <label for="newPassword" style="width: 300px; max-width: 300px">Введите новый пароль:</label>
            <div>
                <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="новый пароль"
                       ng-minlength="4" ng-maxlength="300" ng-model="$ctrl.newPassword" required>
                <span ng-show="$ctrl.restorePasswordForm.confirmPassword.$error.minlength">Минимальная длина пароля должна превышать 4 символа</span>
                <span ng-show="$ctrl.restorePasswordForm.confirmPassword.$error.maxlength">Максимальная длина пароля не должна превышать 300 символов</span>
            </div>
        </div>

        <div class="form-group" style="max-width: 500px">
            <label for="confirmPassword" style="width: 300px; max-width: 300px">Повторите новый пароль:</label>
            <div>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="повторите пароль"
                       ng-model="$ctrl.confirmPassword" required compare-to="$ctrl.newPassword" ng-minlength="4" ng-maxlength="300">
                <span ng-show="$ctrl.restorePasswordForm.confirmPassword.$error.compareTo">Пароли не совпадают</span>
                <span ng-show="$ctrl.restorePasswordForm.confirmPassword.$error.minlength">Минимальная длина пароля должна превышать 4 символа</span>
                <span ng-show="$ctrl.restorePasswordForm.confirmPassword.$error.maxlength">Максимальная длина пароля не должна превышать 300 символов</span>
            </div>
    </div>
</form>