﻿.cart-over{
    width: calc(~'100% - 342px') !important;
}
.basket-mini{
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;    
    width: 342px;
    height:100%;    
    border: none; 
    background: #ffffff;
    padding: 5px;
    font-size: 12px;    
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    max-width: 100%;

    .row:nth-child(odd) {
        background: none;
    }
    .tbl-head>div {
        padding-bottom: 5px;
    }
    .row{
        position: relative;
       &> div{
            align-self: center;
            padding:0px;
            text-align: center;
        }
    }
.product-item{
    
    padding-top: 2px;
            a{                
                font-size: 11px;
                color: @color-black-secondary;
                text-decoration: none;
            }

            img{
                width: 48px;
                height: 48px;
            }
            .price{
                text-align: center;
            }
    .del-btn{
           .transitions(all 0.3s ease-in-out);
           display: block;
           position: absolute;
           width: 50px;
           height: 100%;
           top:0;
           right: -70px;
           background: #fafafa;
           overflow: hidden;
           cursor: pointer;

           &:before {
            .transitions(all 0.6s ease-in-out);
            font-family: 'icomoon';
            content: '\e91d';
            font-size: @font-medium;
            color: @color-black-secondary;
            position: absolute;
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
           }
       }
    }
    .product-item:hover {
        .box-shadow(0 0 5px @color-black-divider);

        .del-btn{
            opacity: 1;
            right:0;
        }
        .del-btn:before{
            right: 15px;
            color: @color-primary;
        }
        .del-btn:hover:before{
            color: @color-red;
        }
    }

    .basket-mini-head{
        padding: 10px;
        height: 30px;
        background-color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        .icon-basket{
            float: left;
        }
        .icon-cancel{
            cursor: pointer;
            float: right;
        }
    }

    .basket-mini-content{
        position: relative;
        padding: 20px;
        z-index: 10;     
        
        .tbl-head{
            font-weight: bold;
        }
    }
    .basket-mini-footer{
        text-align: center;
        h2{
            cursor: pointer;
            font-size: 20px;
        }
        .total{
            text-align: right;
            span{
                font-weight: bolder;
                font-size: 12px;
                line-height: 1.8;
            }
        }
        .btn-buy{
            font-size: 16px;
            width: 160px;
            height: 50px;
            font-weight: 300;
        }
        .economy{
            color: #f26c4f !important;
        }
    }
}


.basket {
    .title {
        margin-top: 20px;
        text-align: center;

        h1 {
            font-size: 26px;
            line-height: 26px;
            text-align: center;
            margin: 10px 0 30px 0;
        }
    }

    .form-control, input[type=text], input[type=email] {
        color: #268bdd;
        float: none;
        width: 100%;
        position: relative;
        display: block;
        float: right;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: transparent;
        font-weight: 400;
        font-size: 14px;
        -webkit-appearance: none;
    }

    .row:nth-child(odd) {
        background: none;
    }

    .img-full-cart-product {
        width: 120px;
    }

    input[type=checkbox] {
        position: fixed;
        top: -100px;
        left: -100px;
    }

    input[type=checkbox]:checked + label:before {
        content: "";
        border: 1px solid #268bdd;
    }

    input[type="checkbox"]:not(:checked) + label:before, input[type="checkbox"]:checked + label:before {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        transform: scale(1.3) !important;
    }

    input[type=checkbox]:checked + label:before {
        content: "";
        border: 1px solid #268bdd;
    }

    .qty-control{
        width: 100px;
        background: #ffffff;
        border: 1px solid #ffffff;
        margin-left: 40px;
        transition: all linear .5s;
        .qty, .qtyminus, .qtyplus{
            position: relative;
            z-index: 0;
            display: inline-block;
            width: 30px;
            height: 30px;
            cursor: pointer;        
            background: #fff;            
            color: #268bdd;
            font-weight: bold;
            font-size: 16px;
            border: 1px solid transparent;        
        }

        .qty{
            color: #000000;
            text-align: center;
        }
        .qtyminus:hover, .qtyplus:hover{
            background: #268bdd;
            color: #ffffff;
        }
    }
    .qty-control:hover{
        border: 1px solid #268bdd;
    }
    
    input[type="checkbox"]:not(:checked) + label:after, input[type="checkbox"]:checked + label:after {
        color: #268bdd;
        font-size: 12px;
        line-height: 10px;
    }
    
    .product-suite{
        margin-top: 25px;
        border-top: 1px dashed #454545;
        h1{
            font-size: 18px;
            margin-left: 15px;
        }
    }

    .product-cart-item {
        margin-right: 5px;
        padding: 10px 0px 10px 0px;

        .btn {
            visibility: hidden;
            width: 40px;
            height: 40px;
            transition: opacity 0.5s ease-in-out;
        }
    }

    .btn.btn-order {
        display: block;
        background: #268bdd;
        color: #fff;
        width: 100%;
        height: 50px;
        margin: 0 auto;
    }

    .total-cart {
        text-align: left;
        margin: 0px auto;
        width: 400px;
        margin-bottom: 25px;

        .row > div {
            text-align: left;
        }

        h1 {
            margin: 0px;
            padding: 5px;
            font-size: 18px;
            line-height: 20px;
            color: #000;
        }
    }

    .product-carts-header {
        padding-bottom: 20px;

        h2 {
            line-height: 0px;
        }

        .order-section {
            display: inline-block;
            font-size: 15px;
            padding: 5px;
            color: rgba(0, 0, 0, 0.38);
            font-weight: 400;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.38);
            margin-right: 10px;
            text-align: left;
            background: none;
            text-decoration: none;
        }

        .order-section:hover {
            color: rgba(0, 0, 0, 0.8);
            border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }

        .order-section.active {
            color: #268bdd;
            line-height: 35px;
            border-bottom: 1px solid #268bdd;
        }
    }

    .product-cart-item:hover {
        background: rgba(0, 0, 0, 0.05);

        .btn {
            visibility: visible;
        }
    }

    .order-info {
        display: block;
        padding: 20px;
        background: rgba(0, 0, 0, 0.05);

        h2 {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.87);
        }

        small {
            font-size: 10px;
        }

        .input-group, .row, .row > div {
            border: none;
            margin-top: 5px;
            background: none;
            text-align: left;
        }

        .cs-select{
            border: 1px solid #dfdfdf;
        }
        .selector{
            border: none;
            > div{
                max-width: 100%;
                flex: 100%;
            }
        }
    }
}
