﻿<div class="profile-content_inner">
    <div class="profile-content_subnav">
        <div class="product-list_link">
            <div class="product-list_cell">Ссылка на эту страницу:</div><br />
            <div class="product-list_cell">
                <!-- Class js-clipboard-input was created for clipboard.js -->
                <input type="text" class="form-control js-clipboard-input" readonly="readonly" id="share-link" ng-value="$ctrl.shareLink">
            </div><br />
            <!-- Class js-clipboard-btn was created for clipboard.js -->
            <button type="button" class="btn btn-primary btn-sm js-clipboard-btn">Скопировать</button>
        </div>
    </div>

    <!--share link-->
    <div class="products-list">
        <div class="products-list">
            <div class="product-list product-list-head">
                <div class="product-list_thumb"></div>
                <div class="product-list_title">Описание</div>
                <div class="product-list_cell">Параметры</div>
                <div class="product-list_price">Цена</div>
                <div class="product-list_options"></div>
            </div>
            <!-- products -->
            <div class="product-list" ng-repeat="item in $ctrl.favorite.products">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/product/{{item.product.furnitureTypeAlias}}/{{item.product.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}">
                        <img class="img-full-cart-product" ng-src="/api/images/product/{{item.product.id}}/WithoutInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="item.product.furnitureType + item.product.collectionName" ng-href="/catalog/product/{{item.product.furnitureTypeAlias}}/{{item.product.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}"></a>
                    <span class="product-list_title--articul ng-binding">
                        <span>арт.</span>
                        <span ng-bind="item.product.article"></span>
                    </span>
                </div>
                <div class="product-list_cell">
                    <span ng-bind="item.product.frameColorIdName + ' ' + item.product.facingName + ' ' + item.product.facingColorName"></span>
                    <br />
                    <span ng-bind="item.product.height + 'x' + item.product.width + 'x'+ item.product.length"></span>
                </div>
                <div class="product-list_total">
                    <span class="product-list_price--new"><span ng-bind="item.product.salePrice.formattedAmountWithoutPoint"></span></span>
                    <span class="product-list_price--old"><span ng-bind="item.product.price.formattedAmountWithoutPoint"></span></span>
                </div>
                <div class="product-list_options">
                    <button class="btn btn-black btn-sm rtl" ng-click="$ctrl.deleteProduct(item.product.id)" ng-show="$ctrl.isUserOwnerBool"><i class="icon-trash"></i></button>
                    <button class="btn btn-primary btn-sm" ng-click="$ctrl.addProductToCart(item.product.id)"><i class="icon-cart"></i></button>
                </div>
            </div>
        </div>
        <div class="products-list" ng-repeat="collection in $ctrl.favorite.collections">
            <div class="product-list">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/{{collection.collectionVariant.roomTypeAlias}}/{{collection.collectionVariant.collectionAlias}}">
                        <img class="img-full-cart-product" ng-src="/api/images/collectionvariant/{{collection.collectionVariant.id}}/InInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="'Коллекция ' + collection.collectionVariant.roomTypeName+' '+ collection.collectionVariant.collectionName" ng-href="/catalog/{{collection.collectionVariant.roomTypeAlias}}/{{collection.collectionVariant.collectionAlias}}"></a>
                </div>
                <div class="product-list_cell">
                    <span ng-bind="collection.collectionVariant.framesColors[0].name + ' ' + collection.collectionVariant.facings[0].name + ' ' + collection.collectionVariant.facingsColors[0].name"></span>
                </div>
                <div class="product-list_price">
                    <!--<span class="product-list_price--new" ng-bind="$ctrl.calculatePriceForCollection(collection)"></span>-->
                    <span class="product-list_price--new"><span ng-bind="collection.price"></span><span>руб</span></span>
                    <span class="product-list_price--old"><span ng-bind="collection.salePrice"></span><span>руб</span></span>
                </div>
                <div class="product-list_options">
                    <button type="button" class="btn btn-black btn-sm rtl" ng-click="$ctrl.deleteItemFullCollection(collection.collectionVariant.id)" ng-show="$ctrl.isUserOwnerBool"><i class="icon-trash"></i></button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.addCollectionToCart(collection.collectionVariant.id)"><i class="icon-cart"></i></button>
                </div>
            </div>
            <!-- products in collection -->
            <div class="product-list" ng-repeat="item in collection.products">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/product/{{item.product.furnitureTypeAlias}}/{{collection.collectionVariant.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}">
                        <img class="img-full-cart-product" ng-src="/api/images/product/{{item.product.id}}/WithoutInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="item.product.furnitureType + ' ' +collection.collectionVariant.collectionName" ng-href="/catalog/product/{{item.product.furnitureTypeAlias}}/{{collection.collectionVariant.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}"></a>
                    <span class="product-list_title--articul ng-binding">
                        <span>арт.</span>
                        <span ng-bind="item.product.article"></span>
                    </span>
                </div>
                <div class="product-list_cell">
                    <span ng-bind="item.product.frameColorIdName + ' ' + item.product.facingName + ' ' + item.product.facingColorName"></span>
                    <br />
                    <span ng-bind="item.product.height + 'x' + item.product.width + 'x'+ item.product.length"></span>
                </div>
                <div class="product-list_price">
                    <span class="product-list_price--new"><span ng-bind="item.product.salePrice.formattedAmountWithoutPoint"></span></span>
                    <span class="product-list_price--old"><span ng-bind="item.product.price.formattedAmountWithoutPoint"></span></span>
                </div>
                <div class="product-list_options">
                    <button class="btn btn-black btn-sm rtl" type="button" ng-click="$ctrl.deleteProductFromCollection(item.product.id, collection.collectionVariant.id)" ng-show="$ctrl.isUserOwnerBool"><i class="icon-trash"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.addProductToCart(item.product.id)"><i class="icon-cart"></i></button>
                </div>
            </div>
        </div>
        <!-- products in complect -->
        <div class="products-list" ng-repeat="complect in $ctrl.favorite.complects">
            <div class="product-list">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/{{complect.collectionVariant.roomTypeAlias}}/{{complect.collectionVariant.collectionAlias}}">
                        <img class="img-full-cart-product" ng-src="/api/images/collectionvariant/{{complect.collectionVariant.id}}/InInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="'Комплект ' + complect.collectionVariant.roomTypeName+' '+complect.collectionVariant.collectionName" ng-href="/catalog/{{complect.collectionVariant.roomTypeAlias}}/{{complect.collectionVariant.collectionAlias}}"></a>
                </div>
                <div class="product-list_cell">
                    <span ng-bind="complect.collectionVariant.framesColors[0].name + ' ' + complect.collectionVariant.facings[0].name + ' ' + complect.collectionVariant.facingsColors[0].name"></span>
                </div>
                <div class="product-list_price">
                    <span class="product-list_price--new"><span ng-bind="complect.collectionVariant.salePrice.formattedAmountWithoutPoint"></span></span>
                    <span class="product-list_price--old"><span ng-bind="complect.collectionVariant.price.formattedAmountWithoutPoint"></span></span>
                </div>
                <div class="product-list_options">
                    <button type="button" class="btn btn-black btn-sm rtl" ng-click="$ctrl.deleteComplect(complect.collectionVariant.id)" ng-show="$ctrl.isUserOwnerBool">Удалить</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.addComplectToCart(complect.collectionVariant.id)">В корзину</button>
                </div>
            </div>
            <!--<div class="product-list" ng-repeat="item in complect.collectionVariant.products">
                <div class="product-list_thumb">
                    <a ng-href="/catalog/product/furnitureAlias/{{complect.collectionVariant.collectionAlias}}-{{item.syncCode1C}}">
                        <img class="img-full-cart-product" ng-src="/api/images/product/{{item.id}}/WithoutInterior" />
                    </a>
                </div>
                <div class="product-list_title">
                    <a ng-bind="item.furnitureType + ' ' +complect.collectionVariant.collectionName + ' '+ item.article" ng-href="/catalog/product/furnitureAlias/{{complect.collectionVariant.collectionAlias}}-{{item.syncCode1C}}"></a>
                </div>
                <div class="product-list_cell">
                    <span ng-bind="item.frameColorIdName + ' ' + item.facingName + ' ' + item.facingColorName"></span>
                    <br />
                    <span ng-bind="item.height + 'x' + item.width + 'x'+ item.length"></span>
                </div>
                <div class="product-list_price"></div>
                <div class="product-list_options"></div>
            </div>-->
        </div>
    </div>
</div>


