﻿<div class="modal-dialog">
    <div class="modal-form">
        <div class="modal-content">
            <div class="request-container">
                <i class="icon-cancel" ng-click="$ctrl.closePopup()"></i>
                <h4>Восстановление пароля</h4>
                <div ng-show="$ctrl.isInprogress">
                    <label>Идет процесс восстановления пароля</label>
                </div>
                <form novalidate name="form" ng-hide="$ctrl.isInprogress">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input placeholder="E-mail" name="email" type="email" required="" autofocus="" ng-model="$ctrl.userEmail" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || $ctrl.isInprogress" ng-click="$ctrl.recoveryPassword()">
                            Продолжить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
