<div class="field-checkbox">
    <div class="field-checkbox__title">Стандартный флажок</div>
    <div class="field-checkbox__input-wrap">
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox" checked>
      <span class="field-checkbox__name-text">Использовать</span>
    </label>
        <div class="field-checkbox__help-text">Пояснение не обязательно.</div>
    </div>
</div>

<div class="field-checkbox">
    <div class="field-checkbox__title">Стандартные флажки</div>
    <div class="field-checkbox__input-wrap">
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox" checked>
      <span class="field-checkbox__name-text">Использовать</span>
    </label>
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox">
      <span class="field-checkbox__name-text">Переиспользовать</span>
    </label>
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox">
      <span class="field-checkbox__name-text">Нет</span>
    </label>
    </div>
</div>

<div class="field-checkbox  field-checkbox--custom">
    <div class="field-checkbox__title">Собственный флажок</div>
    <div class="field-checkbox__input-wrap">
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox" checked>
      <span class="field-checkbox__name-text">Да</span>
    </label>
        <div class="field-checkbox__help-text">Есть общее название. При желании флажков можно написать несколько подряд. Изображения в формате SVG, вписываются в CSS-файл функцией <code>data-uri()</code> компилятора LESS.</div>
    </div>
</div>

<div class="field-checkbox  field-checkbox--custom">
    <div class="field-checkbox__title">Собственные флажки</div>
    <div class="field-checkbox__input-wrap">
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox" checked>
      <span class="field-checkbox__name-text">Да</span>
    </label>
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox">
      <span class="field-checkbox__name-text">Нет</span>
    </label>
        <label class="field-checkbox__name">
      <input class="field-checkbox__input" type="checkbox">
      <span class="field-checkbox__name-text">Сто лет в обед</span>
    </label>
    </div>
</div>