﻿<h2 class="text-center"><span>{{$ctrl.furnitureType}}</span> {{$ctrl.syncCode}}</h2>
<table class="table table-responsive">
    <tbody>
        <tr>
            <td>
                <img id="image_{{$ctrl.product.productId}}_WithoutInterior" ng-src="/api/images/product/{{$ctrl.product.productId}}/WithoutInterior" alt="Картинки нет" height="90" width="150" />
            </td>
            <td>Изображение для плитки товара 600х800 (закрытый вид, белый фон)</td>
            <td>
                <input type="file" id="file_{{$ctrl.product.productId}}_WithoutInterior" style="width: 100%;" />
                <a href="javascript:void(0)" ng-click="$ctrl.loadProductImage($ctrl.product, 'WithoutInterior')" class="btn btn-primary btn-sm">Загрузить</a>
            </td>
        </tr>
        <tr>
            <td>
                <img id="image_{{$ctrl.product.productId}}_InInterior" ng-src="/api/images/product/{{$ctrl.product.productId}}/InInterior" alt="Картинки нет" height="90" width="150" />
            </td>
            <td>Изображение для плитки товара 600х800 (в интерьере)</td>
            <td>
                <input type="file" id="file_{{$ctrl.product.productId}}_InInterior" style="width: 100%;" />
                <a href="javascript:void(0)" ng-click="$ctrl.loadProductImage($ctrl.product, 'InInterior')" class="btn btn-primary btn-sm">Загрузить</a>
            </td>
        </tr>
        <tr>
            <td>
                <img id="image_{{$ctrl.product.productId}}_SliderInInterior" ng-src="/api/images/product/{{$ctrl.product.productId}}/SliderInInterior" alt="Картинки нет" height="90" width="150" />
            </td>
            <td>Изображение для слайдера на странице товара 1200х1200 (закрытый вид, интерьер)</td>
            <td>
                <input type="file" id="file_{{$ctrl.product.productId}}_SliderInInterior" style="width: 100%;" />
                <a href="javascript:void(0)" ng-click="$ctrl.loadProductImage($ctrl.product, 'SliderInInterior')" class="btn btn-primary btn-sm">Загрузить</a>
            </td>
        </tr>
        <tr>
            <td>
                <img id="image_{{$ctrl.product.productId}}_SliderMiddle" ng-src="/api/images/product/{{$ctrl.product.productId}}/SliderMiddle" alt="Картинки нет" height="90" width="150" />
            </td>
            <td>Изображение для слайдера на странице товара 1200х1200 (закрытый вид, белый фон)</td>
            <td>
                <input type="file" id="file_{{$ctrl.product.productId}}_SliderMiddle" style="width: 100%;" />
                <a href="javascript:void(0)" ng-click="$ctrl.loadProductImage($ctrl.product, 'SliderMiddle')" class="btn btn-primary btn-sm">Загрузить</a>
            </td>
        </tr>
        <tr>
            <td>
                <img id="image_{{$ctrl.product.productId}}_SliderOpen" ng-src="/api/images/product/{{$ctrl.product.productId}}/SliderOpen" alt="Картинки нет" height="90" width="150" />
            </td>
            <td>Изображение для слайдера на странице товара 1200х1200 (открытый вид, белый фон)</td>
            <td>
                <input type="file" id="file_{{$ctrl.product.productId}}_SliderOpen" style="width: 100%;" />
                <a href="javascript:void(0)" ng-click="$ctrl.loadProductImage($ctrl.product, 'SliderOpen')" class="btn btn-primary btn-sm">Загрузить</a>
            </td>
        </tr>
    </tbody>
</table>