﻿.catalog-single {
    .col(xs, 8);
    padding: 0;
    height: calc(~'100% - 50px');
    top: @header-height;
    right: 0;
    position: absolute;
    &:hover>&_wrap &_item img {
        opacity: 0;
    }
    &:hover>&_wrap &_item:hover img {
        opacity: 1;
    }
    &_wrap {
        display: flex;
        position: relative;
        width: 100%;
        height: 20%;
    }
    &_wrap:first-child &_item {
        border-top: none;
    }
    &_item {
        width: 25%;
        overflow: hidden;
        border: 2px solid #fff;
        img {
            .opacity(0, 0.5s);
            width: 100%;
        }
    }
    figure.effect-zoe figcaption,
    figure.effect-zoe h2 {
        .transitions(letter-spacing 0.25s ease);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    figure.effect-zoe figcaption {
        .opacity(0.55, 0.2s);
    }
    figure.effect-zoe:hover figcaption {
        letter-spacing: 2px;
        opacity: 1;
    }
}