﻿<div class="panel panel-default">
    <div class="panel-heading">
        <a type="button" class="btn btn-default" href="/AdministrativeTools/Sellers">Продавцы</a>
        <button type="button" class="btn btn-default" disabled>Другие пользователи</button>
        <a type="button" class="btn btn-default" href="/AdministrativeTools/AllocateRole">Назначить роль</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input id="checkbox-all" type="checkbox" ng-click="$ctrl.selectAllCheckboxes()" ng-model="$ctrl.isAllChecked"></th>
                        <th>Имя</th>
                        <th>E-mail</th>
                        <th>Роль</th>
                    </tr>
                </thead>
                <tbody>
                       <!-- <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="checkbox-all" type="checkbox" ng-click="$ctrl.selectAllCheckboxes()" ng-model="$ctrl.isAllChecked">
                                    <label for="checkbox-all">Выбрать всех</label>
                                </div>
                            </td>
                        </tr>-->
                        <tr ng-repeat="user in $ctrl.users">
                            <td>
                                    <input id="{{user.userId}}" type="checkbox" ng-click="user.checked = !user.checked; $ctrl.checkUsers()" ng-checked="user.checked">
                                    <label for="{{user.userId}}"></label>
                            </td>
                            <td ng-bind="user.name"></td>
                            <td ng-bind="user.email"></td>
                            <td>
                                <select ng-model="user.role" class="form-control" ng-change="$ctrl.checkUsers()">
                                    <option ng-repeat="item in $ctrl.roles"
                                            ng-value="item.id"
                                            ng-bind="item.name"
                                            ng-selected="item.id === user.role"></option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
        <div class="panel-footer text-center">
            <button type="button" class="btn btn-default" ng-click="$ctrl.deleteUser()">Удалить</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.accept()" ng-disabled="$ctrl.numberUsersForUpdating < 1">Подтвердить</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.prev()" ng-disabled="$ctrl.paging.page <= 1"><i class="fa fa-arrow-left"></i></button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.next()" ng-disabled="$ctrl.paging.page >= $ctrl.paging.pageCount"><i class="fa fa-arrow-right"></i></button>
        </div>
    </div>