﻿<main class="content page-cart">
    <!-- <ul class="breadcrumbs"> </ul>         Нужно добавить-->
    <h1>Оформление заказа</h1>
    <div class="order">
        <div id="tabs" class="order-cart tabs">
            <nav>
                <ul>
                    <li ng-class="{'tab-current': $ctrl.isShowOrder}" ng-click="$ctrl.isShowOrder = true">
                        <a href="#section-1">
                            <i class="icon-cart"></i>
                            <span ng-bind="'Готово к заказу'"></span>
                            <sup ng-bind="''+ $ctrl.cartItemsCount +''"></sup>
                        </a>
                    </li>
                    <li ng-class="{'tab-current': !$ctrl.isShowOrder}" ng-click="$ctrl.isShowOrder = false">
                        <a href="#section-2">
                            <i class="icon-hourglass"></i>
                            <span ng-bind="'Отложено'"></span>
                            <sup ng-bind="' '+ $ctrl.layawayItemsCount + ''"></sup>
                        </a>
                    </li>
                </ul>
            </nav>
            <div>
                <section id="section-1" class="content-current" ng-show="$ctrl.isShowOrder&&$ctrl.cartItemsCount>0">
                    <div class="products-list">
                        <div class="product-list product-list-head">
                            <div class="product-list_thumb"></div>
                            <div class="product-list_title"></div>
                            <div class="product-list_price">Цена</div>
                            <div class="product-list_sborka">Сборка</div>
                            <div class="product-list_qty">Количество</div>
                            <div class="product-list_total">Сумма</div>
                            <div class="product-list_options"></div>
                        </div>
                        <!--Products-->
                        <div class="product-list" ng-repeat="item in $ctrl.cart.products">
                            <div class="product-list_thumb">
                                <a ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}">
                                    <img class="img-full-cart-product" ng-src="/api/images/product/{{item.productId}}/WithoutInterior" />
                                </a>
                            </div>
                            <div class="product-list_title">
                                <a ng-bind="item.product.furnitureType + ' ' +item.product.collectionName" ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}"></a>
                                <span class="product-list_title--articul" ng-bind="item.product.article"></span>
                            </div>
                            <div class="product-list_price">
                                <span class="product-list_price--new"><span ng-bind="item.priceInTotal.formattedAmountWithoutPoint"></span></span>
                                <!-- Предыдущая цена -->
                                <span ng-hide="item.priceInTotal.amount===item.price.amount" class="product-list_price--old" style="text-decoration: line-through;">
                                    <span ng-bind="item.price.formattedAmountWithoutPoint"></span>
                                </span>
                            </div>
                            <div class="product-list_sborka">
                                <div class="checkbox">
                                    <input id="{{item.product.id}}" type="checkbox" ng-model="item.isAssemblyRequired" ng-change="$ctrl.onChangeProductAssembly(item)" />
                                    <label for="{{item.product.id}}"></label>
                                </div>
                            </div>
                            <div class="product-list_qty">
                                <input type="button" value="-" class="qtyminus" ng-click="$ctrl.decrQuantity(item)">
                                <input type="text" ng-model="item.quantity" ng-change="$ctrl.changeProductQuantity(item.productId)" class="qty" min="1" max="100" style="width:40px;" />
                                <input type="button" value="+" class="qtyplus" ng-click="$ctrl.incrQuantity(item)">
                            </div>
                            <div class="product-list_total">
                                <span ng-bind="item.summ"></span> руб
                            </div>
                            <div class="product-list_options">
                                <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.moveProductToLayaway(item.productId)"><i class="icon-hourglass"></i></button>
                                <button type="button" class="btn btn-black btn-sm" ng-click="$ctrl.deleteProduct(item.id)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- products in collection -->
                    <div class="products-list products-list-collection" ng-repeat="collection in $ctrl.cart.collections">
                        <h2 ng-bind="'Коллекция ' + collection.products[0].product.roomTypeName+' '+ collection.products[0].product.collectionName"></h2>
                        <div class="product-list" ng-repeat="item in collection.products">
                            <div class="product-list_thumb">
                                <a ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.syncCode1C}}">
                                    <img class="img-full-cart-product" ng-src="/api/images/product/{{item.productId}}/WithoutInterior" />
                                </a>
                            </div>
                            <div class="product-list_title">
                                <a ng-bind="item.product.furnitureType + ' ' +item.product.collectionName" ng-href="/catalog/product/furnitureAlias/{{item.product.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}">
                                    <span ng-bind="item.product.article"></span>
                                </a>
                            </div>
                            <div class="product-list_price">
                                <span class="product-list_price--new" ng-bind="item.priceInTotal.formattedAmountWithoutPoint"></span>
                                <span ng-hide="item.priceInTotal.amount===item.price.amount" class="product-list_price--old" style="text-decoration: line-through;" ng-bind="item.price.formattedAmountWithoutPoint"></span>
                            </div>
                            <div class="product-list_sborka">
                                <input id="{{item.product.id}}" type="checkbox" ng-model="item.isAssemblyRequired" ng-change="$ctrl.onChangeProductAssembly(item)" />
                                <label for="{{item.product.id}}"></label>
                            </div>
                            <div class="product-list_qty">
                                <div class="qty-control">
                                    <input type="button" value="-" class="qtyminus" ng-click="$ctrl.decrQuantity(item)">
                                    <input type="text" ng-model="item.quantity" ng-change="$ctrl.changeProducFromCollectionQuantity(collection.id, item.productId)" class="qty" min="1" max="100" />
                                    <input type="button" value="+" class="qtyplus" ng-click="$ctrl.incrQuantity(item)">
                                </div>
                            </div>
                            <div class="product-list_total">
                                <span ng-bind="item.summ"></span> руб
                            </div>
                            <div class="product-list_options">
                                <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.moveProductInCollectionToLayaway(item.productId, collection.id)"><i class="icon-hourglass"></i></button>
                                <button type="button" class="btn btn-black btn-sm" ng-click="$ctrl.deleteProductFromCollection(item.productId, collection.id)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- products in complect -->
                    <div class="products-list products-list-complect" ng-repeat="komplekt in $ctrl.cart.complects">
                        <h2 ng-bind="'Комплект ' + komplekt.collectionVariant.roomTypeName+' '+komplekt.collectionVariant.collectionName"></h2>

                        <div class="product-list" ng-repeat="item in komplekt.collectionVariant.products">
                            <div class="product-list_thumb">
                                <a ng-href="/catalog/product/furnitureAlias/{{komplekt.collectionVariant.collectionAlias}}-{{item.syncCode1C}}"><img class="img-full-cart-product" ng-src="/api/images/product/{{item.id}}/WithoutInterior" /></a>
                            </div>
                            <div class="product-list_title">
                                <a ng-bind="item.furnitureType + ' ' +komplekt.collectionVariant.seriesName" ng-href="/catalog/product/{{item.furnitureAlias}}/{{komplekt.collectionVariant.collectionAlias}}-{{item.product.article}}/#/{{item.product.syncCode1C}}"></a>
                                <span class="product-list_title--articul" ng-bind="item.article"></span>
                            </div>
                            <div class="product-list_price">
                                <span class="product-list_price--new" ng-bind="komplekt.priceInTotal.formattedAmountWithoutPoint"></span>
                                <span ng-hide="komplekt.priceInTotal.amount===komplekt.price.amount" class="product-list_price--old" style="text-decoration: line-through;" ng-bind="komplekt.price.formattedAmountWithoutPoint"></span>
                            </div>
                            <div class="product-list_sborka">
                                <div class="checkbox">
                                    <input id="{{komplekt.id}}" type="checkbox" ng-model="komplekt.isAssemblyRequired" ng-change="$ctrl.onChangeComplectAssembly(komplekt)" />
                                    <label for="{{komplekt.id}}"></label>
                                </div>
                            </div>
                            <div class="product-list_qty">
                                <input type="button" value="-" class="qtyminus" ng-click="$ctrl.incrQueantityKomplekt(komplekt)">
                                <input type="text" ng-model="komplekt.quantity" ng-change="$ctrl.changeComplectQuantity(komplekt.id)" class="qty" min="1" max="100" />
                                <input type="button" value="+" class="qtyplus" ng-click="$ctrl.decrQueantityKomplekt(komplekt)">
                            </div>
                            <div class="product-list_total">
                                <span ng-bind="komplekt.summ"></span> руб
                            </div>
                            <div class="product-list_options">
                                <button type="button" class="btn btn-primary rtl btn-sm" ng-click="$ctrl.moveComplectToLayaway(komplekt.id)"><i class="icon-hourglass"></i></button>
                                <button type="button" class="btn btn-black btn-sm btn-defer rtl" ng-click="$ctrl.deleteComplect(komplekt.id)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="products-list">
                        <div class="product-list product-list-footer">
                            <div class="product-list_buttons" ng-if="$ctrl.cart.orderCount > 1">
                                <button type="button" class="btn btn-primary btn-sm btn-defer rtl" ng-click="$ctrl.moveWholeCartToLayaway()">
                                    <i class="icon-hourglass"></i> Отложить все
                                </button>
                                <button type="button" ng-click="$ctrl.deleteCart()" class="btn btn-black btn-sm">
                                    <i class="icon-trash"></i> Очистить корзину
                                </button>
                            </div>
                            <!--<div class="product-list_delivery">
                    <div class="checkbox">
                        <input id="delivery" type="checkbox" checked="" ng-model="$ctrl.cart.isDeliveryRequired" ng-change="$ctrl.changeDeliveryRequired()">
                        <label for="delivery"><span>Доставка</span></label>
                    </div>
                </div>-->
                            <div class="product-list_total-cart total">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Итого:</th>
                                            <th>
                                                <span class="cart__total" ng-bind="$ctrl.cart.totalPrice"></span> руб
                                            </th>
                                        </tr>
                                        <tr ng-show="$ctrl.selectedPaymentMethod.name==='Рассрочка'">
                                            <th>
                                                <div class="text-rassr">В рассрочку:</div>
                                            </th>
                                            <th><span class="cart__total" ng-bind="$ctrl.cart.installmentSum"></span> руб</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" style="text-align: center">
                                                <button type="button" class="btn btn-primary btn-order" ng-click="$ctrl.makePayment()">Оформить заказ</button>
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td style="width: 195px;">Сумма</td>
                                            <td style="width: 195px;"><span ng-bind="$ctrl.cart.totalPriceWithoutDelivery"></span> руб</td>
                                        </tr>
                                        <tr ng-hide="$ctrl.cart.saving===0">
                                            <td style="color: #f44336;">Экономия</td>
                                            <td style="color: #f44336;"><span ng-bind="$ctrl.cart.saving"></span> руб</td>
                                        </tr>
                                        <tr>
                                            <td>Сборка</td>
                                            <td><span ng-bind="$ctrl.cart.totalAssembly"></span> руб</td>
                                        </tr>
                                        <tr>
                                            <td class="text-line">Доставка</td>
                                            <td class="text-line"><span ng-bind="$ctrl.cart.priceForDelivery"></span> руб</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="section-2" ng-show="!$ctrl.isShowOrder">
                    <kd-layaway update="$ctrl.layawayItemsCount" on-refresh="$ctrl.refreshCart"></kd-layaway>
                </section>
            </div>
            <div ng-show="$ctrl.cartItemsCount===0&&$ctrl.isShowOrder" class="cart-empty">
                <h2>Ваша корзина пуста</h2>
            </div>
        </div>
        <div class="order-info  order-info_user">
            <kd-profile-part class="user_info" profile="$ctrl.profile"></kd-profile-part>

            <!-- must be addressess block, but at the time it is PAYMENT METHODS block -->
            <div class="payment">
                <h2>Способ оплаты</h2>

                <kd-select-single list-items="$ctrl.paymentMethods" settings="{placeholder: 'Выберите способ оплаты'}"
                                  kd-change="$ctrl.selectPayment" kd-model="$ctrl.selectedPayment"></kd-select-single>
                 <!--TODO: эта инфа должна показываться после выбора "Банковские карты"-->
                <p>
                    Visa, Mastercard. Произвести оплату вы можете после звонка менеджера контактного центра. <a target="_blank" href="https://kaliningrad.lazurit.com/payment/card/">Подробнее...</a>
                </p>
                <div class="product-list_credit" ng-show="$ctrl.selectedPaymentMethod.name==='Рассрочка'">
                    <!--Рассрочка-->
                    <kd-select-single list-items="$ctrl.installments" settings="{label: 'Рассрочка', placeholder: 'Выберите рассрочку'}"
                                      kd-change="$ctrl.selectInstallment" kd-model="$ctrl.selectedInstallment"></kd-select-single>
                </div>
            </div>
        </div>
        <kd-address-part class="order-info order-info_delivery" profile="$ctrl.profile"></kd-address-part>
    </div>
</main>