﻿.products-list {
    width: 100%;
    &-collection {
         & > h2 {
            display: block;
            width: 100%;
            font-size: @font-medium;
            color: @color-primary;
            border-left: 1px solid @color-primary;
            margin-left: -15px;
            padding-left: 15px;
            line-height: 30px;
            margin-top: 15px;
            }
        .product-list {
            border-left: 1px solid @color-primary;
            margin-bottom: 0;
        }
    }
    &-complect {
         & > h2 {
            display: block;
            width: 100%;
            font-size: @font-medium;
            color: @color-black-primary;
            border-left: 1px solid @color-black-disabled;
            margin-left: -15px;
            padding-left: 15px;
            line-height: 30px;
            margin-top: 15px;
            }
        .product-list {
            border-left: 1px solid @color-black-disabled;
            margin-bottom: 0;
        }
    }
}

.product-list {
    .row(0);
    margin-left: 0 !important;
    .transitions();
    flex-wrap: nowrap;
    min-height: 60px;
    overflow: hidden;
    margin-bottom: 5px;

    &:hover {
        background: rgba(0, 0, 0, 0.05);

        .btn {
            opacity: 1 !important;
        }
    }

    & > div {
        align-self: center;
        padding: @grid-gutter-width/3 @grid-gutter-width/2;
    }
    & div {        
        font-size: @font-normal;
        line-height: @font-medium;
        color: @color-black-secondary;
        font-weight: @font-regular;
    }

    &_cell {
    }

    &-head {
        & > div {
            line-height: @font-normal !important;
            max-height: 40px !important;
            font-weight: @font-regular !important;
            font-size: @font-normal !important;
        }

        &:hover {
            background: none !important;
        }
    }

    &>&_thumb {
        position: relative;
        width: 80px;
        min-width: 80px;
        max-height: 80px;
        padding-left: 10px !important;

        & > a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }

        img {
            width: 50px;
            height:50px;
        }
    }

    &_title {
        font-size: @font-medium;
        font-weight: @font-bold;
        min-width: 200px;

        &--articul {
            display: block;
            font-size: @font-normal;
            font-weight: @font-regular;
            color: @color-black-disabled;
        }
    }
    
    &_price {
        &--new {
            color: @color-black-primary;
            font-size: @font-medium;
            white-space: nowrap;
        }

        &--old {
            display: inline-block;
            position: relative;
            white-space: nowrap;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: rgba(0, 0, 0, 0.38);
                position: absolute;
                top: 8px;
                left: 0;
            }
        }
    }

    &>&_sborka {
        span {
            padding-left: 5px;
        }
    }

    &>&_qty {
        white-space: nowrap;

        &:hover {
            input {
                border-color: @color-primary;
            }
        }

        input {
            .transitions();
            font-family: 'Ubuntu';
            position: relative;
            z-index: 1;
            height: 30px;
            padding: 0 10px;
            text-align: center;
            width: 30px;
            outline: none;
            border: none;
            font-size: @font-medium;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }

        .qtyminus,
        .qtyplus {
            position: relative;
            z-index: 0;
            display: inline-block;
            height: 30px;
            cursor: pointer;
            width: 34px;
            background: #fff;
            font-weight: 500;
            color: @color-primary;
            border: 1px solid transparent;

            &:hover {
                background: @color-primary;
                color: #fff;
            }
        }

        .qtyminus {
            margin-right: -5px;
        }

        .qtyplus {
            margin-left: -5px;
        }
    }

    &>&_total {
        font-size: @font-medium;
        font-weight: @font-bold;
    }

    &>&_options {
        //padding-right: 0 !important;
        white-space: nowrap;
        text-align: right;
        max-width: 110px;

        .btn {
            .opacity(0, 0.5s);
            display: inline-block;
            margin-right: -5px;
        }
    }

    &-footer {
        & > div {            
            align-self: flex-start;
        }

        &:hover {
            background: none !important;
        }
    }

    &_buttons {
        white-space: nowrap;
        align-self: flex-start;
        .btn {
            display: inline-block;
            margin-right: -5px;
        }
    }

    &_delivery{
        padding-top: 20px !important;
        font-weight: @font-bold !important;

        label {
            color: @color-primary !important;
            &>span{
                padding-left: 5px;
            }
        }
        [type=checkbox]:checked+label:after, [type=checkbox]:not(:checked)+label:after {
            color: @color-primary !important;
        }
        [type=checkbox]:checked+label:before {
            border: 1px solid @color-primary !important;
        }
    }
   
    &_credit {
        padding-top: 10px !important;

        .selector{
            margin-top: 0 !important;
        }
    }     
    &_link{
        &:hover{
            background: none;
        }
        input{
            width: 100%;
            background: @color-black-divider;
            color: @color-black-secondary;
            border: none;
            padding: 10px;
        }
    }
    
    [type=checkbox]:checked + label:before, [type=checkbox]:not(:checked) + label:before {
            top: -1px;
            width: 18px;
            height: 18px;
            border: 1px solid @color-black-divider;
        }

        [type=checkbox]:checked + label:after, [type=checkbox]:not(:checked) + label:after {
            top: 3px;
            left: 2px;
            font-size: 14px;
        }

}


/*Adaptivity*/

  @media (min-width: @screen-sm) {
    .product-list{
        &>div{
            padding: 10px;
       }
        &>&_title{
            min-width: 100px;
        }
        &>&_title,
        &>&_total{
            font-size: @font-normal;
        }
    }
  }

  @media (min-width: @screen-md) {

  }
  
  @media (min-width: @screen-lg) {

  }
  
  @media (min-width: @screen-xl) {
    .product-list{
        &>div{
            padding: 10px 15px;
       }
        &>&_title{
            min-width: 200px;
        }
        &>&_title,
        &>&_total{
            font-size: @font-medium
        }
    }
  }
  
  @media (min-width: @screen-xxl) {

  }