﻿<span>
    <select chosen
            data-placeholder-text-multiple="$ctrl.settings.placeholder || 'Выберите опцию'"
            ng-model="$ctrl.kdModel"
            multiple="multiple"
            class="chosen-select"
            data-placeholder="Не выбрано"
            ng-change="$ctrl.itemSelect()"
            ng-options="item.id as item.name for item in $ctrl.items">
    </select>
</span>