﻿<h1 class="page-header">
    Черновики
    <a href="/import/collection?collectionId={{$ctrl.integrationCollectionId}}" class="btn btn-default pull-right">К коллекции</a>
    <a href="/import/ProductValidation?collectionId={{$ctrl.integrationCollectionId}}" class="btn btn-default pull-right">Валидация</a>
</h1>

<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber==1}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(1)">Характеристики</a></li>
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber==2}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(2)">Поля из 1С</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading" ng-show="$ctrl.activeTabNumber===1">
        <!--main tabs-->
        <!--mass editing-->
        <!-- mass editing tab specs -->
        <div class="row">
            <div class="col-xs-2">
                <span>Количество на странице</span>
                <select ng-options="item.value as item.name for item in $ctrl.pageCountlList" ng-model="$ctrl.paging.itemsOnPage" ng-change="$ctrl.getProducts(1)" class="form-control" style="max-width:70px;"></select>
            </div>
            <div class="col-xs-2 form-inline">
                <span style="vertical-align: top; padding-right: 15px;">Тип целевой аудитории </span>
                <kd-select-multi-chosen settings="{placeholder: 'Выберите целевую аудиторию'}" kd-model="$ctrl.targetAudienceForMassEditing" list-items="$ctrl.targetAudienceList"></kd-select-multi-chosen>
            </div>
            <div class="col-xs-2 form-inline">
                <span style="vertical-align: top; padding-right: 15px;">Стиль </span>
                <kd-select-multi-chosen settings="{placeholder: 'Выберите стиль'}" kd-model="$ctrl.stylesForMassEditing" list-items="$ctrl.stylesList"></kd-select-multi-chosen>
            </div>
            <div class="col-xs-2 form-inline">
                <span style="vertical-align: top; padding-right: 15px;">Разобранный вид </span>
                <br />
                <select ng-model="$ctrl.disassemblyStateForAll" ng-change="$ctrl.editAllProducts()" style="left:0!important; position:static!important" class="form-control">
                    <option ng-repeat="item in $ctrl.disassemblyStatesList" value="{{item.value}}">{{item.name}}</option>
                </select>
            </div>
            <div class="col-xs-2">
                <br /><button class="btn btn-primary" ng-click="$ctrl.editAllProducts()">Применить</button>
            </div>
        </div>
    </div>

    <!--pages count-->
    <!--table for specs-->
    <div class="panel-body" ng-show="$ctrl.activeTabNumber==1">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th></th>
                        <th>
                            Тип артикула
                        </th>
                        <th>
                            Код 1С
                        </th>
                        <th>
                            Цвет корпуса
                        </th>
                        <th>
                            Отделка
                        </th>
                        <th>
                            Цвет отделки
                        </th>
                        <th>
                            Маркетинговый артикул
                        </th>
                        <th>Маркетинговый вес</th>
                        <!--<th>Соответствие</th>-->
                        <th>Тип целевой аудитории</th>
                        <th>Стиль</th>
                        <th>Описание</th>
                        <th>Разобранный вид</th>
                        <th class="input-width">Размер комнаты</th>
                        <th>Количество спальных мест</th>
                        <th>Фотографии</th>
                    </tr>
                    <tr class="row">
                        <th><input type="checkbox" ng-model="$ctrl.allSelected" ng-click="$ctrl.selectAll()"/></th>
                        <th>
                            <kd-select-single-chosen object="{type:'furnitureType'}" kd-model="$ctrl.chosenFurnitureType" list-items="$ctrl.furnitureType" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'syncCode1C'}" kd-model="$ctrl.chosenSyncCode1C" list-items="$ctrl.syncCode1C" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'frameColor'}" kd-model="$ctrl.chosenFrameColor" list-items="$ctrl.frameColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facing'}" kd-model="$ctrl.chosenFacing" list-items="$ctrl.facing" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <button class="btn btn-default" ng-click="$ctrl.cancelFilters()">Сбросить всё</button>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- filters -->
                    <tr class="row" ng-repeat="product in $ctrl.products">
                        <td><input type="checkbox" ng-model="product.isSelected" /></td>
                        <td><strong ng-bind="product.furnitureType"></strong></td>
                        <td ng-bind="product.syncCode1C"></td>
                        <td ng-bind="product.frameColor"></td>
                        <td ng-bind="product.facing"></td>
                        <td ng-bind="product.facingColor"></td>
                        <td ng-bind="product.marketerVendorCode"></td>
                        <td ng-bind="product.marketerRange"></td>
                        <!--<td><input class="form-control" ng-model="product.syncCode1CConformity" /></td>-->
                        <td>
                            <kd-select-multi-chosen settings="{placeholder: 'Выберите целевую аудиторию'}" kd-model="product.targetTypes" list-items="$ctrl.targetAudienceList"></kd-select-multi-chosen>
                        </td>
                        <td>
                            <kd-select-multi-chosen settings="{placeholder: 'Выберите стиль'}" kd-model="product.styles" list-items="$ctrl.stylesList"></kd-select-multi-chosen>
                        </td>
                        <td><textarea class="form-control" ng-model="product.descr"></textarea></td>
                        <td><input type="checkbox" ng-model="product.isDisassemblyState" /></td>
                        <td><input class="form-control" ng-model="product.roomSize" /></td>
                        <td><input class="form-control" ng-model="product.sleepingAreaAmount" type="number" min="0" max="10" /></td>
                        <td>
                            <button ng-class="{'btn-success' : $ctrl.checkIsAllImagesExist(product), 'btn-default' : !($ctrl.checkIsAllImagesExist(product))}"
                                    class="btn" ng-click="$ctrl.openDownloadingWindow(product)">
                                Загрузка
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center" ng-show="$ctrl.activeTabNumber==1">
        <button type="button" class="btn btn-default" ng-click="$ctrl.prev()" ng-disabled="$ctrl.paging.page <= 1"><i class="fa fa-arrow-left"></i></button>
        <span ng-bind="$ctrl.paging.page"></span>
        <span>из</span>
        <span ng-bind="$ctrl.paging.pageCount"></span>
        <button type="button" class="btn btn-default" ng-click="$ctrl.next()" ng-disabled="$ctrl.paging.page >= $ctrl.paging.pageCount"><i class="fa fa-arrow-right"></i></button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.saveChanges()">Сохранить</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveChangesAndPublish()">Опубликовать выбранные</button>
    </div>
    <!--table for 1CFields-->
    <div class="panel-body" ng-show="$ctrl.activeTabNumber==2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="row">
                        <th></th>
                        <th>Тип артикула</th>
                        <th>Код 1С</th>
                        <th>Цвет фасада</th>
                        <th>Отделка</th>
                        <th>Цвет отделки</th>
                        <th>Маркетинговый артикул</th>
                        <th>Маркетинговый вес</th>
                        <th>Подсветка</th>
                        <th>Материал</th>
                        <th>Левый-Правый</th>
                        <th>Форма артикула</th>
                        <th>Карнизы</th>
                        <th class="input-width">Высота</th>
                        <th class="input-width">Ширина</th>
                        <th class="input-width">Глубина</th>
                        <th>Механизм</th>
                        <th>Нагрузка</th>
                        <th class="input-width">Длина спального места</th>
                        <th class="input-width">Ширина спального места</th>
                        <th>Гарантия</th>
                    </tr>

                    <tr class="row">
                        <th><input type="checkbox" ng-model="$ctrl.allSelected" ng-click="$ctrl.selectAll()" /></th>
                        <th>
                            <kd-select-single-chosen object="{type:'furnitureType'}" kd-model="$ctrl.chosenFurnitureType" list-items="$ctrl.furnitureType" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'syncCode1C'}" kd-model="$ctrl.chosenSyncCode1C" list-items="$ctrl.syncCode1C" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'frameColor'}" kd-model="$ctrl.chosenFrameColor" list-items="$ctrl.frameColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <th>
                            <kd-select-single-chosen object="{type:'facing'}" kd-model="$ctrl.chosenFacing" list-items="$ctrl.facing" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </th>
                        <td>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- filters -->
                    <!--<tr class="row">
                        <td></td>
                        <td>
                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <kd-select-single-chosen object="{type:'facingColor'}" kd-model="$ctrl.chosenFacingColor" list-items="$ctrl.facingColor" kd-change="$ctrl.filterProducts"></kd-select-single-chosen>
                        </td>
                        <td><button class="btn btn-default" ng-click="$ctrl.cancelFilters()" style="background-color:white">Сбросить всё</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> -->
                    <tr class="row" ng-repeat="product in $ctrl.products">
                        <td><input type="checkbox" ng-model="product.isSelected"/></td>
                        <td><strong ng-bind="product.furnitureType"></strong></td>
                        <td ng-bind="product.syncCode1C"></td>
                        <td ng-bind="product.frameColor"></td>
                        <td ng-bind="product.facing"></td>
                        <td ng-bind="product.facingColor"></td>
                        <td ng-bind="product.marketerVendorCode"></td>
                        <td ng-bind="product.marketerRange"></td>
                        <td>
                            <kd-select-single-chosen kd-model="product.backlight" list-items="$ctrl.backlightList" settings="{placeholder :'Выберите подсветку'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.material" list-items="$ctrl.materialList" settings="{placeholder :'Выберите материал'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.leftRight" list-items="$ctrl.leftRightList" settings="{placeholder :'Выберите правый левый'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.furnitureForm" list-items="$ctrl.furnitureFormList" settings="{placeholder :'Выберите форму артикула'}"></kd-select-single-chosen>
                        </td>
                        <td>
                            <kd-select-single-chosen kd-model="product.productPartMarker" list-items="$ctrl.productPartMarkerList" settings="{placeholder :'Выберите наличие карнизов'}"></kd-select-single-chosen>
                        </td>
                        <td><input class="form-control" ng-model="product.height" /></td>
                        <td><input class="form-control" ng-model="product.width" /></td>
                        <td><input class="form-control" ng-model="product.length" /></td>
                        <td>
                            <kd-select-single-chosen list-items="$ctrl.mechanismList" kd-model="product.mechanism" settings="{placeholder :'Выберите механизм'}"></kd-select-single-chosen>
                        </td>
                        <td><input class="form-control" ng-model="product.permissibleLoad" /></td>
                        <td><input class="form-control" ng-model="product.sleepingAreaWidth" /></td>
                        <td><input class="form-control" ng-model="product.sleepingAreaLength" /></td>
                        <td><input class="form-control" ng-model="product.warranty" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center" ng-show="$ctrl.activeTabNumber==2">
        <button type="button" class="btn btn-default" ng-click="$ctrl.prev()" ng-disabled="$ctrl.paging.page <= 1">Назад</button>
        <span ng-bind="$ctrl.paging.page"></span>
        <span>из</span>
        <span ng-bind="$ctrl.paging.pageCount"></span>
        <button type="button" class="btn btn-default" ng-click="$ctrl.next()" ng-disabled="$ctrl.paging.page >= $ctrl.paging.pageCount">Вперед</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.saveChanges()">Сохранить</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveChangesAndPublish()">Опубликовать выбранные</button>
    </div>
</div>

<div id="modal-products-images" ng-if="$ctrl.openModal" class="modal-alexasha">
    <div class="modal-content-alexasha">
        <div>
            <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
        </div>
        <kd-products-images-import product="$ctrl.productDownload" furniture-type="{{$ctrl.productDownload.furnitureType}}" sync-code="{{$ctrl.productDownload.syncCode1C}}"></kd-products-images-import>
    </div>
</div>