<div class="field-file">
    <div class="field-file__name">Выбор файлов</div>
    <label class="field-file__input-wrap">
    <input class="field-file__input" type="file" data-multiple-caption="файлов выбрано: {count}" multiple>
    <div class="field-file__name-text" data-button-text="Выбрать файл(ы)">Ничего не выбрано</div>
    <div class="field-file__help-text">Отображение выбранного файла(ов) требует Javascript-а. Стилизация — не требует.</div>
  </label>
</div>