.profile-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;

    &_nav{
        max-width: 267px;
        align-self: center;
        flex-shrink: 0;
        flex-basis: 267px;

        ul{
            margin-bottom: @grid-gutter-width/2;
        }
        ul>li>a {
            .transitions();
            display: block;
            color: @color-black-primary;
            font-size: @font-medium;
            line-height: @grid-gutter-width;
            cursor:pointer;

            &:hover{
                letter-spacing: 2px;
            }
        }
        ul>li.active>a {
            color: @color-primary;
            font-size: @font-big; 
                       
            &:hover{
                letter-spacing: 0px;
            }
        }
    }

    &_wrap {
        flex-grow: 1;
    }
    &_inner {
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        min-height: 100%;
    }
    &_subnav{
        align-self: center;
        flex-shrink: 0;
        flex-basis: 300px;
        padding-right: 60px;

        ul{
            margin-bottom: @grid-gutter-width/2;
        }
        
        ul>li>a {
            .transitions();
            color: @color-black-primary;
            display: block;
            font-size: @font-medium;
            line-height: @grid-gutter-width;
            cursor:pointer;

            &:hover{
                letter-spacing: 2px;
            }
        }
        ul>li.active>a {
            color: @color-primary;
            font-size: @font-big;
            
            &:hover{
                letter-spacing: 0px;
            }
        }
    }
    &_list {
        align-self: center;

        h4{
           color: @color-black-primary;

           &>span{
               color: @color-black-secondary;
               font-size: @font-big !important;
               display: inline-block;
               padding-right: 15px;
               font-weight: @font-bold;
               min-width: 100px;
           }
        }
        &--adress{
            font-size: @font-medium;
            font-weight: @font-regular;
        }
    }
    
    &_list--form {
        h2 {
            font-size: @font-big;
            margin: @grid-gutter-width 0 0;
        }
        p{
            margin: 15px 0;
        }

        .form-group{
            display: flex;
            flex-wrap: nowrap;
            max-width: 350px;

            &>label {
                display: inline-block;
                float: none;
                padding-left: 0 !important;
                padding-right: 15px;
                min-width: 80px;
                max-width: 120px;
                line-height: 37px;
                white-space: nowrap;
            }

            &>div {
                display: inline-block;
                float: none;
                width: 100%;
                padding: 0 !important;
                padding-right: 15px;

                input {
                    .transitions();
                    color: @color-primary;
                    border: none;
                    padding: 10px 0;
                    border-radius: 0;
                    width: 100%;
                    background: transparent;
                    font-weight: 400;
                    font-size: @font-normal;
                    -webkit-appearance: none;           
                    border-bottom: 1px solid @color-black-divider;

                    &:focus {
                        outline:none;
                        border-bottom: 1px solid @color-primary;
                    }
                }
            }
         }
    }
    &_adress {
        .user-info_option{
            display: none;
        }
        .order-info{
            padding-left: 0;
            padding-right: 0;
        }
    }
}



/*
.page-profile {
    padding: 0 @grid-gutter-width*2;


    h1 {
        font-size: @font-huge;
        line-height: @font-huge;
        text-align: center;
        margin: @grid-gutter-width/3 0 @grid-gutter-width 0;
    }
        h2{
            color: @color-black-primary;
            font-size: @font-big;
            margin-bottom: @grid-gutter-width/2;
            font-weight: 500;
        }
    table {
        width: 100%;
    }
    table tr td{
        padding: @grid-gutter-width/10 @grid-gutter-width/3;

        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }

    .profile-wrap{
        .row(0);

    }
    .user_info{
        .col(xs,12);
        .col(md,4);
        .col(xl,3);

        .input{
            display: flex;
            
            &__label{
                display: inline-block;
                float: none;
                padding: 0;
                width: 100px;
                

                
                &-content{
                    //padding-bottom: 5px;
                }
            }
            &__field{
                color: @color-primary;
                display: inline-block;                
                float: none;
                border-bottom: 1px solid @color-black-disabled;
            }
        }
    }
    .user_adress{
        .col(xs,12);
        .col(md,4);
        .col(xl,4);

        table{
            background: rgba(0,0,0,0.05);
            font-size: @font-normal;
            margin: @grid-gutter-width/2 0;
            max-width: 450px;
            thead th{
                color: @color-primary;
                background: #fff;
                font-weight: 500;
                text-align: left;
                padding: 5px 0;
                border-bottom: 1px solid @color-black-divider;

                .btn{
                    margin: 0;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    border: none;
                    text-align: center;

                    &:hover:after{
                        width: 100%;
                        height: 100%;
                        background: @color-black-disabled;
                    }
                    &:active:after{
                        background: @color-black-primary;
                    }
                }
            }

            tr td{
                padding: 5px 15px;

                &:first-child {                
                    color: @color-black-disabled;
                }
            }
            tr:first-child td{
                padding: 15px 15px 5px 15px;
            }
            tr:last-child td{
                padding:  5px 15px 15px 15px;
            }
        }
    }
    .password {
        .col(xs,12);
        .col(md,4);
        .col(xl,3);

        .input{
            display: flex;
            
            &__label{
                display: inline-block;
                float: none;
                padding: 0;
                width: 120px;
                

                
                &-content{
                    //padding-bottom: 5px;
                }
            }
            &__field{
                color: @color-primary;
                display: inline-block;                
                float: none;
                border-bottom: 1px solid @color-black-disabled;
            }
        }
    }

    .podpiski{
        font-size: @font-big;
        margin-top: @grid-gutter-width;
        .description{
            display: block;
            font-size: @font-normal;
            color: @color-black-disabled;
            padding-left: 25px;
            margin-bottom: @grid-gutter-width;
        }
    }

    .app-projects{
        width: 100%;
        max-width: 960px;
        th{
            text-align: left;
            padding: 0 10px @grid-gutter-width  10px; 
        }
        td{
            vertical-align: middle;

            &:nth-child(1){
                width: 250px;

                img{
                    width: 100%;
                }
            }
            &:nth-child(2){
                font-size: @font-big;
                font-weight: 500;
            }
            &:nth-child(3){
                color: @color-black-secondary;

            }
        }
    }
    
    .user-log{
        width: 100%;
        max-width: 960px;
        th{
            text-align: left;
            padding: 0 10px;
            font-size: @font-normal;
            color: @color-black-disabled;
            

        }
        td{
            vertical-align: middle;
            
            padding:10px;

            h3{
                display: block;
                font-size: @font-medium;
                color: @color-black-primary;
            }
            p {
                font-size: @font-normal;
                padding: @grid-gutter-width/2 0;
                color: @color-black-secondary;
            }

            &:nth-child(1){
            }
            &:nth-child(2){
                 color: @color-black-secondary;
            }
            &:nth-child(3){
                    color: @color-primary;                    
                font-size: @font-normal;
                white-space: nowrap;

                }

            }
        }

 
    .user-zapros{
        width: 100%;
        th{
            text-align: left;
            padding: 0 10px;
            font-size: @font-normal;
            color: @color-black-disabled;
            

        }
        td{
            vertical-align: middle;
            
            padding:10px;

            h3{
                display: block;
                font-size: @font-medium;
                color: @color-black-primary;
                white-space: nowrap;
            }
            p {
                font-size: @font-normal;
                color: @color-black-secondary;
            }

            a{
                color: @color-primary;
            }

            &:nth-child(1){                 
                font-size: @font-normal;
                 color: @color-black-disabled;
            }
            &:nth-child(2){             
                 color: @color-black-secondary;
            }
            &:nth-child(3){                 
                font-size: @font-normal;

                }
            &:nth-child(4){                
                font-size: @font-normal;

                }
            &:nth-child(5){
                    color: @color-black-primary;                    
                font-size: @font-normal;
                white-space: nowrap;

                }

            }
        }
    }
*/