﻿    <kd-profile-readonly class="profile-content_inner" ng-hide="$ctrl.isEdited || $ctrl.isRestorePassword" kd-edited="$ctrl.isEdited" kd-restore-password="$ctrl.isRestorePassword" kd-model="$ctrl.User"></kd-profile-readonly>
    <kd-profile-edit class="profile-content_inner" ng-show="$ctrl.isEdited"  kd-edited="$ctrl.isEdited"  kd-model="$ctrl.User"></kd-profile-edit>
    <kd-profile-restore-password class="profile-content_inner" ng-show="$ctrl.isRestorePassword" kd-restore-password="$ctrl.isRestorePassword"></kd-profile-restore-password>