﻿<h1 class="page-header">Опубликованные карточки</h1>
<div class="panel panel-default panel-products">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
                <span>Количество на странице</span>
                <select ng-options="item.value as item.name for item in $ctrl.pageCountlList" ng-model="$ctrl.paging.itemsOnPage" ng-change="$ctrl.getProducts(1)" class="form-control" style="max-width: 70px;"></select>
            </div>
            <div class="col-xs-4">
                <span>Артикул </span><br />
                <span class="form-inline">
                    <input class="form-control" ng-model="$ctrl.vendorCode" />
                    <button type="button" class="btn btn-default" ng-click="$ctrl.getProducts(1)">Применить</button>
                </span>
            </div>
        </div>
    </div>

    <div class="panel-body">
            <!--tabs panel for choose different groups of fields of products-->
            <div class="panel panel-primary" ng-repeat="publishedProduct in $ctrl.publishedProducts">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- label for article sync code -->
                            <h4 style="margin-top: 0; margin-bottom: 0;">
                                <span ng-bind="publishedProduct.furnitureType"></span>
                                <span ng-bind="publishedProduct.vendorCode"></span>
                            </h4>
                        </div>
                        <div class="col-md-3" style="margin-bottom: -10px; margin-top: -10px;">
                            <ul class="nav nav-tabs navbar-right">
                                <li role="presentation" ng-class="{active: $ctrl.activeTabNumber==1}"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(1)">Характеристики</a></li>
                                <li role="presentation" ng-class="{active: $ctrl.activeTabNumber==2}"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(2)">Поля из 1С</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--table for specs-->
                <div ng-show="$ctrl.activeTabNumber==1">
                    <div class="panel-body panel-scroll">
                        <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="row">
                                        <th></th>
                                        <th>По умолчанию</th>
                                        <th>Тип артикула</th>
                                        <th>Код 1С</th>
                                        <th>Цвет корпуса</th>
                                        <th>Отделка</th>
                                        <th>Цвет отделки</th>
                                        <th>Маркетинговый артикул</th>
                                        <th>Маркетинговый вес</th>
                                        <!--<th>Соответствие</th>-->
                                        <th>Тип целевой аудитории</th>
                                        <th>Стиль</th>
                                        <th>Описание</th>
                                        <th>Разобранный вид</th>
                                        <th class="input-width">Размер комнаты</th>
                                        <th>Кол-во спальных мест</th>
                                        <th>Фотографии</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row" ng-repeat="product in publishedProduct.products">
                                        <td></td>
                                        <td><input type="checkbox" ng-model="product.isDefault" ng-click="$ctrl.changeDefaultProduct(product.vendorCode, product.productId)"/></td>
                                        <td><strong ng-bind="product.furnitureType"></strong></td>
                                        <td ng-bind="product.syncCode1C"></td>
                                        <td ng-bind="product.frameColor"></td>
                                        <td ng-bind="product.facing"></td>
                                        <td ng-bind="product.facingColor"></td>
                                        <td ng-bind="product.marketerVendorCode"></td>
                                        <td ng-bind="product.marketerRange"></td>
                                        <!--<td><input class="form-control" ng-model="product.syncCode1CConformity" /></td>-->
                                        <td>
                                            <kd-select-multi-chosen settings="{placeholder: 'Выберите целевую аудиторию'}" kd-model="product.targetTypes" list-items="$ctrl.targetAudienceList"></kd-select-multi-chosen>
                                        </td>
                                        <td>
                                            <kd-select-multi-chosen settings="{placeholder: 'Выберите стиль'}" kd-model="product.styles" list-items="$ctrl.stylesList"></kd-select-multi-chosen>
                                        </td>
                                        <td><textarea class="form-control" ng-model="product.descr"></textarea></td>
                                        <td><input type="checkbox" ng-model="product.isDisassemblyState" /></td>
                                        <td><input class="form-control" ng-model="product.roomSize" /></td>
                                        <td><input class="form-control" ng-model="product.sleepingAreaAmount" type="number" min="0" max="10" /></td>
                                        <td>
                                            <button ng-class="{'btn-success' : $ctrl.checkIsAllImagesExist(product), 'btn-default' : !($ctrl.checkIsAllImagesExist(product))}"
                                                    class="btn" ng-click="$ctrl.openDownloadingWindow(product)">
                                                Загрузка
                                            </button>
                                        </td>
                                        <td><button class="btn btn-default" ng-click="$ctrl.unPublish(product)"> Снять с публикации </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveChanges(publishedProduct.products)">Сохранить</button>
                    </div>
                </div>
                <div ng-show="$ctrl.activeTabNumber==2">
                    <div class="panel-body  panel-scroll">
                        <!--table for 1CFields-->
                        <div class="row" ng-show="$ctrl.activeTabNumber==2">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="row">
                                            <th></th>
                                            <th>Тип артикула</th>
                                            <th>Код 1С</th>
                                            <th>Цвет корпуса</th>
                                            <th>Отделка</th>
                                            <th>Цвет отделки</th>
                                            <th>Маркетинговый артикул</th>
                                            <th>Маркетинговый вес</th>
                                            <th>Подсветка</th>
                                            <th>Материал</th>
                                            <th>Левый-Правый</th>
                                            <th>Форма артикула</th>
                                            <th>Карнизы</th>
                                            <th class="input-width">Высота</th>
                                            <th class="input-width">Ширина</th>
                                            <th class="input-width">Глубина</th>
                                            <th>Механизм</th>
                                            <th>Нагрузка</th>
                                            <th class="input-width">Длина спального места</th>
                                            <th class="input-width">Ширина спального места</th>
                                            <th>Гарантия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row" ng-repeat="product in publishedProduct.products">
                                            <td></td>
                                            <td><strong ng-bind="product.furnitureType"></strong></td>
                                            <td ng-bind="product.syncCode1C"></td>
                                            <td ng-bind="product.frameColor"></td>
                                            <td ng-bind="product.facing"></td>
                                            <td ng-bind="product.facingColor"></td>
                                            <td ng-bind="product.marketerVendorCode"></td>
                                            <td ng-bind="product.marketerRange"></td>
                                            <td>
                                                <kd-select-single-chosen kd-model="product.backlight" list-items="$ctrl.backlightList" settings="{placeholder :'Выберите подсветку'}"></kd-select-single-chosen>
                                            </td>
                                            <td>
                                                <kd-select-single-chosen kd-model="product.material" list-items="$ctrl.materialList" settings="{placeholder :'Выберите материал'}"></kd-select-single-chosen>
                                            </td>
                                            <td>
                                                <kd-select-single-chosen kd-model="product.leftRight" list-items="$ctrl.leftRightList" settings="{placeholder :'Выберите правый левый'}"></kd-select-single-chosen>
                                            </td>
                                            <td>
                                                <kd-select-single-chosen kd-model="product.furnitureForm" list-items="$ctrl.furnitureFormList" settings="{placeholder :'Выберите форму артикула'}"></kd-select-single-chosen>
                                            </td>
                                            <td>
                                                <kd-select-single-chosen kd-model="product.productPartMarker" list-items="$ctrl.productPartMarkerList" settings="{placeholder :'Выберите наличие карнизов'}"></kd-select-single-chosen>
                                            </td>
                                            <td><input class="form-control" ng-model="product.height" /></td>
                                            <td><input class="form-control" ng-model="product.width" /></td>
                                            <td><input class="form-control" ng-model="product.length" /></td>
                                            <td>
                                                <kd-select-single-chosen list-items="$ctrl.mechanismList" kd-model="product.mechanism" settings="{placeholder :'Выберите механизм'}"></kd-select-single-chosen>
                                            </td>
                                            <td><input class="form-control" ng-model="product.permissibleLoad" /></td>
                                            <td><input class="form-control" ng-model="product.sleepingAreaWidth" /></td>
                                            <td><input class="form-control" ng-model="product.sleepingAreaLength" /></td>
                                            <td><input class="form-control" ng-model="product.warranty" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveChanges(publishedProduct.products)">Сохранить</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="panel-footer text-center">
        <button type="button" class="btn btn-default" ng-click="$ctrl.prev()" ng-disabled="$ctrl.paging.page <= 1"><i class="fa fa-arrow-left"></i></button>
        <span ng-bind="$ctrl.paging.page"></span>
        <span>из</span>
        <span ng-bind="$ctrl.paging.pageCount"></span>
        <button type="button" class="btn btn-default" ng-click="$ctrl.next()" ng-disabled="$ctrl.paging.page >= $ctrl.paging.pageCount"><i class="fa fa-arrow-right"></i></button>
    </div>

    <div id="modal-products-images" ng-if="$ctrl.openModal" class="modal-alexasha">
        <div class="modal-content-alexasha">
            <div>
                <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
            </div>
            <kd-products-images-import product="$ctrl.productDownload" furniture-type="{{$ctrl.productDownload.furnitureType}}" sync-code="{{$ctrl.productDownload.syncCode1C}}"></kd-products-images-import>
        </div>
    </div>
</div>
