﻿.filter {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -10px;

    .chosen-container-active .chosen-choices {
        border: none !important;
    }
    .chosen-container {
        width: 100% !important;
        max-width: 300px;
    }
    .selector {
        width: 100%;
        max-width: 400px;
        margin-right: 30px !important;        
        margin-top: 12px !important;    
        border-bottom: 1px solid @color-black-divider;
        height: 28px;

        &-label {
        max-width: 100px;
        min-width: 95px;
        color: @color-black-primary;
        }
    }
    .chosen-container-multi .chosen-choices:after {
        display: none;
    }
}
