﻿<main class="content page-collection">
    <!--<ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="/">Каталог</a></li>
        <li><a href="/">...</a></li>
        <li><a href="/">...</a></li>
    </ul>-->
    <div class="shop-wrapper">
        <aside class="shop-wrapper_nav">
            <h2>Предметы мебели</h2>
            <ul class="catalog-nav lists" style="display: block;">
                <li>
                    <a id="rooms-types-menu" ng-href="/catalog-single/{{$ctrl.parentFurnitureAlias}}">Вся мебель</a>
                </li>
                <li ng-repeat="furniture in $ctrl.furnitureTypes" ng-class="{'active' : furniture.alias===$ctrl.furnitureAlias}">
                    <a ng-href="/catalog-single/{{$ctrl.parentFurnitureAlias}}/{{furniture.alias}}" id="furniture.name" class="link" ng-bind="furniture.name"></a>
                </li>
            </ul>
        </aside>
        <section class="shop-content" id="div-goods-parent">
            <!--Фильтр-->
            <div class="filter" id="filter">
                <kd-filter-multi-select class="selector" settings="{title: 'Цвет корпуса', placeholder: 'Выберите цвет'}" list-items="$ctrl.frameColors"
                                        kd-model="$ctrl.selectedFrameColors" kd-change="$ctrl.changeFrameColor"></kd-filter-multi-select>
                <kd-filter-multi-select class="selector" settings="{title: 'Тип отделки'}" list-items="$ctrl.facings" kd-model="$ctrl.selectedFacings"
                                        kd-change="$ctrl.changeFacing"></kd-filter-multi-select>
                <kd-filter-multi-select class="selector" settings="{title: 'Цвет отделки'}" list-items="$ctrl.facingColors"
                                        kd-model="$ctrl.selectedFacingColors" kd-change="$ctrl.changeFacingColor"></kd-filter-multi-select>
            </div>
            <!-- TODO при переходе к таске изменения функциональности по странице единичных продкутов, неоходимо отдавать маркетинговый продкут! юзер стори 1728 -->
            <section class="shop-list">
                <kd-products ng-repeat="item in $ctrl.products"
                         class="shop-list_item"
                         marketer-product="item"></kd-products>
            </section>
        </section>
    </div>
</main>
