.header-navigation {
    &_container {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        align-self: center;
        flex-wrap: nowrap;
        &>li {
            height: @header-height;
            position: relative;
            padding: 0 @grid-gutter-width/2;
            display: inline-block;
            background: #fff;
            &>a {
                color: @color-black-primary;
                font-size: @font-normal;
                line-height: @header-height;
                &:hover {
                    text-decoration: none;
                    background: #fff;
                }
            }
            &.active {
                color: @color-black;
                &>a {
                    border-bottom: 2px solid @color-black-primary;
                    &:hover {}
                }
            }
            &:hover>ul {
                transform: translateX(0);
                top: 50px;
                opacity: 1;
                visibility: visible;
                
            }
            &>ul {
                .transitions();
                opacity: 0;
                position: absolute;
                z-index: -1000;
                display: block;
                transform: translateX(20%);
                top: 30px;
                left: 0;
                visibility: hidden;
                background: #fff;
                box-shadow: 0px 3px 5px @color-black-divider;
                &>li>a {
                    .transitions();
                    display: block;
                    text-align: left;
                    height: 40px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    padding: 0 @grid-gutter-width 0 @grid-gutter-width/2;
                    color: @color-black-secondary;
                    white-space: nowrap;
                    &:hover {
                        color: @color-black-primary;
                        background: rgba(0, 0, 0, 0.06);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: @screen-lg) {
    .header-navigation>ul {
        position: absolute;
        z-index: 2;
        top: @header-height;
        left: 0;
        width: 100%;
        background-color: @color-white;
        display: none;
        box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
    }
    .header-navigation>ul a {
        /* target header-navigation links */
        display: block;
        height: @header-height;
        line-height: @header-height;
        padding-left: 5%;
        color: #25283D;
        font-size: 1.8rem;
        border-top: 1px solid #f2f2f2;
    }
    .header-navigation>ul a:hover,
    .header-navigation>ul a.active {
        color: #8F3985;
    }
    & .nav-trigger {
        display: table;
        height: 100%;
        padding: 0 1em;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #25283D;
        font-weight: bold;
        right: 0;
        border-left: 1px solid #f2f2f2;
        & span {
            /* vertically align inside parent element */
            display: table-cell;
            vertical-align: middle;
        }
        & em,
        & em::after,
        & em::before {
            /* this is the menu icon */
            display: block;
            position: relative;
            height: 2px;
            width: 22px;
            background-color: #25283D;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        & em {
            /* this is the menu central line */
            margin: 6px auto 14px;
            -webkit-transition: background-color .2s;
            transition: background-color .2s;
        }
        & em::before,
        & em::after {
            position: absolute;
            content: '';
            left: 0;
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s;
        }
        & em::before {
            /* this is the menu icon top line */
            -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
            transform: translateY(-6px);
        }
        & em::after {
            /* this is the menu icon bottom line */
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px);
        }
    }
    &.nav-open .nav-trigger em {
        /* transform menu icon into a 'X' icon */
        background-color: rgba(255, 255, 255, 0);
    }
    &.nav-open .nav-trigger em::before {
        /* rotate top line */
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &.nav-open .nav-trigger em::after {
        /* rotate bottom line */
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@media only screen and (min-width: @screen-lg) {
    .auto-hide-header .nav-trigger {
        display: none;
    }
}