﻿<form name="profile-part">
    <h2>Личные данные</h2>
    <div class="row">
        <div class="col-md-4">
            <span>Имя</span>
        </div>
        <div class="col-md-8">
            <input type="text" required ng-model="$ctrl.profile.firstName">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Фамилия</span>
        </div>
        <div class="col-md-8">
            <input type="text" required ng-model="$ctrl.profile.lastName">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Отчество</span>
        </div>
        <div class="col-md-8">
            <input type="text" required ng-model="$ctrl.profile.middleName">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Email</span>
        </div>
        <div class="col-md-8">
            <input type="email" required ng-model="$ctrl.profile.email">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <span>Телефон</span>
        </div>
        <div class="col-md-8">
            <input type="text" required ng-model="$ctrl.defaultPhone.phone" ui-mask="+9 (999) 999-99-99">
        </div>
    </div>
</form>
