﻿.modal-dialog {
    background: @color-black-divider;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;    

    .modal-form{
        .modal-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            max-width: 400px;
            background: #fff;
            border: 1px solid @color-black-disabled;
            border-radius: 2px;
        
            .container{
                background: none;
                padding: 10px;
            }

            .row{
                background: none;
                margin: 0px;
            }

            .form-group{
                margin-top: 10px;
                .form-control{
                    width: 100%;
                    padding: 5px;
                }
            }

            h4{
                border: none;
                font-size: @font-big;
                margin-bottom: 10px;
            }
        }
    }
}