﻿.catalog-categories {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0;
    height: calc(~'100% - 50px');
    top: @header-height;
    right: 0;
    position: absolute;
    //overflow: hidden;
    &_row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        position: relative;
    }
    table {
        width: 100%;
        height: 100%;
        tr {
            td {
                border: 1px solid #eee;
                width: 20%;
                height: 100%/6;
                position: relative;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                overflow: hidden;
                .view-all {
                    .transitions();
                    .gradient-bg();
                    width: 100%;
                    position: absolute;
                    bottom: -60px;
                    h2 {
                        font-size: @font-normal;
                        color: @color-white;
                        font-weight: @font-light;
                        text-align: center;
                        line-height: @grid-gutter-width;
                    }
                }
                &:hover {
                    box-shadow: inset 0 0 30px 0 @color-black-divider;
                    cursor: pointer;

                    .view-all {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.col-h {
    &-1 {
        width: 1/5*100%;
        min-width: 1/5*100%;
    }
    &-2 {
        width: 2/5*100%;
        min-width: 2/5*100%;
    }
    &-3 {
        width: 3/5*100%;
        min-width: 3/5*100%;
    }
    &-4 {
        width: 4/5*100%;
        min-width: 4/5*100%;
    }
    &-5 {
        width: 100%;
        min-width: 100%;
    }
}

.row-v {
    &-1 {
        height: 1/6*100%
    }
    &-2 {
        height: 2/6*100%
    }
    &-3 {
        height: 3/6*100%
    }
    &-4 {
        height: 4/6*100%
    }
    &-5 {
        height: 5/6*100%
    }
    &-6 {
        height: 100%
    }
}