﻿<h1 class="page-header">Фильтры цветов</h1>

<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber===1}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(1)">Цвет корпуса</a></li>
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber===2}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(2)">Отделка</a></li>
    <li role="presentation" ng-class="{active: $ctrl.activeTabNumber===3}" style="display:inline; margin-right: 4px;"><a href="javascript:void(0)" ng-click="$ctrl.changeActiveTabNumber(3)">Цвет отделки</a></li>
</ul>
<div class="panel panel-default">  
    <div class="panel-body">
        <!--table for frameColors -->
        <div ng-show="$ctrl.activeTabNumber==1" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Фотографии</th>
                    </tr>                    
                </thead>
                <tbody>                    
                    <tr ng-repeat="item in $ctrl.frameColors track by item.syncCode1C" id="framecolors-fable">
                        <td ng-bind="item.name"></td>                        
                        <td >
                            <img id="image_{{item.id}}" ng-src="/api/images/variant/{{item.id}}" alt="Картинки нет" width="50" height="50" />
                            <div class="choose-photo">
                                <input type="file" id="file_{{item.id}}" style="width:100%;" />
                                <a href="javascript:void(0)" ng-click="$ctrl.loadImage(item.id)" class="btn btn-primary btn-sm">Загрузить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!--table for facings -->
        <div ng-show="$ctrl.activeTabNumber==2" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Фотографии</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.facings track by item.syncCode1C" id="framecolors-fable">
                        <td ng-bind="item.name"></td>
                        <td>
                            <img id="image_{{item.id}}" ng-src="/api/images/variant/{{item.id}}" alt="Картинки нет" width="50" height="50" />
                            <div class="choose-photo">
                                <input type="file" id="file_{{item.id}}" style="width:100%;" />
                                <a href="javascript:void(0)" ng-click="$ctrl.loadImage(item.id)" class="btn btn-primary btn-sm">Загрузить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--table for facingColors -->
        <div ng-show="$ctrl.activeTabNumber==3" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Фотографии</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.facingColors track by item.syncCode1C" id="framecolors-fable">
                        <td ng-bind="item.name"></td>
                        <td>
                            <img id="image_{{item.id}}" ng-src="/api/images/variant/{{item.id}}" alt="Картинки нет" width="50" height="50" />
                            <div class="choose-photo">
                                <input type="file" id="file_{{item.id}}" style="width:100%;" />
                                <a href="javascript:void(0)" ng-click="$ctrl.loadImage(item.id)" class="btn btn-primary btn-sm">Загрузить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>       
    </div>
</div>