.collection-choser {
    max-width: 100%;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;

    .add-all {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        flex-wrap: nowrap;
        max-width: 250px;

       .btn{           
            font-size: @font-medium;
        i {
            margin:0 5px;
        }
       } 

        .btn-icon{
            width: 65px;
            background: @color-black-secondary;
            color: @color-white-secondary;
            margin-right: -1px;

            &:hover{
            background: @color-black-primary;
            color: #fff;
            }
            
            & .is-favorite{
                position: absolute;
                height: 100%;
                line-height: 50px;
                width: 100%;
                top: 0;
                left: 0;
                color: @color-primary !important;
                background: @color-black-primary;
            }
        }
    }
    .shops-list {
        display: inline-block;
        position: absolute;
        bottom: 30px;
        right: 60px;
        z-index: 20;
    }
    &_photo {
        padding-left: 0;
        &--container {
            position: relative;
            display: block;
            width: 100%;
            &>div {
                display: inline;
            }
            .item-photo {
                .opacity();
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                &.active {
                    .opacity(0.9, 0.2);
                }
            }
            & img {
                width: 100%;
            }
            & .item {
                position: absolute;
                z-index: 10;

                &>.item-add {
                    .border-radius(50%);
                    .transitions();
                    opacity: 0;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -15px;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    text-align: center;
                    line-height: 18px;
                    color: #fff;

                    &:before {
                        font-family: 'icomoon';
                        content: '\e912';
                        font-size: 20px;
                        text-shadow: 0 0 1px @color-black-divider;
                    }

                    &:hover {                        
                        background-color: #fff;
                        color: @color-primary;
                    }
                    &:active {
                        box-shadow: none;
                    }
                    &.added {
                        opacity: 1;
                        background: @color-primary;

                        &:hover {
                            
                        }
                        &:active {
                            box-shadow: none;
                        }
                    }
                }
                &:hover>.item-add {
                    .opacity(1, 0.5);
                    margin-top: 0;
                }
            }
        }
        &--thumbs {
            margin-bottom: 15px;

                .bond-slide {
                    width: auto;
                    
                    &.active {
                        .bond-slide_img {
                            padding: 10px !important;
                            img {
                             opacity: 0.87!important;
                            }
                        }
                    &:hover {
                        .bond-slide_img {                            
                            img {
                             opacity: 1!important;
                            }
                        }
                    }
                    }
                    }
                .bond-slide_img {
                    padding: 15px !important;
                    img {
                        opacity: 0.4 !important;
                    }
                }
                &:hover {
                    .bond-slide_img {
                        img {
                            .opacity(0.4, 0.3s) !important;
                            cursor: pointer;
                        }
                    }
                }
                .bond-slide.selected .bond-slide_img,
                .bond-slide.selected:hover .bond-slide_img,
                .bond-slide.selected:hover .bond-slide_img:hover {
                    padding: 5px !important;
                    cursor: pointer;
                }

                .bond-slide.selected img {
                    opacity: 1 !important;
                    box-shadow: 1px 2px 5px @color-black-disabled !important;
                }

            height: 130px;
            .bond-slide {
                .transitions();
            }
            .bond-slide_img {
                .transitions();
                padding: 15px;
                height: 100%;
                img {
                    .opacity(0.75, 0.3s);
                    display: block;
                    width: auto;
                    max-height: 100%;
                }
            }
            .bond-slide.selected .bond-slide_img,
            .bond-slide.selected:hover .bond-slide_img,
            .bond-slide.selected:hover .bond-slide_img:hover {
                padding: 5px;
            }
            .bond-slide.selected img {
                opacity: 1 !important;
                box-shadow: 1px 2px 5px @color-black-disabled;
            }
            .catalog-item:hover{
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                border: none !important;
                box-shadow: none;
            }
            .catalog-item:hover .bond-slide_img img {
                position: relative;
                opacity: 0.75;
            }
            .catalog-item:hover .bond-slide_img:hover {
                padding: 10px;
                & img {
                    opacity: 1;
                    box-shadow: 1px 1px 5px @color-black-disabled;
                }
            }
            .catalog-item {
                .transitions(all 0s ease);
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                border: none !important;
                &:hover>&_title {
                    display: block;
                }
                &_title {
                    .gradient-bg();
                    display: none;
                    position: absolute;
                    width: @grid-gutter-width*7;
                    padding: 0 @grid-gutter-width;
                    border: 2px solid #fff;
                    height: 100%;
                    left: -@grid-gutter-width*7;
                    color: @color-white;
                    font-size: @font-medium;
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
                    text-transform: uppercase;
                    &>span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }
                }
            }
        }
    }
}

.item-add:hover>.item-add_tooltip {
    opacity: 1;
}

.item-add:hover>.item-add_tooltip {
    opacity: 1;
}

.item-add_tooltip {
    .opacity(0, 0.5s);
    position: absolute;
    display: table;
    width: 240px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    margin-top: -35px;
    padding: 0 10px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
    }
    &>span {
        display: table-cell;
        img {
            width: 60px !important;

        }
    }
    &--photo {
        vertical-align: middle;
    }
    &--description {
        vertical-align: top;
        padding: 5px;
        .description-title {
            display: block;
            font-size: @font-normal;
            line-height: @font-normal;
            padding: 5px 0 0;
            color: @color-primary;
            font-weight: 500;
            text-align: left;
        }
        .price {
            font-size: 12px;
            display: block;
            padding: 5px 0 0;
            &>span {
                display: inline-block;
                position: relative;
            }
            &-discount {
                color: @color-red;
                font-weight: 600;
            }
            &-current {
                font-weight: 500;
                color: @color-black-primary;
            }
            &-past {
                padding: 0 2px;
                margin-right: 5px;
                color: @color-black-disabled;
                &:before {
                    .transitions();
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: @color-black-disabled;
                }
            }
        }
    }
    .buttons {
        padding: 10px 0 5px 0;
        width: 170px;

        &>.link {
            .transitions();
            display: inline-block;
            position: relative;
            padding-bottom: 2px;
            font-size: @font-small !important;
            line-height: @font-normal;
            letter-spacing: 0px;
            border: none;
            font-weight: 400;
            color: @color-black-secondary;
            &:hover {
                color: @color-black-primary;
            }
            &:last-child {
                color: @color-primary;
                margin-left: 10px;
                &:after {
                    background: @color-primary;
                }
            }
            &:after {
                .transitions();
                content: '';
                display: block;
                width: 0;
                height: 1px;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                background: @color-black-primary;
            }
            &>i {
                margin-right: 3px;
            }
            &:hover:after {
                width: 100%;
            }
            &:active:after {
                width: 50%;
            }
        }
    }
}



/*
.item-add_tooltip {
    .opacity(0, 0.5s);
    position: absolute;
    display: table;
    width: 240px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -115%);
    padding: 0 10px;    
    margin-top: -15px;
    box-shadow: 0 -2px 10px @color-black-disabled;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid #fff;
    }
    &>span {
        display: table-cell;
        img {
            max-width: 100%;
        }
    }
    &--photo {
        width: 60px !important;
        vertical-align: middle;
    }
    &--description {
        vertical-align: top;
        text-align: left;
        padding: 5px;
        .description-title {
            display: block;
            font-size: 15px;
            padding: 5px 0 0;
            color: @color-primary;
            font-weight: 500;
            white-space: nowrap;
        }
        .price {
            font-size: 12px;
            display: block;
            padding: 5px 0 0;
            &>span {
                display: inline-block;
                position: relative;
            }
            &-discount {
                color: @color-red;
                font-weight: 600;
            }
            &-current {
                font-weight: 500;
                color: @color-black-primary;
            }
            &-past {
                padding: 0 2px;
                margin-right: 5px;
                color: @color-black-disabled;
                &:before {
                    .transitions();
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: @color-black-disabled;
                }
            }
        }
    }

   .buttons {
        .btn-icon {
           width: 45px;
           background: @color-primary;
           color: #fff;
           margin-right: -1px;
        }
    }
   .buttons {
        &>a {
            .transitions();
            display: inline-block;
            position: relative;
            padding-bottom: 2px;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0px;
            border: none;
            font-weight: 400;
            color: @color-black-secondary;
            &:hover {
                color: @color-black-primary;
            }
            &:last-child {
                color: @color-primary;
                margin-left: 10px;
                &:after {
                    background: @color-primary;
                }
            }
            &:after {
                .transitions();
                content: '';
                display: block;
                width: 0;
                height: 1px;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                background: @color-black-primary;
            }
            &>i {
                margin-right: 3px;
            }
            &:hover:after {
                width: 100%;
            }
            &:active:after {
                width: 50%;
            }
        }
    }
}

*/