.page-home {
    overflow: hidden;
    .footer {        
        border-top: none;
        margin-top: 0;

        .copyright{
            bottom: 15px;
        }
    }
    body {
        padding-top: 0;
    }
    .move-down {
        .transitions();
        display: block;
        width: 40px;
        height: 40px;
        left: 50%;
        bottom: 30px;
        margin-left: -20px;
        position: absolute;
        z-index: 100;
        border: 1px solid #fff;
        cursor: pointer;
        &:before {
            .transitions();
            content: '\e916';
            font-family: 'icomoon';
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: '';
            position: absolute;
            background: #fff;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            opacity: 0.5;
        }
        &:hover {
            &:after {
                height: 100%;
                opacity: 1;
            }
            &:before {
            color: @color-black-primary;
            }
        }
        &:active {
            border: none;
            img {
                margin-top: 20px;
            }
        }
    }
    h2.plus {
        position: absolute;
        z-index: 100;
        bottom: 20%;
        left: 0;
        width: 100%;
        font-size: 40px;
        font-weight: lighter;
        text-align: center;
        color: #fff;
        &>span {
            display: block;
            width: 100%;
            font-size: @font-small;
            letter-spacing: 15px;
            text-align: center;
            color: @color-white-secondary;
            text-transform: uppercase;
            padding-top: 5px;
        }
        &>a {
            margin-top: 30px;
            text-transform: none;
        }
    }
    .video-bg {
        position: relative;
        height: 100%;
        background: transparent;
    }
    .background-video {
        background-image: url('src/img/video-bg.jpg') no-repeat center center;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1
    }
    video,
    source {
        bottom: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
    }
    .loaded .ytplayer-container {
        display: block;
    }
    .loaded .placeholder-image {
        opacity: 0;
    }
    .ytplayer-container {
        bottom: 0;
        height: 100%;
        left: 0;
        min-width: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
    .placeholder-image {
        height: 100%;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .ytplayer-shield {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .ytplayer-player {
        position: absolute;
    }
    .home-title {
        font-size: @font-huge;
        text-align: center;
        color: @color-black-primary;
        text-transform: uppercase;
        padding-top: 60px;
    }
}

.home-slider {
    position: relative;
    width: 100%;
    height: 60%;
    .slide {
        padding: 50px 0 0 60px;
        overflow: hidden;
        &_description {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 20;
            padding: 0 60px;
            width: 40%;
            height: 100%;
            background: #fff;
            &--inner {
                position: absolute;
                display: inline-block;
                bottom: 60px;
                left: 30px;
                h2 {
                    width: 100%;
                    font-size: @font-big;
                    line-height: @font-huge;
                    color: @color-black-primary;
                    padding: 60px 90px 60px 0;
                    span {
                        font-size: 90px;
                        line-height: 90px;
                        font-weight: 500;
                        display: block;
                        color: @color-black-primary;
                    }
                }
            }
        }
    }
    .fp-tableCell {
        height: 100% !important;
        position: relative;
    }
    img {
        position: absolute;
        max-height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.banners {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    padding: 0 @grid-gutter-width*2;
    display: flex;
    height: 35%;
    .row{
        flex-wrap: nowrap;
    }
    .banner {
        padding: 30px 15px 0;
        position: relative;
        img {
            .transitions();
            margin: 0 auto;
            position: relative;
            min-height: 100%;
            max-width: 100%;            
            object-fit: cover;
        }
        &:hover {
            img {
                margin-top: -60px;
                .box-shadow(2px 8px 30px 0 @color-black-disabled);
            }
        }
    }
}

.double-banners {
    position: relative;
    height: calc(~'100% - 410px');
    margin: 0 !important;
    padding: @grid-gutter-width/2 @grid-gutter-width*2;
    overflow: hidden;
    border-bottom: 30px solid #fff;
    .row{
        flex-wrap: nowrap;
    }
    .banner {
        position: relative;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        padding: @grid-gutter-width/2;
        margin-top: -100px;
        img {
            .transitions();
            margin: 0 auto;
            position: relative;
            min-height: 100%;
            max-width: 100%;
            width: 850px;
            height: 630px;
        }
        &:hover {
            img {
                margin-top: 60px;
                .box-shadow(2px 8px 30px 0 @color-black-disabled);
            }
        }
    }
}

/*Adaptivity*/

  @media (min-width: @screen-sm) {
    .home-slider .slide {
        padding: 50px 0 0 @grid-gutter-width/3;
    }
    .banners {
        padding: 0 @grid-gutter-width/3;
    }
    .double-banners {
        padding: @grid-gutter-width/2 @grid-gutter-width/3;
    }
    .ideas {
        padding: 0 @grid-gutter-width/3;
    }
  }

  @media (min-width: @screen-md) {
    .home-slider .slide {
        padding: 50px 0 0 @grid-gutter-width/2;
    }
    .banners {
        padding: 0 @grid-gutter-width/2;
    }
    .double-banners {
        padding: @grid-gutter-width/2 @grid-gutter-width/2;
    }
    .ideas {
        padding: 0 @grid-gutter-width/2;
    }
  }
  
  @media (min-width: @screen-lg) {
    .home-slider .slide {
        padding: 50px 0 0 @grid-gutter-width;
    }
    .banners {
        padding: 0 @grid-gutter-width;
    }
    .double-banners {
        padding: @grid-gutter-width/2 @grid-gutter-width;
    }
    .ideas {
        padding: 0 @grid-gutter-width;
    }
  }
  
  @media (min-width: @screen-xl) {
    .home-slider .slide {
        padding: 50px 0 0 @grid-gutter-width*2;
    }
    .banners {
        padding: 0 @grid-gutter-width*2;
    }
    .double-banners {
        padding: @grid-gutter-width/2 @grid-gutter-width*2;
    }    
    .ideas {
        padding: 0 @grid-gutter-width*2;
    }
  }
  
  @media (min-width: @screen-xxl) {

  }