﻿<div ng-mouseover="showUserMenu=true;" ng-mouseleave="showUserMenu=false;" ng-init="showUserMenu=false;" ng-show="$ctrl.isAuthenticated">
    <div class="user">
        <a>
            <i class="icon-user"></i>
        </a>
    </div>
    <ul ng-show="showUserMenu" ng-mouseover="showUserMenu=true;" ng-mouseleave="showUserMenu=false;">
        <li><a href="/personal/profile">Профиль</a></li>
        <li><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">Подписки</a></li>
        <li><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">История заказов</a></li>
        <li><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">Проекты</a></li>
        <li><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">Уведомления</a></li>
        <li><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">История общения</a></li>
        <li><a href="/personal/favorite">Избранное</a></li>
        <li ng-if="$ctrl.isAdmin"><a href="/administrativetools/verifysellers">Управление ролями</a></li>
        <li ng-if="$ctrl.isAdmin"><a href="/administrativetools/customerrequests">Заявки</a></li>
        <li ng-if="$ctrl.isAdmin || $ctrl.isMarketer || $ctrl.isContentManager"><a href="/import/collections">Загрузка товаров</a></li>
        <li ng-if="$ctrl.isAdmin || $ctrl.isMarketer || $ctrl.isContentManager"><a ng-click="$ctrl.functionalityInDev()" href="javascript:void(0)">Управление акциями</a></li>
        <li ng-click="$ctrl.logout()"><a href="javascript:void(0)">Выход</a></li>
    </ul>
</div>

<div ng-hide="$ctrl.isAuthenticated" ng-click="$ctrl.changeLoginFormVisible()">
    <div class="user">
        <a>
            <i class="icon-locked"></i>
        </a>
    </div>
</div>

<div class="container loginform" ng-show="$ctrl.loginFormIsShow">
    <i class="icon-cancel" ng-click="$ctrl.changeLoginFormVisible()"></i>
            <form novalidate name="loginform">
                <h3>Авторизация</h3>
                        <ul class="loginform_nav">
                            <li ng-click="$ctrl.loginByUserPhone=false" ng-class="{'active': !$ctrl.loginByUserPhone}"><a href=""><i class="icon-user"></i> По логину</a></li>
                            <li ng-click="$ctrl.loginByUserPhone=true" ng-class="{'active': $ctrl.loginByUserPhone}"><a href=""><i class="icon-telephone"></i> По телефону</a></li>
                        </ul>

                        <!--<label ng-show="$ctrl.loginByUserPhone">Вход по телефону</label>
                        <label ng-hide="$ctrl.loginByUserPhone">Вход по логину</label>-->
                        <div class="form-group login-form_login">
                            <input class="form-control" placeholder="Логин" name="login" type="text" ng-model="$ctrl.userLogin" kd-focus="!$ctrl.loginByUserPhone" ng-if="!$ctrl.loginByUserPhone" maxlength="200" tabindex="1" />
                            <!-- войти по телефону -->

                            <!-- войти по логину 
                            <label ng-hide="$ctrl.loginByUserPhone">
                                Войти по телефону
                                <input type="checkbox" ng-model="$ctrl.loginByUserPhone" />
                            </label>-->
                        </div>
                        <div class="form-group  login-form_phone">
                            <input class="form-control" name="userPhone" type="text" ng-model="$ctrl.userPhone" kd-focus="$ctrl.loginByUserPhone" ng-if="$ctrl.loginByUserPhone" ui-mask="+9 (999) 999-99-99" ui-mask-placeholder="+7 (___) ___-__-__" tabindex="1" />
                        </div>
                        <div class="form-group  login-form_psw">
                            <input ng-keyup="$event.keyCode == 13 && $ctrl.login()" class="form-control" placeholder="Пароль" name="password" type="password" required="" ng-model="$ctrl.userPassword" tabindex="2" />
                        </div>
                        <div class="buttons">
                            <a class="btn btn-black btn-sm rtl" ng-click="$ctrl.goToRegisterState()">Регистрация</a>
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.login()">
                                Войти
                            </button>
                        </div>
                        <div class="form-group text-center last">
                            <a ng-click="$ctrl.goToRecoveryState()">Забыли пароль?</a>
                        </div>
            </form>
</div>

