﻿<div class="selector" click-outside="$ctrl.isShow=false" ng-if="$ctrl.items.length > 0">
    <label ng-if="$ctrl.settings.label" class="selector-label">{{$ctrl.settings.label}}
        <i class="bage" ng-bind="$ctrl.kdBage" ng-if="$ctrl.items.length > 1"></i>
    </label>
    <div class="cs-select" ng-class="{'cs-active' : $ctrl.isShow}" tabindex="0">
        <span ng-show="!$ctrl.currentItem" class="cs-placeholder" ng-bind="$ctrl.settings.placeholder" ng-click="$ctrl.isShow =! $ctrl.isShow"></span>
        <!-- как лучше сравнивать - объектами или полями ид? -->
        
        <span ng-repeat="item in $ctrl.items track by $index" 
              class="cs-placeholder"              
              ng-show="item.id == $ctrl.currentItem.id"
              ng-click="$ctrl.isShow =! $ctrl.isShow">       
            <span ng-bind="item.name"></span>     
            <img style="height: 64px ;width: 64px; float: left;" ng-if="item.imageUrl" ng-src="{{item.imageUrl}}" />
        </span>

        <div class="cs-options">
            <ul ng-repeat="item in $ctrl.items track by $index">
                <li ng-click="$ctrl.itemSelect(item)" class="{{item.class}}" ng-class="{'cs-selected': item.id === $ctrl.currentItem.id}">
                    <span ng-bind="item.name"></span>
                </li>
            </ul>
        </div>
    </div>
</div>