.shop-wrapper {
    .row(0);
    &_nav {
        .col(xs, 2);
        &>h2 {
            position: relative;
            font-size: @font-medium;
            font-weight: 500;
            height: 40px;
            line-height: 40px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #e0e0e0;
            }
        }
        &>ul {
            margin: 0;
            padding: 20px 0;
            display: block;
            width: 100%;
            &>li {
                &>a {
                    .transitions();
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    font-size: @font-normal;
                    color: @color-black-primary;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        text-decoration: none;
                        padding: 0 20px 0 10px;
                        border-color: @color-black-divider;
                        &>span {
                            color: @color-black-primary;
                        }
                    }
                    &>span {
                        display: inline-block;
                        float: right;
                        color: @color-black-secondary;
                        cursor: default;
                    }
                }
                &.active{
                    a{
                        padding: 0 5px;
                        border-color: @color-primary;
                        font-weight: 500;
                    }
                }
            }
        }
        
        &>ul.shop-wrapper_nav--list {
            margin: 0;
            padding: 20px 0;
            display: block;
            width: 100%;
            &>li {
                &>a {
                    .transitions();
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    font-size: @font-normal;
                    color: @color-black-primary;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        text-decoration: none;
                        padding: 0 20px 0 10px;
                        border-color: @color-black-divider;
                        &>span {
                            color: @color-black-primary;
                        }
                    }
                    &>span {
                        display: inline-block;
                        float: right;
                        color: @color-black-secondary;
                        cursor: default;
                    }
                }
            }
        }
    }

    &_nav {
    z-index: 100;
    &--options,
    &--options ul,
    &--options li {
        list-style: none;
        display: block;
        width: 100%;
    }
    &--options ul {
        padding: 0;
        margin-bottom: 15px;
    }
    &--options {
        margin: 0;
        padding: 0 !important;
        strong {
            font-weight: @font-bold;
            color: @color-black-primary;
        }
        label {
            white-space: nowrap;
            font-size: @font-normal;
        }
    }
    &--options>li {
        margin: 10px 0;
        font-size: @font-big;
            position: relative;

        &>a {
            font-size: @font-big !important;
            font-weight: @font-medium;
            &:hover {
                letter-spacing: 0;
                padding:0 !important;
            }
        }
        .checked-options {
            p {
                .transitions();
                padding: 5px 0 0 15px;
                display: none;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                &:before {
                    .transitions();
                    font-family: 'icomoon' !important;
                    content: '\e90b';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: 2px;
                    font-size: @font-small;
                    transform: translateY(-50%);
                    color: @color-black-disabled;
                }
                &:hover {
                    letter-spacing: -1px;
                    color: @color-black-disabled;
                    &:before {
                        content: '\e908';
                        color: @color-red;
                        font-size: @font-smallest;
                    }
                }
                &.active {
                    display: block;
                }
            }
        }
        .checked-options.thumbs {
            span {
                .transitions();
                padding: 5px 0 0;
                display: none;
                //overflow: hidden;
                position: relative;
                cursor: pointer;
                .option-thumb {
                    display: block;
                    width: 20px;
                    height: 20px;
                    &>img {
                        width: 100%;
                    }
                }
                &:before {
                    content:'';
                }
                &>span{
                padding: 0 !important;
                position: relative;
                }
                &>span:before {
                    .transitions();
                    font-family: 'icomoon' !important;
                    content: '\e908';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: @font-small;
                    transform: translate(-50%, -50%);
                    color: transparent;
                }
                &:hover {
                    letter-spacing: -1px;
                    color: @color-black-disabled;
                    &>span:before {
                        content: '\e908';
                        font-size: @font-smallest;
                        color: @color-red;
                    }
                }
                &.active {
                    display: inline-block;
                }
            }
        }
    }
    &--options>li li {
        height: 35px;
        line-height: 35px;
        font-size: @font-medium;
        font-weight: @font-light;
        position: relative;
        &.small {
            height: 25px;
            line-height: 25px;
            strong {
                font-size: @font-normal;
            }
        }

        &>a {
            padding-left: 25px;
            color: @color-black-primary;
        }
    }
    &--options a {
        .transitions();
        font-weight: @font-light !important;
        display: block;
        position: relative;
        color: @color-black-primary;
        outline: none;
        text-decoration: none;
    }
    &--options li>a>span {
        .transitions();
        font-family: 'icomoon' !important;
        float: right;
        font-size: 28px;
    }
    &--options li>a:hover>span {
        transform: rotate(-90deg);
    }
    &--options li>a>span:after {
        content: '\e90c';
    }
    &--options li.open {

        &>a {
            border-color: @color-black-divider;
        }
        &>ul {
            display: block !important;
            max-height: 100%;
            margin-top: 15px;
        }
        .checked-options {
            display: none;
        }
        &>a {
            color: #000;
        }
    }
    &--options li.open>a>span {
        transform: rotate(-180deg);
    }
    &--options a:hover,
    &--options a.active,
    &--options li.active>a {
        color: #000;
        letter-spacing: 2px;
        font-weight: @font-bold;
    }
    &_inner {
        .transitions(all 0.5s ease);
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        left: 100%;
        &.active {
            display: block;
        }
        .furniture-options {
            border-top: 1px solid @color-black-divider;
            padding-top: 15px;
        }
        .furniture-options.lists>form>p {
            width: 100%;
            height: 18px;
            line-height: 18px;
        }
    }
    ul.furniture-options>li {
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        [type="checkbox"]:not(:checked)+label {
            padding-left: 5px;
        }
        [type="checkbox"]:checked+label {
            padding-left: 10px;
        }
    }
}

    .shop-content {
        .col(xs, 10);
        &_title {
            font-size: @font-huge;
            padding-top: 10px;
            font-weight: 400;
        }
    }
}

/*Adaptivity*/

  @media (min-width: @screen-xs) {
    .shop-wrapper_nav {
        display: none;
    }
    .shop-wrapper .shop-content{
        .col(xs,12);
    }
  }

  @media (min-width: @screen-sm) {
    .shop-wrapper_nav {
        .col(xs,4);
    }
    .shop-wrapper .shop-content{
        .col(xs,8);
    }
  }

  @media (min-width: @screen-md) {

  }
  
  @media (min-width: @screen-lg) {
    .shop-wrapper_nav {
        .col(xs,3);
    }
    .shop-wrapper .shop-content{
        .col(xs,9);
    }
  }
  
  @media (min-width: @screen-xl) {
    .shop-wrapper_nav {
        .col(xs,2);
    }
    .shop-wrapper .shop-content{
        .col(xs,10);
    }
  }
  
  @media (min-width: @screen-xxl) {
    .shop-wrapper_nav {
        .col(xs,2);
    }
    .shop-wrapper .shop-content{
        .col(xs,10);
    }
  }