﻿    .register-container {
        height: 330px;

        &_preloader{
            text-align: center;

            &--spinner{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                margin: -60px -25px;
                color: @color-primary;
                font-size: 50px;
                -webkit-animation-name: spin;
                -webkit-animation-duration: 4000ms;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-name: spin;
                -moz-animation-duration: 4000ms;
                -moz-animation-iteration-count: infinite;
                -moz-animation-timing-function: linear;
                -ms-animation-name: spin;
                -ms-animation-duration: 4000ms;
                -ms-animation-iteration-count: infinite;
                -ms-animation-timing-function: linear;    
                animation-name: spin;
                animation-duration: 4000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            h5{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                padding-top: 50px;
                line-height: 20px;
            }
        }
    }
    
    .request-container {
        padding: 15px;
    }
    .request-container .checkbox{
        margin-top: 15px;
        text-align: center;
    }

    .request-container .icon-cancel {
        float: right;
        padding: 10px;
        margin-right: -15px;
        margin-top: -15px;
        cursor: pointer;
    }
 
 label.toggle-link{
        display: block;
        line-height: 14px;
        color: #2196f3;
        text-align: center;
    }
    .request-container form:after {
        content: '';
        display: table;
        clear: both;
    }

    .request-container .form-group {
        padding: 5px;
    }

    .request-container .form-group > label {
        display: inline-block;
        width: 30%;
    }

    .request-container .form-group > input {
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out;
        color: @color-primary;
        border: none;
        padding: 10px 0;
        border-radius: 0;
        width: 70%;
        background: transparent;
        font-weight: 400;
        font-size: 14px;
        -webkit-appearance: none;
        border-bottom: 1px solid @color-black-divider;
    }
    .request-container .form-group > input:focus {
        outline: none;
        border-bottom: 1px solid @color-primary;
    }

    .request-container .form-group > input.ng-invalid.ng-dirty {
         border-bottom: 1px solid @color-red;
    }

    .request-container .btn {
        margin-top: 20px;
    }

    .request-container .btn:disabled {
        opacity: 0.5;
        cursor: initial;
    }



@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}