﻿<h2>Элементы коллекции</h2>
<ul>
    <li ng-class="{'active' : !$ctrl.isAnyTypeIsSelected()}">
        <a href="" ng-click="$ctrl.onClick('')">Все<span ng-bind="$ctrl.totalCount"></span></a>
    </li>
    <li ng-repeat="item in $ctrl.listItems" ng-class="{'active' : item.isActive}" ng-if="item.amount != 0">
        <a href="" ng-click="$ctrl.onClick(item.id)">{{item.name}}<span ng-bind="item.amount"></span></a>
    </li>
</ul>