﻿<div ng-cloak>
    <div>
        <div ng-show="$ctrl.isShowCityPopup" class="geo-city">
            <div class="geo-title" ng-bind="'Ваш город: ' + $ctrl.curCity.Title + '?'"></div>
            <div class="buttons">
                <button ng-click="$ctrl.asseptCity($ctrl.curCity.Title)" class="btn btn-primary btn-sm rtl">Да</button>
                <button ng-click="$ctrl.rejectCity()" class="btn btn-primary btn-sm">Нет</button>
            </div>
        </div>
        <div ng-show="$ctrl.isShowCitiesPopup" class="ng-cloak">
            <!-- Class fullpagejs-do-not-scroll is used in normalScrollElements option of fullPage.js -->
            <div class="geo-list fullpagejs-do-not-scroll">
                <i class="icon-cancel" ng-click="$ctrl.close()"></i>
                <h4>Выбор города</h4>
                <div class="geo-list_content" id="cities">

                    <!-- Закоменчен поиск города, в работе реализация -->
                    <!--<div class="form-group">
                        <input type="text" name="cities_search" class="form-control search" placeholder="Начните вводить название">
                    </div>-->
                    <ul class="geo-list_content--list list">
                        <li ng-repeat="city in $ctrl.cities">
                            <p class="city-title"
                               ng-click="$ctrl.selectCity(city.Id, city.Title, city.PriceZoneId, city.DeliveryPrice)"
                               ng-bind="city.Title">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div ng-cloak>
    <div>
        <div ng-show="$ctrl.isShowCityPopup" class="geo-city">
            <div class="geo-title" ng-bind="'Ваш город: ' + $ctrl.curCity.Title + '?'"></div>
            <div class="buttons">
                <button ng-click="$ctrl.asseptCity($ctrl.curCity.Title)" class="btn btn-primary btn-sm rtl">Да</button>
                <button ng-click="$ctrl.rejectCity()" class="btn btn-primary btn-sm">Нет</button>
            </div>
        </div>
            <div ng-show="$ctrl.isShowCitiesPopup" class="ng-cloak">
                <div class="popup-cities fullpagejs-do-not-scroll"
                     ng-class="{
                     'count-40' : $ctrl.cities.length>
                    40,
                    'count-100': $ctrl.cities.length >100,
                    }">
                    <div class="popup-header">
                        <span>Выберите город:</span>
                        <span ng-click="$ctrl.close()" style="cursor:pointer;float:right">x</span>
                    </div>
                    <div class="popup-content">
                        <div ng-repeat="city in $ctrl.cities">
                            <a class="city-name"
                               href="javascript:;"
                               ng-click="$ctrl.selectCity(city.Id, city.Title, city.PriceZoneId, city.DeliveryPrice)"
                               ng-bind="city.Title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


-->
