﻿<div id="modal-products-images" ng-show="$ctrl.show" class="modal">
    <div class="modal-content">
        <div>
            <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Создать скидку на:</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div>Серии</div>
                        <input id="all-series" type="checkbox" ng-model="$ctrl.isAllSeriesSelected" ng-click="$ctrl.selectAllSeries()" />
                        <label for="all-series">Все</label>
                        <div ng-repeat="item in $ctrl.series| orderBy:'syncCode1C'">
                            <input id="{{item.id}}" type="checkbox" ng-model="item.isSelected" ng-click="$ctrl.getVendorCodes(); $ctrl.isAllSeriesSelected=false" />
                            <label for="{{item.id}}" ng-bind="item.syncCode1C"></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>Тип комнаты</div>
                        <input id="all-rooms" type="checkbox" ng-model="$ctrl.isAllRoomsSelected" ng-click="$ctrl.selectAllRooms()" />
                        <label for="all-rooms">Все</label>
                        <div ng-repeat="item in $ctrl.rooms| orderBy:'syncCode1C'">
                            <input id="{{item.id}}" type="checkbox" ng-model="item.isSelected" ng-click="$ctrl.getVendorCodes(); $ctrl.isAllRoomsSelected=false" />
                            <label for="{{item.id}}" ng-bind="item.syncCode1C"></label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div>Тип артикула</div>
                        <input id="all-furniture" type="checkbox" ng-model="$ctrl.isAllFurnitureTypesSelected" ng-click="$ctrl.selectAllFurnitures()" />
                        <label for="all-furniture">Все</label>
                        <div ng-repeat="item in $ctrl.furnitureTypes| orderBy:'syncCode1C'">
                            <input id="{{item.id}}" type="checkbox" ng-model="item.isSelected" ng-click="$ctrl.getVendorCodes(); $ctrl.isAllFurnitureTypesSelected=false" />
                            <label for="{{item.id}}" ng-bind="item.syncCode1C"></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>Артикул</div>
                        <input id="all-vendorcodes" type="checkbox" ng-model="$ctrl.isAllVendorCodesSelected" ng-click="$ctrl.selectAllVendorCodes()" />
                        <label for="all-vendorcodes">Все</label>
                        <div ng-repeat="item in $ctrl.vendorCodes| orderBy:'syncCode1C'">
                            <input id="{{item.id}}" type="checkbox" ng-model="item.isSelected" />
                            <label for="{{item.id}}" ng-bind="item.syncCode1C"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span>Выбрано</span>
                <div>
                    <span>Серия:</span>
                    <span ng-repeat="item in $ctrl.series | filter: { 'isSelected': true} track by item.syncCode1C">
                        <span ng-bind="$last === true ? item.syncCode1C : item.syncCode1C +', '"></span>
                    </span>
                </div>
                <div>
                    <span>Тип комнаты:</span>
                    <span ng-repeat="item in $ctrl.rooms | filter: { 'isSelected': true} track by item.syncCode1C">
                        <span ng-bind="$last === true ? item.syncCode1C : item.syncCode1C +', '"></span>
                    </span>
                </div>
                <div>
                    <span>Тип артикула:</span>
                    <span ng-repeat="item in $ctrl.furnitureTypes | filter: { 'isSelected': true} track by item.syncCode1C">
                        <span ng-bind="$last === true ? item.syncCode1C : item.syncCode1C +', '"></span>
                    </span>
                </div>
                <div>
                    <span>Артикул:</span>
                    <span ng-repeat="item in $ctrl.vendorCodes | filter: { 'isSelected': true} track by item.syncCode1C">
                        <span ng-bind="$last === true ? item.syncCode1C : item.syncCode1C +', '"></span>
                    </span>
                </div>
                <p class="text-center"><button ng-click="$ctrl.ok()" class="btn btn-primary">Выбрать</button></p>
            </div>
        </div>
    </div>
</div>