.footer {
    .row();
    position: relative;
    /*height: 260px;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: @grid-gutter-width*2;
    padding: 25px @grid-gutter-width*2;
    border-top: 2px solid @color-black-divider;
    color: @color-black-secondary;
    font-size: @font-small;
    min-height: 180px;

    & h2 {
        font-size: @font-normal;
        color: @color-black-primary;
        padding-bottom: 5px;
    }

    &-about {
        .col(xs, 3);
        padding-left: 0;
        font-size: @font-normal;
        line-height: @font-big;
    }

    &-menu {
        .col(xs, 6);

        & > table {
            width: 100%;
            font-size: @font-small;

            td {
                .transitions();
                width: 25%;
                padding: 0 30px 5px 0;
                cursor: pointer;

                &:hover {
                    color: @color-black-primary;
                    padding: 0 20px 5px 10px;
                }

                & > h2 {
                    padding-bottom: 7px;
                }
            }

            tr:first-child > td:hover {
                padding: 0 30px 5px 0px;
                cursor: default;
            }
        }
    }

    &-contact {
        .col(xs, 3);
        padding: 0;

        h2 {
            font-size: @font-small;
            text-align: center;
            color: @color-black-secondary;
        }

        &_phone {
            margin-bottom: 15px;

            tr > td:first-child {
                width: 20px;
                padding-right: 0;

                img {
                    width: 18px;
                    opacity: 0.54;
                    display: inline-block;
                    margin: 10px 10px 10px 0;
                    float: left;
                }
            }

            tr > td:last-child {
                button {
                    width: 150px;
                }
            }
        }

        h3 {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: @font-big;
            white-space: nowrap;

            & > button {
                max-width: 180px;
                float: right;
            }
        }

        button {
            .transitions();
            background: transparent;
            width: 100%;
            height: 30px;
            padding: 0 5px;
            font-size: @font-small;
            color: @color-primary;

            &:hover {
            }
        }

        table {
            width: 100%;
            margin-top: 10px;

            td {
                width: 33%;
                padding-right: 10px;
                font-size: @font-normal;
                vertical-align: middle;

                input {
                    outline: none;
                    width: 100%;
                    height: 30px;
                    padding: 0 5px;
                    border: 2px solid @color-black-divider;
                }
            }

            tr > td:last-child {
                padding-right: 0;
            }
        }
    }
}

.copyright {
    display:block;
    width: 100%;
    font-size: @font-small;
    color: @color-black-disabled;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    width: 100%;
}



@media (min-width: @screen-xs) {
    .footer h2 {
        line-height: @font-normal;
    }
}

@media (min-width: @screen-sm) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-about {
        flex: 0 0 50%;
        max-width: 50%;
        order: 1;
        /*padding-bottom: 30px;*/
    }

    .footer-contact {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
        padding-bottom: 20px;
    }

    .footer-menu {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
        padding-left: 0;
        padding-right: 0;
    }

    .page-home .footer .copyright {
        bottom: 15px;
        order: 3;
    }
}

@media (min-width: @screen-md) {
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: @screen-lg) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    /*.footer-menu {
        flex: 0 0 65%;
        max-width: 65%;
        padding-left: 0;
        order: 2;
    }

    .footer-contact {
        flex: 0 0 35%;
        max-width: 35%;
        order: 3;
    }

    .footer-menu > table td {
        padding: 0 5px 5px 0;
    }*/
}

@media (min-width: @screen-xl) {
    .footer {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: @screen-xxl) {
    .footer-about {
        .col(xs, 3);
        display: block;
        padding-left: 0;
        font-size: @font-normal;
        line-height: @font-big;
        order: 1;
    }

    .footer-menu {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
        padding: 0 @grid-gutter-width*2;
    }

    .footer-contact {
        flex: 0 0 25%;
        max-width: 25%;
        order: 3;
    }
}
