﻿<h1 class="page-header">Скидки <button class="btn btn-default pull-right" ng-click="$ctrl.addInstallment()">Создать скидку</button></h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="min-width: 250px;">Товар</th>
                        <th>Скидка %</th>
                        <th>Рассрочка 6 мес. %</th>
                        <th>Рассрочка 10 мес. %</th>
                        <th>Рассрочка 12 мес. %</th>
                        <th>Рассрочка 18 мес. %</th>
                        <th>Рассрочка 24 мес. %</th>
                        <th>Рассрочка 36 мес. %</th>
                        <th>Рассрочка 48 мес. %</th>
                        <th>Дата начала</th>
                        <th>Дата конца</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.sets track by $index">
                        <td ng-bind="item.name"></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.discount" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment6Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment10Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment12Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment18Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment24Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment36Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><input class="form-control" type="number" min="0" max="100" ng-model="item.installment48Month" ng-change="$ctrl.checkValue(item)" ng-disabled="!item.isNew" /></td>
                        <td><kd-admin-date-picker-range kd-model="item.dateStart"></kd-admin-date-picker-range></td>
                        <td><kd-admin-date-picker-range kd-model="item.dateEnd"></kd-admin-date-picker-range></td>
                        <td><button type="button" class="btn btn-link" ng-click="$ctrl.copy(item)">Копировать</button></td>
                        <td><button type="button" class="btn btn-default" ng-click="$ctrl.delete(item)">Удалить</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
    </div>
</div>

<kd-products-installment-filter show="$ctrl.showFilter" on-select="$ctrl.selectFilter" on-close="$ctrl.onClose"></kd-products-installment-filter>