﻿@model KonigDev.Lazurit.Store.ViewModels.ProfileViewModels.VmChangeEmail

<div>
    <h2>
        Пожалуйста, подтвердите изменение email, кликнув на ссылку
        <a href="@Model.ConfirmUrl">Тут</a>
    </h2>
</div>