<label class="field-select">
  <div class="field-select__name">Селект</div>
  <div class="field-select__select-wrap">
    <select class="field-select__select">
      <optgroup label="Группа">
        <option>Значение 1</option>
        <option>Значение 2</option>
        <option>Значение 3</option>
      </optgroup>
      <option>Значение 10</option>
    </select>
    <small class="field-select__help-text">Обёртка — <code>&lt;label&gt;</code>.</small>
  </div>
</label>