﻿<div class="modal-dialog cart-over" ng-show="$ctrl.isMiniCartEnabled" ng-click="$ctrl.showCart()"></div>
<div class="basket-mini" ng-show="$ctrl.isMiniCartEnabled">    
    <div class="basket-mini-head">        
        <i class="icon-cart"</i>
        <i class="icon-cancel" ng-click="$ctrl.showCart()"></i>
    </div>
    
    <div class="basket-mini-content">
        <!--header-->        		
        <div class="row tbl-head">
            <div class="col-md-8">Товар</div>
            <div class="col-md-2">Кол-во</div>
            <div class="col-md-2">Цена</div>
        </div>

        <!--products-->
        <div class="row product-item" ng-repeat="product in $ctrl.cartMapped.products">
            <div class="col-md-2">
                <!--TODO: while furnitureAlias has no realisation in DB it's mocked-->
                <a ng-href="/catalog/product/furnitureAlias/{{product.collectionAlias}}-{{product.articleSyncCode1C}}/#/{{product.syncCode1C}}">
                    <img ng-src="/api/images/product/{{product.itemId}}/WithoutInterior"/>
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <a ng-bind="product.furnitureType + ' ' + product.seriesName + ' '+ 'Арт.' + product.syncCode1C" ng-href="/catalog/product/furnitureAlias/{{product.collectionAlias}}-{{product.articleSyncCode1C}}/#/{{product.syncCode1C}}"></a>
            </div>
            <div class="col-md-2">
                <span class="qnt" ng-bind="product.quantity"></span>
            </div>
            <div class="col-md-2">
                <span class="price" ng-bind="$ctrl.calculatePriceForProduct(product)"></span>
            </div>
            <span class="del-btn" ng-click="$ctrl.deleteProductFromCart(product.id)"></span>
        </div>

        <!--collections-->
        <div class="row product-item" ng-repeat="collection in $ctrl.cartMapped.collections">
            <div class="col-md-2">
                <a ng-href="/catalog/{{collection.roomTypeAlias}}/{{collection.collectionAlias}}">
                    <img ng-src="/api/images/collection/{{collection.collectionVariantId}}/InInterior" class="cart-mini-cell-image" />
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <a ng-bind="'Коллекция ' + collection.roomTypeName +' '+ collection.seriesName" ng-href="/catalog/{{collection.roomTypeAlias}}/{{collection.collectionAlias}}"></a>
            </div>
            
            <div class="col-md-2">
                <span class="qnt" ng-bind="collection.quantity"></span>
            </div>
            <div class="col-md-2">
                <span class="price" ng-bind="$ctrl.calculatePriceForCollection(collection)"></span>
            </div>
            <span ng-click="$ctrl.deleteItemFullCollectionFromCart(collection.id)" class="del-btn"></span>              
        </div>

        <!--complects-->
        <div class="row product-item" ng-repeat="complect in $ctrl.cartMapped.complects">
            <div class="col-md-2">
                <a ng-href="/catalog/{{complect.roomTypeAlias}}/{{complect.collectionAlias}}">
                    <img ng-src="/api/images/collectionvariant/{{complect.itemId}}/InInterior" class="cart-mini-cell-image" />
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <a ng-bind="'Комплект ' + complect.roomTypeName + complect.seriesName" ng-href="/catalog/{{complect.roomTypeAlias}}/{{complect.collectionAlias}}"></a>
            </div>
            <div class="col-md-2">
                <span class="qnt" ng-bind="complect.quantity"></span>
            </div>
            <div class="col-md-2">
                <span class="price" ng-bind="$ctrl.calculatePriceForComplect(complect)"></span>
            </div>           
            <span class="del-btn" ng-click="$ctrl.deleteComplectFromCart(complect.id)"></span>
        </div>
    </div>

    <div class="basket-mini-footer">
        <hr/>
        <div class="total">
            <span>Итого:</span>
            <span ng-bind="$ctrl.calculateTotalPrice()"></span><br/>
            <div ng-hide="$ctrl.totalSavingAcount===0"><span class="economy">Экономия:</span> <span class="economy" ng-bind="$ctrl.calculateTotalSaving()"></span><br/></div>
            <span>Рассрочка:</span> <span ng-bind="$ctrl.selectedInstallment.name"></span><br/>
            <span>В рассрочку:</span> <span ng-bind="$ctrl.calculateInstallmentPayment()"></span>            
        </div>
        <div style="margin-top: 40px;">
            <button class="btn btn-primary btn-buy" ng-click="$ctrl.goToCart()">Купить</button>
            <!--                
            Нет в дизайне
            <button class="btn btn-primary" ng-click="$ctrl.makePayment()">Покупка в один клик</button>
            -->
        </div>
        <div>
            <h2 ng-click="$ctrl.showCart()">Продолжить покупки</h2>
        </div>
    </div>
</div>